<div class="bids-info">
  <div class="info-item">
    <div class="title">{{bidName}}</div>
    <div class="info-content clearfix">
      <div class="project-item">
        <span class="item-key">项目所在地：</span>
        <span class="item-val">{{city}}</span>
      </div>
      <div class="project-item">
        <span class="item-key">专业分类：</span>
        <span class="item-val">{{speciality}}</span>
      </div>
      <div class="project-item">
        <span class="item-key">建筑面积：</span>
        <span class="item-val">{{buildingArea}}㎡</span>
      </div>
      <div class="project-item">
        <span class="item-key">业态类型：</span>
        <span class="item-val">
          {{#equals projectType 1}}住宅{{/equals}}
          {{#equals projectType 2}}商业{{/equals}}
          {{#equals projectType 3}}旅游{{/equals}}
          {{#equals projectType 4}}综合体{{/equals}}
        </span>
      </div>
    </div>
  </div>
  <div class="info-item">
    <div class="title">招标详情</div>
    <table class="table table-bids-info" width="100%;">
      <tbody>
        {{#withList notification}}
          {{#if projectName}}
            <tr>
              <th width="160">项目名称</th>
              <td width="680">{{../projectName}}</td>
            </tr>
          {{/if}}
          {{#if city}}
            <tr>
              <th width="160">所在城市</th>
              <td width="680">{{../city}}</td>
            </tr>
          {{/if}}
          {{#if addressDetail}}
            <tr>
              <th width="160">项目详细地址</th>
              <td width="680">{{../addressDetail}}</td>
            </tr>
          {{/if}}
          {{#if applicationConditions}}
            <tr>
              <th width="160">供应商报名要求</th>
              <td width="680">{{#if ../applicationConditions}}{{../applicationConditions}}{{else}}-{{/if}}</td>
            </tr>
          {{/if}}
          {{#if bidType}}
            <tr>
              <th width="160">招标类别</th>
              <td width="680">
                {{#equals ../bidType 1}}总包{{/equals}}
                {{#equals ../bidType 2}}专业分包{{/equals}}
                {{#equals ../bidType 3}}设备{{/equals}}
                {{#equals ../bidType 4}}专业服务{{/equals}}
              </td>
            </tr>
          {{/if}}
          {{#if bidWay}}
            <tr>
              <th width="160">招标方式</th>
              <td width="680">
                {{#equals ../bidWay 1}}公开招标{{/equals}}
                {{#equals ../bidWay 2}}邀请招标{{/equals}}
              </td>
            </tr>
          {{/if}}
          {{#if bidCompany}}
            <tr>
              <th width="160">招标单位</th>
              <td width="680">
                {{#if ../bidCompany}}{{../bidCompany}}{{else}}-{{/if}}
              </td>
            </tr>
          {{/if}}
          {{#if estimatedAmount}}
            <tr>
              <th width="160">概算金额</th>
              <td width="680">{{#if ../estimatedAmount}}{{formatNumber ../estimatedAmount}}元{{else}}-{{/if}}</td>
            </tr>
          {{/if}}
          {{#if bidFileOperatorName}}
            <tr>
              <th width="160">招标文件经办人</th>
              <td width="680">{{../bidFileOperatorName}}</td>
            </tr>
          {{/if}}
          {{#if bidBonds}}
            <tr>
              <th width="160">投标保证金</th>
              <td width="680">{{#if ../bidBonds}}{{formatNumber ../bidBonds}}元{{else}}-{{/if}}</td>
            </tr>
          {{/if}}
          {{#if timePlan}}
            <tr>
              <th width="160">计划工期</th>
              <td width="680">{{#if ../timePlan}}{{../timePlan}}天{{else}}-{{/if}}</td>
            </tr>
          {{/if}}
          {{#if judgeRule}}
            <tr>
              <th width="160">评价原则</th>
              <td width="680">{{#if ../judgeRule}}{{../judgeRule}}{{else}}-{{/if}}</td>
            </tr>
          {{/if}}
          {{#if tenderFinalistsOperatorName}}
            <tr>
              <th width="160">联系人</th>
              <td width="680">{{#if ../tenderFinalistsOperatorName}}{{../tenderFinalistsOperatorName}}{{else}}-{{/if}}</td>
            </tr>
          {{/if}}
          {{#if contact}}
            <tr>
              <th width="160">联系方式</th>
              <td width="680">{{#if ../contact}}{{../contact}}{{else}}-{{/if}}</td>
            </tr>
          {{/if}}
          {{#if remark}}
            <tr>
              <th width="160">备注</th>
              <td width="680">{{#if ../remark}}{{../remark}}{{else}}-{{/if}}</td>
            </tr>
          {{/if}}
          {{#if planBidDate}}
            <tr>
              <th width="160">计划发标时间：</th>
              <td width="680">{{#if ../planBidDate}}{{formatDate ../planBidDate "day"}}{{else}}-{{/if}}</td>
            </tr>
          {{/if}}
          {{#if planDeadlineDate}}
            <tr>
              <th width="160">计划截标时间：</th>
              <td width="680">{{#if ../planDeadlineDate}}{{formatDate ../planDeadlineDate "day"}}{{else}}-{{/if}}</td>
            </tr>
          {{/if}}
          {{#if registrationDeadline}}
            <tr>
              <th width="160">报名截止时间</th>
              <td width="680">
                <span>{{formatDate ../registrationDeadline}}</span>
                <span class="span-warning">
                  {{#gtTime ../registrationDeadline "now"}}
                    剩余{{formatDateLast ../registrationDeadline}}
                  {{else}}
                    报名已截止
                  {{/gtTime}}
                </span>
              </td>
            </tr>
          {{/if}}
        {{/withList}}
      </tbody>
    </table>
  </div>
  <div class="info-item">
    {{#equals registerStatus -4}}
      <button class="btn btn-primary btn-meidum js-supplier-apply" data-id="{{id}}">报名</button>
    {{/equals}}
    {{#equals registerStatus 0}}
      <button class="btn" disabled>已报名</button>
    {{/equals}}
    {{#of registerStatus "-1,-3"}}
      <button class="btn" disabled>已废标</button>
    {{/of}}
  </div>
</div>
