{{#partial "realTitle"}}答疑文件{{/partial}}
{{#partial "realBreadcrumb"}}
  {{#inject "common/breadcrumb"}}{"_DATA_": {"breadcrumb": [{"url": "#", "crumb": "投标管理"}, {"url": "/supplier/bids", "crumb": "投标列表"},{"url": "#", "crumb": "投标详情"}]}}{{/inject}}
  <div class="tab" data-type="switchable">
    <ul class="tab-navs clearfix">
      <li>
        <a href="/supplier/bids-details/notice?bidId={{bidId}}&id={{id}}">招标公告</a>
      </li>
      <li>
        <a href="/supplier/bids-details/file?bidId={{bidId}}&id={{id}}">招标文件</a>
      </li>
      <li>
        <a href="/supplier/bids-details/supply-file?bidId={{bidId}}&id={{id}}">补充文件</a>
      </li>
      <li class="active">
        <a href="/supplier/bids-details/answer-file?bidId={{bidId}}&id={{id}}">答疑文件</a>
      </li>
      <li>
        <a href="/supplier/bids-details/reply-file?bidId={{bidId}}&id={{id}}">回标文件</a>
      </li>
      <li>
        <a href="/supplier/bids-details/clarify-file?bidId={{bidId}}&id={{id}}">澄清文件</a>
      </li>
      <li>
        <a href="/supplier/bids-details/inventory-confirm?bidId={{bidId}}&id={{id}}">最终清单确认</a>
      </li>
    </ul>
  </div>
{{/partial}}
{{#partial "realBody"}}
  {{inject "supplier/bids/bids_answer/common"}}
{{/partial}}
{{> supplier/layout}}
