<table class="table">
  <thead>
    <tr>
      <th>项目ID</th>
      <th>项目名称</th>
      <th>项目地区</th>
      <th>业态类型</th>
      <th>占地面积</th>
      <th>建筑面积</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {{#if data}}
      {{#each data}}
        <tr>
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td>{{province}}&nbsp;&nbsp;{{city}}&nbsp;&nbsp;{{region}}</td>
          <td>
            {{#equals type 1}}住宅{{/equals}}
            {{#equals type 2}}商业{{/equals}}
            {{#equals type 3}}旅游{{/equals}}
            {{#equals type 4}}综合体{{/equals}}
          </td>
          <td>{{formatNumber floorArea}}平方米</td>
          <td>{{formatNumber buildingArea}}平方米</td>
          <td>
            {{#equals status 1}}正常{{else}}关闭{{/equals}}
          </td>
          <td>
            {{#equals status 1}}
              <a href="/developer/project-edit?id={{id}}">编辑</a>
              <a href="javascript:;" class="js-project-close" data-toggle="confirm" data-title="关闭项目确认" data-event="confirm:closeProject" data-content="该项目关闭后所有本项目下的招标将不可操作，且不能在本项目下新建招标，是否确认关闭？" data-id="{{id}}">关闭</a>
            {{/equals}}
            <a href="javascript:;" class="js-project-delete" data-toggle="confirm" data-event="confirm:deleteProject" data-title="删除项目确认" data-content="该项目删除之后无法恢复，是否删除？" data-id="{{id}}">删除</a>
            {{#equals status -1}}
              <a href="javascript:;" class="js-project-open" data-id="{{id}}" data-type="open">打开</a>
            {{/equals}}
            <a href="/developer/bids?projectId={{id}}">查看招标</a>
            <a href="/developer/project-details?id={{id}}">查看详情</a>
          </td>
        </tr>
      {{/each}}
    {{else}}
      <tr>
        <td colspan="8" class="center-text">暂无项目！</td>
      </tr>
    {{/if}}
  </tbody>
</table>
