<tr class="js-bill-item" data-id="{{cceBillSheetRow.id}}">
  <td>
    {{add @index 1}}
  </td>
  <td class="input-td">
    <input type="text" name="number" pattern="^\d*$" class="js-input" value="{{cceBillSheetRow.number}}">
  </td>
  {{#if cceBillSheetRow.isCustom}}
  <td class="input-td">
    <input type="text" name="name" class="js-input" value="{{cceBillSheetRow.name}}">
  </td>
  <td class="textarea-td">
    <textarea class="js-textarea" name="attrs">{{cceBillSheetRow.attrs}}</textarea>
  </td>
  {{else}}
  <td class="modal-td js-model-name">
    {{cceBillSheetRow.name}}
  </td>
  <td class="modal-td js-model-attr" data-models="{{json models}}">
    {{#each models}}
      {{#if attrs}}
        <div class="model-attr" data-model="{{id}}">
          {{#each attrs}}
            <p class="js-attr-item">
              <span class="js-attr-key">{{name}}</span>:
              <span class="js-attr-value">{{defaultVal}}</span>
            </p>
          {{/each}}
        </div>
      {{/if}}
    {{/each}}
  </td>
  {{/if}}
  <td class="textarea-td">
    <textarea class="js-textarea" name="feature">{{cceBillSheetRow.projectFeatureShow}}</textarea>
  </td>
  <td class="textarea-td">
    <textarea class="js-textarea" name="workdesc">{{cceBillSheetRow.workDescShow}}</textarea>
  </td>
  <td><input type="hidden" name="unit" class="js-input" value="{{cceBillSheetRow.unit}}">{{cceBillSheetRow.unit}}</td>
  <td class="input-td">
    <input type="number" name="quantities" class="js-input" value="{{cceBillSheetRow.quantities}}">
  </td>
  {{#each cceBillSheetRow.itemPriceMap}}
    {{#if ../cceBillSheetRow.isCustom}}
    <td data-subtotal="0" class="input-td">
      <input type="number" name="item-price" class="js-input" value="{{formatPrice this}}" data-name="{{@key}}" style="padding: 0;" >
    </td>
    {{else}}
    <td data-subtotal="0">{{formatPrice this}}</td>
    {{/if}}
  {{/each}}
  <td data-subtotal="0">
    {{formatPrice cceBillSheetRow.manageFee}}
  </td>
  <td data-subtotal="0">
    {{formatPrice cceBillSheetRow.profit}}
  </td>
  {{#if cceBillSheetRow.isCustom}}
  <td>
    {{formatPrice cceBillSheetRow.unitPrice}}
  </td>
  {{else}}
  <td class="input-td">
    <input type="number" name="unit-price" class="js-input" value="{{formatPrice cceBillSheetRow.unitPrice}}">
  </td>
  {{/if}}
  <td>
    {{formatPrice cceBillSheetRow.total}}
  </td>
  <td class="select-td">
    <select name="is-supply" class="js-select-supply">
      <option value="1" {{#if cceBillSheetRow.isSupply}}selected{{/if}}>甲供</option>
      <option value="0" {{#unless cceBillSheetRow.isSupply}}selected{{/unless}}>非甲供</option>
    </select>
  </td>
  <td class="td-operation">
    <p>
      <a href="javascript:;" class="js-del-bill-item">删除</a>
    </p>
    <p>
      <a href="javascript:;" class="js-copy-bill-item">复制</a>
    </p>
    <p>
      <a href="javascript:;" class="js-paste-bill-item">在下粘贴</a>
    </p>
    <p>
      <a href="javascript:;" class="js-insert-bill-item">在下插入</a>
    </p>
  </td>
</tr>
