{{#component "update-password component-standard-container js-comp"}}
  <div class="component-body">
    <div class="update-password-div">
      <form class="form form-aligned update-pasword-form">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="old-password"><span class="required">*</span>{{i18n "Current Password" bundle="user"}}:</label>
            <input id="old-password" type="password" name="oldPassword" maxLength="16" placeholder="{{i18n "Current Password" bundle="user"}}" required>
            <span class="note"><i>&times;</i> {{i18n "Enter current password" bundle="user"}}.</span>
            <span class="note-error">{{i18n "Please enter the correct password (6-16 characters)" bundle="user"}}</span>
            <span class="note-error-empty">{{i18n "Please enter the current password" bundle="user"}}</span>
          </div>
          <div class="control-group">
            <label class="control-label" for="new-password"><span class="required">*</span>{{i18n "New Password" bundle="user"}}:</label>
            <input id="new-password" type="password" maxLength="16" name="newPassword" pattern=".{6,16}" placeholder="{{i18n "New Password" bundle="user"}}" required>
            <span class="note"><i>&times;</i> 请输入(6-16)位任意字符</span>
            <span class="note-error">{{i18n "Please enter the correct password (6-16 characters)" bundle="user"}}</span>
            <span class="note-error-empty">{{i18n "Please enter a new password" bundle="user"}}</span>
          </div>
          <div class="control-group">
            <label for="new-password"></label>
            <ul class="password-level">
              <li class="level-weak">
                <div class="weak-bar"><span>弱</span></div>
              </li>
              <li class="level-middle">
                <div class="middle-bar"><span>中</span></div>
              </li>
              <li class="level-strong">
                <div class="strong-bar"><span>高</span></div>
              </li>
            </ul>
          </div>
          <div class="control-group">
            <label class="control-label" for="confirm-password"><span class="required">*</span>{{i18n "Verify Password" bundle="user"}}:</label>
            <input id="confirm-password" type="password" maxLength="16" pattern=".{6,16}" placeholder="{{i18n "New Password" bundle="user"}}" required>
            <span class="note"><i>&times;</i> {{i18n "Retype new password" bundle="user"}}.</span>
            <span class="note-error">{{i18n "Password don't match" bundle="user"}}</span>
            <span class="note-error-empty">{{i18n "Please enter the correct password" bundle="user"}}</span>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary btn-medium" disabled>{{i18n "Confirm" bundle="user"}}</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{{/component}}
