<form class="form-aligned form form-common js-form-question">
  <div class="center-text control-group">
    <input type="hidden" name="bidId" value="{{bidId}}">
    <input type="hidden" name="id" value="{{id}}">
    <input type="text" name="title" class="input-large" value="{{title}}" pattern="^.{2,30}$" placeholder="请输入2-30字的问题标题" required>
    <span class="note-error">x 请输入2-30字的问题标题</span>
    <span class="note-error-empty">x 请输入问题标题</span>
  </div>
  {{#if updatedAt}}
    <div class="center-text control-group">
      <label>上次编辑时间：</label>
      <span>{{formatDate updatedAt}}</span>
    </div>
  {{/if}}
  {{inject "common/rich_text_editor" data=content}}
  <div class="control-group margin-top-20">
    <button type="submit" class="btn btn-primary btn-medium">提交</button>
    <a href="javascript:;" class="btn btn-info btn-medium" data-toggle="confirm" data-event="confirm:cancel" data-title="你确定取消吗？" data-content="取消后，修改的内容不可保存！">取消</a>
  </div>
</form>
