<div class="bids-group js-clarify-group">
  <div class="bids-title">
    <label>澄清清单列表</label>
    {{#with _BIDS_DETAILS_}}
      {{#equals bidStatus 14}}
        {{#equals ../_USER_.id issueOperatorId}}
          <a href="javascript:;" class="btn btn-info margin-left-20 js-list-answer-need">需创建澄清清单</a>
        {{/equals}}
      {{/equals}}
    {{/with}}
  </div>
  <div class="bids-content">
    <table class="table">
      <thead>
        <tr>
          <th width="15%">清单名称</th>
          <th width="15%">创建时间</th>
          <th width="15%">生效时间</th>
          <th width="10%">生效状态</th>
          <th width="15%">实际发送供应商</th>
          <th width="15%">需发送供应商</th>
          <th width="15%">操作</th>
        </tr>
      </thead>
      <tbody>
        {{#if _DATA_}}
          {{#each _DATA_}}
            <tr {{#if effectiveStatus}}class="js-inventory-tr"{{/if}} data-name="{{filename}}" data-id="{{id}}">
              <td class="td-active">{{filename}}</td>
              <td>{{formatDate createdAt}}</td>
              <td>{{#if effectiveDate}}{{formatDate effectiveDate}}{{else}}-{{/if}}</td>
              <td>
                {{#equals effectiveStatus 0}}<span class="status-invalid">未生效</span>{{/equals}}
                {{#equals effectiveStatus 1}}<span class="status-success">已生效</span>{{/equals}}
              </td>
              <td>{{#if realReceiver}}{{realReceiver}}{{else}}-{{/if}}</td>
              <td>{{#if expectReceiver}}{{expectReceiver}}{{else}}-{{/if}}</td>
              <td>
                {{#equals effectiveStatus 1}}
                  <a href="javascript:;">查看历史版本</a><br>
                {{/equals}}
                {{#of ../_USER_.id ../_BIDS_DETAILS_.costOperatorIds}}
                  {{#equals effectiveStatus 0}}
                    <a href="javascript:;">查看历史版本</a><br>
                  {{/equals}}
                  {{#equals ../_BIDS_DETAILS_.bidStatus 14}}
                    {{#equals effectiveStatus 0}}
                      <a href="/list/config?bidId={{../bidId}}&billId={{fileUrl}}" target="_blank">编辑</a><br>
                      <a href="javascript:;" class="js-list-publish" data-id="{{id}}" data-action="1">发布</a><br>
                    {{else}}
                      <a href="javascirpt:;" class="js-list-publish" data-id="{{id}}" data-action="0">撤回</a>
                    {{/equals}}
                  {{/equals}}
                {{/of}}
              </td>
            </tr>
          {{/each}}
        {{else}}
          <tr>
            <td colspan="7" class="center-text">暂无澄清清单列表！</td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>
