<div class="bids-group">
  <div class="bids-title">
    <label>答疑附件</label>
  </div>
  <div class="bids-content content-border clearfix">
    {{#equals qaOperatorId userId}}
      {{#of bidStatus "11,12,13,14,15,16"}}
        {{#of answerFileStatus "-1,0"}}
          <div class="pull-left margin-right-20 margin-bottom-20">
            <div class="bids-file btn-upload js-upload-file" data-type="2" data-bid-id="{{bidId}}" data-connect-id="{{id}}">
              <div class="file-img">
                <i class="icon-hsh icon-hsh-upload"></i>
              </div>
              <div class="file-upload">
                <input type="file" name="file">
                <span>上传答疑文件</span>
              </div>
            </div>
          </div>
        {{/of}}
      {{/of}}
    {{/equals}}
    {{#if answerAccessory}}
      {{#each answerAccessory}}
        {{> component:developer/bids/publish_answer/answer_details/all_templates/_attach_item fileStatus=../answerFileStatus bidStatus=../bidStatus}}
      {{/each}}
    {{else}}
      {{#equals qaOperatorId userId}}
        {{#of bidStatus "11,12,13,14,15,16"}}
          {{#of answerFileStatus "-1,0"}}
          {{else}}
            <div class="margin-bottom-10 center-text">暂无答疑附件！</div>
          {{/of}}
        {{else}}
          <div class="margin-bottom-10 center-text">暂无答疑附件！</div>
        {{/of}}
      {{else}}
        <div class="margin-bottom-10 center-text">暂无答疑附件！</div>
      {{/equals}}
    {{/if}}
  </div>
</div>


