<div class="bids-group">
  <div class="bids-title">
    <label>答疑清单列表</label>
    {{#of bidStatus "11,12,13,14,15,16"}}
      {{#of answerFileStatus "-1,0"}}
        {{#of userId costOperatorIds}}
          <a href="/list/config?bidId={{bidId}}&type=3&connectId={{id}}" class="btn btn-info margin-left-20 js-list-answer-create{{#unless needInventory}} hide{{/unless}}" target="_blank">创建答疑清单</a>
        {{/of}}
        {{#equals qaOperatorId userId}}
          <a href="javascript:;" class="btn btn-info margin-left-20 js-list-answer-need" data-id="{{id}}">需创建答疑清单</a>
        {{/equals}}
      {{/of}}
    {{/of}}
  </div>
  <div class="bids-content no-border">
    <table class="table">
      <thead>
        <tr>
          <th width="20%">清单名称</th>
          <th width="20%">创建时间</th>
          <th width="20%">生效时间</th>
          <th width="20%">生效状态</th>
          <th width="20%">操作</th>
        </tr>
      </thead>
      <tbody>
        {{#if answerInventory}}
          {{#each answerInventory}}
            <tr {{#if effectiveStatus}}class="js-list-tr"{{/if}}>
              <td class="td-active">{{filename}}</td>
              <td>{{formatDate createdAt}}</td>
              <td>{{#if effectiveDate}}{{formatDate effectiveDate}}{{else}}-{{/if}}</td>
              <td>
                {{#equals effectiveStatus 0}}<span class="status-invalid">未生效</span>{{/equals}}
                {{#equals effectiveStatus 1}}<span class="status-success">已生效</span>{{/equals}}
              </td>
              <td>
                {{#if effectiveStatus}}
                  <a href="javascript:;">查看历史版本</a><br>
                {{/if}}
                {{#of ../answerFileStatus "-1,0"}}
                  {{#of ../userId ../costOperatorIds}}
                    {{#equals effectiveStatus 0}}
                      <a href="javascript:;">查看历史版本</a><br>
                      <a href="/list/config?bidId={{../bidId}}&billId={{fileUrl}}" target="_blank">编辑</a><br>
                      <a href="javascript:;" class="js-list-publish" data-id="{{id}}" data-action="1">发布</a><br>
                    {{else}}
                      <a href="javascirpt:;" class="js-list-publish" data-id="{{id}}" data-action="0">撤回</a>
                    {{/equals}}
                  {{/of}}
                {{/of}}
              </td>
            </tr>
          {{/each}}
        {{else}}
          <tr>
            <td class="center-text" colspan="5">暂无答疑清单列表！</td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>
