<div class="menu shop-category-menu">
  <ul id="shop-category-menu">
    <li class="menu-li sup js-all-items" ><a href="javascript:void(0);"><strong>{{i18n "All Products" bundle="shop"}}</strong></a></li>
    <li class="menu-li sup js-no-tag-items active"><a href="javascript:void(0);"><strong>{{i18n "Unsorted Products" bundle="shop"}}</strong></a></li>
    <li><a href="javascript:void(0);"><strong>{{i18n "Sorted Products" bundle="shop"}}</strong></a></li>
    {{#each data}}
      <li class="category-li menu-li" data-name="{{parent.name}}" name="{{parent.name}}">
        <a href="javascript:void(0);" class="category-a" name="{{parent.name}}" >
          <span class="angle">└</span>
          {{parent.name}}
        </a>
      </li>
      {{#each children}}
        <li class="sub category-li menu-li" data-name="{{parentName}}/{{name}}">
          <a href="javascript:void(0);" class="category-a" name="{{parentName}}/{{name}}" data-parent="{{parentName}}">
            <span class="angle">└</span>
            {{name}}
          </a>
        </li>
      {{/each}}
    {{/each}}
  </ul>
</div>
