<div id="menu2" class="menu menu-dropdown category-menu-dropdown">
  <form class="form">
    <ul>
      {{#each data}}
      <li class="tag-parent-li" data-name="{{parent.name}}">
        <label>
          <input class="input-checkbox parent-category-input tag" type="checkbox" name="{{parent.name}}" >{{parent.name}}
        </label>
      </li>
      {{#each children}}
      <li class="tag-child-li" data-parent="{{parentName}}">
        <label>
          <input class="input-checkbox child-category-input tag" type="checkbox" data-parent="{{parentName}}" name="{{parentName}}/{{name}}" ><span class="angle">└</span>{{name}}
        </label>
      </li>
      {{/each}}
      {{/each}}
    </ul>
  </form>
</div>
