<table class="table table-horizontal common-table" data-data="{{json _DATA_}}">
  <thead>
    <tr>
      <th width="10%">序号</th>
      <th width="20%">用户名</th>
      <th width="20%">真实姓名</th>
      <th width="20%">IP地址</th>
      <th width="20%">时间</th>
      <th width="10%">登录结果</th>
    </tr>
  </thead>
  <tbody>
    {{#each _DATA_.data}}
      <tr>
        <td>{{add @index 1}}</td>
        <td>{{userName}}</td>
        <td>{{realName}}</td>
        <td>{{#if ip}}{{ip}}{{else}}-{{/if}}</td>
        <td>{{formatDate createdAt "withT"}}</td>
        <td>
        {{#mapping result}}
        {
          "1": "成功",
          "-1": "失败"
        }
        {{/mapping}}
        </td>
      </tr>
    {{/each}}
    {{#if _DATA_.empty}}
      <tr>
        <td class="empty-data-title" colspan="9">暂无用户登录日志数据！</td>
      </tr>
    {{/if}}
  </tbody>
  {{#unless _DATA_.empty}}
    <tfoot>
      <tr>
        <td colspan="9">{{inject "common/pagination" total=_DATA_.total}}</td>
      </tr>
    </tfoot>
  {{/unless}}
</table>