<div class="modal modal-bids-manage modal-approval-item">
  <div class="modal-header">
    <h2>添加一行</h2>
    <i class="icon-feebas icon-feebas-cha right-close close"></i>
  </div>
  <form class="form form-common form-aligned js-form-flow-item" data-type="{{type}}">
    <div class="modal-body manager-body" style="min-height: 260px;">
      <div class="control-group">
        <label class="group-title">审批顺序</label>
        <span>{{#if flows}}{{flows.index}}{{else}}{{index}}{{/if}}</span>
        <input type="hidden" name="index" value="{{#if flows}}{{flows.index}}{{else}}{{index}}{{/if}}">
      </div>
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>节点名称</label>
        <div class="group-content">
          <input type="hidden" name="id" value="{{flows.id}}">
          <input type="text" name="name" value="{{flows.name}}" placeholder="请输入节点名称" pattern="^.{2,10}$" required>
          <span class="note-error" style="position: absolute;">x 请输入2-10个字符</span>
          <span class="note-error-empty" style="position: absolute;">x 请输入节点名称</span>
        </div>
      </div>
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>默认审批人</label>
        <div class="group-content">
          <select  class="selectric" name="defaultApproverId" data-parent=".group-content" required>
            <option value="">请选择</option>
            {{#each companyUser}}
              <option value="{{userId}}" {{#equals userId ../flows.defaultApproverId}}selected{{/equals}}>{{realName}}</option>
            {{/each}}
          </select>
          <span class="note-error-empty" style="position: absolute;">x 请选择默认审批人</span>
        </div>
      </div>
      {{#each flows.conditionApproverList}}
        {{> developer/company/approval_manage/common/all_templates/_config_item companyUser=../companyUser}}
      {{/each}}
      <div class="control-group">
        <label class="group-content"></label>
        <div class="group-content">
          <button class="btn btn-info btn-medium js-approval-person-add" type="button">添加条件审批人</button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-primary btn-medium" type="submit">确认</button>
      <button class="btn btn-info btn-medium close js-approval-close">取消</button>
    </div>
  </form>
</div>
