{{#component "component-standard-container freight-manage js-comp"}}
  <div class="component-header">
    <button class="btn btn-primary js-create-freight">新建运费模板</button>
  </div>
  <div class="component-body">
  {{#each _DATA_.data}}
    <table class="table table-striped" data-freight="{{json deliveryFeeTemplate}}">
      <thead>
        <tr>
          <th colspan="5">
            <span class="pull-right">
                {{#unless deliveryFeeTemplate.isDefault}}
                  <a href="javascript:void(0);" data-id="{{deliveryFeeTemplate.id}}" data-toggle="confirm" data-title="您确定删除该运费模板吗?" data-content="运费模板删除后，绑定该运费模板的商品将默认启用默认运费模板计算规则" data-event="confirm:delete-delivery">删除</a>
                  <a href="javascript:void(0);" data-id="{{deliveryFeeTemplate.id}}" data-toggle="confirm" data-title="您确定将此模板设为默认吗?" data-content="将此模板设为默认" data-event="confirm:set-rule-default">设为默认</a>
                {{/unless}}
            </span>
            <span class="pull-right">最后编辑时间：{{formatDate deliveryFeeTemplate.updatedAt}}&nbsp;&nbsp;&nbsp;</span>
            <span class="pull-left">{{#if deliveryFeeTemplate.isDefault}}默认运费模板{{else}}{{deliveryFeeTemplate.name}}{{/if}}：<a href="javascript:void(0);" class="js-add-rule" data-id="{{deliveryFeeTemplate.id}}">为指定区域设置运费</a></span>
          </th>
        </tr>
        <tr class="standard-head">
          <th width="35%">运送到</th>
          <th width="10%">运送方式</th>
          <th width="10%">计价方式</th>
          <th width="30%">计费规则</th>
          <th class="td-operation" width="15%">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr data-id="{{deliveryFeeTemplate.id}}">
          <td>除指定区域外按照此计费规则计算运费</td>
          <td>{{#equals deliveryFeeTemplate.deliverMethod 1}}快递{{/equals}}{{#equals deliveryFeeTemplate.deliverMethod 2}}EMS{{/equals}}{{#equals deliveryFeeTemplate.deliverMethod 3}}平邮{{/equals}}</td>
          <td>{{#if deliveryFeeTemplate.isFree}}商家承担运费{{else}}{{#equals deliveryFeeTemplate.chargeMethod 1}}按计量单位计算{{/equals}}{{#equals deliveryFeeTemplate.chargeMethod 2}}固定运费{{/equals}}{{/if}}</td>
          <td>
            {{#if deliveryFeeTemplate.isFree}}-{{else}}
            {{#equals deliveryFeeTemplate.chargeMethod 2}}
              所有商品 {{formatPrice deliveryFeeTemplate.fee}} 元
            {{/equals}}
            {{#equals deliveryFeeTemplate.chargeMethod 1}}
              {{divide deliveryFeeTemplate.initAmount 10}}个计量单位内{{formatPrice deliveryFeeTemplate.initFee}}元，每增加{{divide deliveryFeeTemplate.incrAmount 10}}个计量单位，运费增加{{formatPrice deliveryFeeTemplate.incrFee}} 元
            {{/equals}}
            {{/if}}
          </td>
          <td class="td-operation">
            <a href="javascript: void(0);" class="js-edit-freight">编辑</a>
          </td>
        </tr>
        {{#each specialDeliveryFees}}
          <tr data-template-id="{{deliveryFeeTemplateId}}" data-rule="{{json this}}" class="js-rule-tr">
            <td>{{#each addressTrees}} <span class="rule-area" title="{{#each children}} {{name}} {{/each}}">{{parent.name}}{{#if children}}({{size children}}){{/if}}</span>{{/each}}</td>
            <td>{{#equals deliverMethod 1}}快递{{/equals}}{{#equals deliverMethod 2}}EMS{{/equals}}{{#equals deliverMethod 3}}平邮{{/equals}}</td>
            <td>{{#if isFree}}商家承担运费{{else}}{{#equals chargeMethod 2}}固定运费{{/equals}}{{#equals chargeMethod 1}}按计量单位计算{{/equals}}{{/if}}</td>
            <td>
              {{#if isFree}}-{{else}}
                {{#equals chargeMethod 2}}
                  所有商品 {{formatPrice fee}} 元
                {{/equals}}
                {{#equals chargeMethod 1}}
                  {{divide initAmount 10}}个计量单位内{{formatPrice initFee}}元，每增加{{divide incrAmount 10}}个计量单位，运费增加{{formatPrice incrFee}} 元
                {{/equals}}
              {{/if}}
            </td>
            <td class="td-operation">
              <a href="javascript: void(0);" class="js-edit-rule">修改</a>
              <a href="javascript: void(0);" data-id="{{id}}" data-toggle="confirm" data-title="您确定删除该区域运费吗?" data-content="删除该区域运费后，绑定该区域的商品将归于默认区域" data-event="confirm:delete-rule">删除</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/each}}
    <table class="table table-striped">
      <tfoot>
        <tr>
          <td class="td-operation hasbt"><div class="freight-pagination" data-total="{{_DATA_.total}}" data-size="{{#if pageSize ~}}{{pageSize}}{{else}}20{{~/if}}"></div></td>
        </tr>
      </tfoot>
    </table>
  </div>
{{/component}}
