{{#component "bids-progress progress js-comp"}}
  {{#with _DATA_}}
    <div class="progress-content">
      <div class="progress-title">
        <h2>NO.{{../bidId}}&nbsp;&nbsp;&nbsp;{{bidName}}</h2>
        {{#lt status 8}}
          {{#if hasAccess}}
            <a href="javascript:;" class="js-bid-discard pull-right right-link" data-bid-id="{{../bidId}}">废标</a>
          {{/if}}
        {{/lt}}
      </div>
      <ol>
        <div class="progress-item">
          <li class="progress-step{{#gt status 0}} past{{/gt}}{{#equals ../_PATH_ "/developer/bids-details/set"}} active{{/equals}}">
            <span class="progress-step-number">{{#gt status 0}}<i class="icon-pokeball icon-pokeball-gou"></i>{{else}}1{{/gt}}</span>
            <a href="{{#gt status 0}}/developer/bids-details/set?bidId={{../bidId}}{{else}}javascript:;{{/gt}}">
              <span class="progress-step-into">招标立项</span>
            </a>
          </li>
          <li class="progress-bar{{#gt status 0}} active{{/gt}}"></li>
          <div class="step-info">
            <div>{{createBidOperator.operatorName}}</div>
            <div>{{createBidDate}}</div>
          </div>
        </div>
        <div class="progress-item">
          <li class="progress-step{{#gt status 3}} past{{/gt}}{{#of ../_PATH_ "/developer/bids-details/file,/developer/bids-details/supplier-select"}} active{{/of}}">
            <span class="progress-step-number">{{#gt status 3}}<i class="icon-pokeball icon-pokeball-gou"></i>{{else}}2{{/gt}}</span>
            <div class="progress-step-into special">
              <div class="step-top{{#equals ../_PATH_ "/developer/bids-details/file"}} active{{/equals}}">
                <a href="{{#gt status 0}}/developer/bids-details/file?bidId={{../bidId}}{{else}}javascript:;{{/gt}}">
                  <div>招标文件编制</div>
                </a>
                <div>{{bidFileOperator.operatorName}}</div>
                <div>{{bidFileDate}}</div>
              </div>
              <div class="step-bottom{{#equals ../_PATH_ "/developer/bids-details/supplier-select"}} active{{/equals}}">
                <a href="{{#gt status 0}}/developer/bids-details/supplier-select?bidId={{../bidId}}{{else}}javascript:;{{/gt}}">
                  <div>供应商入围</div>
                </a>
                <div>{{tenderFinalistsOperator.operatorName}}</div>
                <div>{{tenderFinalistsDate}}</div>
              </div>
            </div>
          </li>
          <li class="progress-bar{{#gt status 3}} active{{/gt}}"></li>
          <div class="progress-bar-top{{#gt status 2}} active{{/gt}}{{#equals ../_PATH_ "/developer/bids-details/file"}} active{{/equals}}"></div>
          <div class="progress-bar-bottom{{#gt status 3}} active{{/gt}}{{#equals status 2}} active{{/equals}}{{#equals ../_PATH_ "/developer/bids-details/supplier-select"}} active{{/equals}}"></div>
        </div>
        <div class="progress-item">
          <li class="progress-step{{#gt status 4}} past{{/gt}}{{#equals ../_PATH_ "/developer/bids-details/publish-answer"}} active{{/equals}}">
            <span class="progress-step-number">{{#gt status 4}}<i class="icon-pokeball icon-pokeball-gou"></i>{{else}}3{{/gt}}</span>
            <a href="{{#gt status 3}}/developer/bids-details/publish-answer?bidId={{../bidId}}{{else}}javascript:;{{/gt}}">
              <span class="progress-step-into">发标&答疑</span>
            </a>
          </li>
          <li class="progress-bar{{#gt status 4}} active{{/gt}}"></li>
          <div class="step-info">
            <div>{{issueBidOperator.operatorName}}</div>
            <div>{{issueBidDate}}</div>
            <div>{{qaOperator.operatorName}}</div>
            <div>{{qaDate}}</div>
          </div>
        </div>
        <div class="progress-item">
          <li class="progress-step{{#gt status 5}} past{{/gt}}{{#equals ../_PATH_ "/developer/bids-details/open"}} active{{/equals}}">
            <span class="progress-step-number">{{#gt status 5}}<i class="icon-pokeball icon-pokeball-gou"></i>{{else}}4{{/gt}}</span>
            <a href="{{#gt status 4}}/developer/bids-details/open?bidId={{../bidId}}{{else}}javascript:;{{/gt}}">
              <span class="progress-step-into">开标</span>
            </a>
          </li>
          <li class="progress-bar{{#gt status 5}} active{{/gt}}"></li>
          <div class="step-info">
            <div>
              {{#each openBidOperatorEntryList}}
                <span>{{operatorName}}</span>
              {{/each}}
            </div>
            <div>{{openBidDate}}</div>
          </div>
        </div>
        <div class="progress-item">
          <li class="progress-step{{#gt status 6}} past{{/gt}}{{#equals ../_PATH_ "/developer/bids-details/evaluate"}} active{{/equals}}">
            <span class="progress-step-number">{{#gt status 6}}<i class="icon-pokeball icon-pokeball-gou"></i>{{else}}5{{/gt}}</span>
            <a href="{{#gt status 5}}/developer/bids-details/evaluate?bidId={{../bidId}}{{else}}javascript:;{{/gt}}">
              <span class="progress-step-into">评标</span>
            </a>
          </li>
          <li class="progress-bar{{#gt status 6}} active{{/gt}}"></li>
          <div class="step-info">
            <div>{{evaluateBidOperator.operatorName}}</div>
            <div>{{evaluateBidDate}}</div>
          </div>
        </div>
        <div class="progress-item {{#if confirmBidDate}}padding-right{{/if}}">
          <li class="progress-step{{#gt status 7}} past{{/gt}}{{#equals ../_PATH_ "/developer/bids-details/confirm"}} active{{/equals}}">
            <span class="progress-step-number">{{#gt status 7}}<i class="icon-pokeball icon-pokeball-gou"></i>{{else}}6{{/gt}}</span>
            <a href="{{#gt status 6}}/developer/bids-details/confirm?bidId={{../bidId}}{{else}}javascript:;{{/gt}}">
              <span class="progress-step-into">定标</span>
            </a>
          </li>
          <div class="step-info">
            <div>{{confirmBidOperator.operatorName}}</div>
            <div>{{confirmBidDate}}</div>
          </div>
        </div>
      </ol>
    </div>
  {{/with}}
{{/component}}
