<div class="bids-group">
  <div class="bids-title">
    <label>最终清单</label>
  </div>
  <div class="bids-content">
    <table class="table">
      <thead>
        <tr>
          <th width="15%">清单名称</th>
          <th width="15%">创建时间</th>
          <th width="15%">生效时间</th>
          <th width="15%">生效状态</th>
          <th width="20%">备注</th>
          <th width="15%">操作</th>
        </tr>
      </thead>
      <tbody>
        <div>
          {{#if inventories}}
            {{#each inventories}}
              <tr>
                <td>{{filename}}</td>
                <td>{{formatDate createdAt}}</td>
                <td>{{formatDate effectiveDate}}</td>
                <td>
                  {{#equals effectiveStatus 0}}未生效{{/equals}}
                  {{#equals effectiveStatus 1}}已生效{{/equals}}
                </td>
                <td>备注</td>
                <td>
                  {{#equals effectiveStatus 1}}
                    <a href="javascript:;">查看历史版本</a><br>
                    <a href="javascirpt:;">撤回</a>
                  {{else}}
                    <a href="javascript:;">编辑</a><br>
                    <a href="javascript:;">发布</a>
                  {{/equals}}
                </td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
              <td class="center-text" colspan="6">暂无招标清单！</td>
            </tr>
          {{/if}}
        </div>
      </tbody>
    </table>
  </div>
</div>
