<div class="img-code">
  <div class="img-title">微信关注我们</div>
  <img src="{{#if profile.weixin}}{{profile.weixin}}{{else}}/assets/images/other-images/image_not_found.png{{/if}}" style="width:88px;height:88px" alt="">
</div>
<div class="base-info">
  <div class="company-name center-text">{{data.name}}</div>
  <div class="company-address center-text">{{data.province}}&nbsp;{{data.city}}</div>
  <div class="company-base-info">
    <div class="control-group">
      <i class="icon-hsh icon-hsh-dianhua"></i><span>{{#if profile.companyMobile}}{{profile.companyMobile}}{{else}}-{{/if}}</span>
    </div>
    <div class="control-group">
      <i class="icon-hsh icon-hsh-dizhi"></i><span>{{#if profile.province}}{{#with profile}}{{province}}{{city}}{{region}}{{detail}}{{/with}}{{else}}-{{/if}}</span>
    </div>
    <div class="control-group">
      <i class="icon-hsh icon-hsh-iconfontzhangdan"></i><span>{{#if profile.companySite}}{{profile.companySite}}{{else}}-{{/if}}</span>
    </div>
    <div class="control-group">
      <i class="icon-hsh icon-hsh-iconfontweibowukuang"></i><span>{{#if profile.weibo}}{{profile.weibo}}{{else}}-{{/if}}</span>
    </div>
    <div class="control-group">
      <i class="icon-hsh icon-hsh-iconfontweibowukuang"></i><span>企业荣誉</span>
      {{#if companyHonour}}
      <div class="honour-img">
        {{#each companyHonour.honourImg}}
          {{#if this}}
            <img src="{{this}}" style="width:40px;height:40px">
          {{/if}}
        {{/each}}
      </div>
      {{/if}}
    </div>
  </div>
  {{#each profile.contacts}}
    <div class="company-contact">
      <div class="person-info">
        <img src="/assets/images/other-images/image_not_found.png" style="width:40px;height:40px">
        <div class="person-name">
          <span class="real-name">{{name}}</span>
          <span class="pull-right person-position">{{position}}</span>
        </div>
      </div>
      <div class="control-group">
        <label>手机：</label>
        <span>{{mobile}}</span>
      </div>
      <div class="control-group">
        <label>邮箱：</label>
        <span>{{email}}</span>
      </div>
    </div>
  {{/each}}
  <div class="btn-group" data-state="{{json _STATE_}}">
    {{#equals companyType 'supplier'}}
      {{#equals _STATE_.success '0'}}
        <a class="btn btn-primary js-add-collect" href="javascript:;" data-id="{{data.id}}">加入待考察</a>
        <a class="btn btn-primary pull-right" href="/developer/supplier-import?supplierId={{data.id}}">去入库</a>
      {{else}}
        {{#equals _STATE_.supplierState '1'}}
          <a class="btn btn-primary js-delete-collect" href="javascript:;" data-id="{{data.id}}">取消待考察</a>
        {{/equals}}
        {{#equals _STATE_.supplierState '2'}}
          <a class="btn btn-primary js-add-collect" href="javascript:;" data-id="{{data.id}}">加入待考察</a>
        {{/equals}}
        {{#equals _STATE_.supplierState '0'}}
        {{else}}
          <a class="btn btn-primary pull-right" href="/developer/supplier-import?supplierId={{data.id}}">去入库</a>
        {{/equals}}
      {{/equals}}
    {{/equals}}
  </div>
</div>