<div class="company-introduction">
  <span>公司信息</span>
  <div class="company-info">
    {{#if profile.companyInfo}}{{profile.companyInfo}}{{else}}暂无公司简介信息{{/if}}
  </div>
  <div class="control-group">
    <label>注册资本：</label><span>{{data.capital}}&nbsp;万元</span>
  </div>
  {{#if data.serviceCitys}}
  <div class="control-group">
    <label>服务区域：</label><span>{{#each data.serviceCitys}}{{name}}&nbsp;{{/each}}</span>
  </div>
  {{/if}}
  <div class="control-group">
    <label>成立时间：</label><span>{{formatDate data.registerTime 'day'}}</span>
  </div>
  <div class="control-group">
    <label>营业执照号：</label><span>{{data.licenceNo}}</span>
  </div>
  {{#if data.special}}
  <div class="control-group">
    <label>专业：</label><span>{{#each data.special}}{{name}}&nbsp;{{/each}}</span>
  </div>
  {{/if}}
  <div class="control-group">
    <label>注册地址：</label><span>{{data.registerAddress}}</span>
  </div>
  <div class="control-group">
    <label>营业期限：</label><span>{{formatDate data.bizStart 'day'}}~{{formatDate data.bizEnd 'day'}}</span>
  </div>
  <div class="control-group">
    <label>法人姓名：</label><span>{{data.legalName}}</span>
  </div>
  <div class="control-group">
    <label>法人联系方式：</label><span>{{data.legalPhone}}</span>
  </div>
  {{#if data.controlName}}
  <div class="control-group">
    <label>实际控制人：</label><span>{{data.controlName}}</span>
  </div>
  {{/if}}
  {{#if data.controlMobile}}
  <div class="control-group">
    <label>控制人联系：</label><span>{{data.controlMobile}}</span>
  </div>
  {{/if}}
  <div class="control-group">
    <label>银行信用等级：</label><span>{{#equals data.credit '1'}}A++{{else}}{{#equals data.credit '2'}}A+{{else}}B+{{/equals}}{{/equals}}</span>
  </div>
</div>
{{#equals companyType 'supplier'}}
  {{> component:developer/supplier_manage/supplier_detail/backend_templates/tax_info profile=profile}}
  {{> component:developer/supplier_manage/supplier_detail/backend_templates/service_info profile=profile}}
  {{> component:developer/supplier_manage/supplier_detail/backend_templates/library-supplier}}
{{else}}
  {{> component:supplier/developer_detail/backend_templates/library-developer}}
{{/equals}}
{{#if _DATA_.achievements}}
<div class="company-achievement">
  <span>业绩</span>
  <table class="table achievement-table">
    <thead>
      <tr>
        <td>项目名称</td>
        <td>项目地址</td>
        <td>甲方单位</td>
        <td>产品类型</td>
        <td>项目规模(m²)</td>
        <td>合同首页</td>
        <td>合同备注页</td>
      </tr>
    </thead>
    <tbody>
      {{#each _DATA_.achievements}}
        <tr class="company-info-td">
          <td>{{projectName}}</td>
          <td>{{projectAddress}}</td>
          <td>{{#if partyUnit}}{{partyUnit}}{{else}}无{{/if}}</td>
          <td>{{#if type}}{{type}}{{else}}无{{/if}}</td>
          <td>{{#if scale}}{{scale}}{{else}}无{{/if}}</td>
          <td><a href="javascript:;" class="js-img-show" src="{{indexUrl}}">查看</a></td>
          <td><a href="javascript:;" class="js-img-show" src="{{signUrl}}">查看</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}
{{#if _DATA_.outputs}}
<div class="company-achievement">
  <span>年产值</span>
  <table class="table achievement-table">
    <thead>
      <tr>
        <td>年度</td>
        <td>年度实际产值</td>
        <td>年度签约金额</td>
      </tr>
    </thead>
    <tbody>
      {{#each _DATA_.outputs}}
        <tr class="company-info-td">
          <td>{{annual}}</td>
          <td>{{realOutputValue}}</td>
          <td>{{agreementValue}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}
{{#if _DATA_.partners}}
<div class="company-achievement">
  <span>合作地产开发商</span>
  <table class="table achievement-table">
    <thead>
      <tr>
        <td>开发商名称</td>
        <td>合作商区域</td>
        <td>合作内容</td>
      </tr>
    </thead>
    <tbody>
      {{#each _DATA_.partners}}
        <tr class="company-info-td">
          <td>{{name}}</td>
          <td>{{province}} {{city}} {{region}}</td>
          <td>{{context}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}
{{#if profile.machines}}
<div class="company-achievement">
  <span>机械设备</span>
  <table class="table achievement-table">
    <thead>
      <tr>
        <td>设备名称</td>
        <td>设备用途</td>
        <td>设备数量</td>
      </tr>
    </thead>
    <tbody>
      {{#each profile.machines}}
        <tr class="company-info-td">
          <td>{{name}}</td>
          <td>{{usage}}</td>
          <td>{{num}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}
{{#if profile.cooperates}}
<div class="company-achievement">
  <span>合作材料</span>
  <table class="table achievement-table">
    <thead>
      <tr>
        <td>合作材料</td>
        <td>品牌</td>
      </tr>
    </thead>
    <tbody>
      {{#each profile.cooperates}}
        <tr class="company-info-td">
          <td>{{name}}</td>
          <td>{{brand}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}
{{#if profile.projectManagers}}
<div class="company-achievement">
  <span>项目经理</span>
  <table class="table achievement-table">
    <thead>
      <tr>
        <td>经理名称</td>
        <td>工作年限</td>
        <td>项目经验</td>        
      </tr>
    </thead>
    <tbody>
      {{#each profile.projectManagers}}
        <tr class="company-info-td">
          <td>{{name}}</td>
          <td>{{seniority}}</td>
          <td>{{experience}}</td>          
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}
{{#if _DATA_.products}}
<div class="company-achievement">
  <span>产品</span>
  <table class="table achievement-table">
    <thead>
      <tr>
        <td>产品名称</td>
        <td>产品图片</td>
        <td>产品描述</td>      
      </tr>
    </thead>
    <tbody>
      {{#each _DATA_.products}}
        <tr class="company-info-td">
          <td>{{name}}</td>
          <td>
            {{#each images}}
              {{#if this}}
                <a href="javascript:;" class="js-img-show" src="{{this}}">查看</a>
              {{/if}}
            {{/each}}
          </td>
          <td>{{desc}}</td>   
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}
<div class="company-certificates-card">
  <div class="card-title">证件照</div>
  <img src="{{data.licenceImg}}" style="width: 205px;height: 150px;">
  {{#if data.idCard}}
    <img src="{{data.idCard}}" style="width: 205px;height: 150px;">
  {{/if}}
  {{#if data.proxy}}
    <img src="{{data.proxy}}" style="width: 205px;height: 150px;">
    <img src="{{data.authorizee}}" style="width: 205px;height: 150px;">
  {{/if}}
</div>