<div class="company-introduction company-tax">
  <span class="tax-title">服务信息</span>
  {{#if profile.labourer}}
  <div class="control-group">
    <label>劳动合作模式：</label><span>{{#equals profile.labourer '1'}}自有劳务公司{{else}}{{#equals profile.labourer '2'}}班组合作{{else}}劳务市场{{/equals}}{{/equals}}</span>
  </div>
  {{/if}}
  {{#if profile.groupNum}}
  <div class="control-group">
    <label>劳动班组数量：</label><span>{{profile.groupNum}}</span>
  </div>
  {{/if}}
  {{#if profile.plantAddress}}
  <div class="control-group">
    <label>厂房地址：</label><span>{{profile.plantAddress}}</span>
  </div>
  {{/if}}
  {{#if profile.plantArea}}
  <div class="control-group">
    <label>厂区面积：</label><span>{{profile.plantArea}}</span>
  </div>
  {{/if}}
  {{#if profile.designCapacity}}
  <div class="control-group">
    <label>设计产能：</label><span>{{profile.designCapacity}}</span>
  </div>
  {{/if}}
  {{#if profile.workerNum}}
  <div class="control-group">
    <label>工厂人员数量：</label><span>{{profile.workerNum}}</span>
  </div>
  {{/if}}
</div>