<table class="table table-horizontal center-text" data-data="{{json _DATA_}}">
  <thead>
    <tr>
      <th width="25%">公司</th>
      <th width="25%">提交时间</th>
      <th width="20%">状态</th>
      <th width="20%">备注</th>
      <th width="10%" class="td-operation">操作</th>
    </tr>
  </thead>
  <tbody>
    {{#each _DATA_.data}}
      <tr>
        <td>{{companyName}}</td>
        <td>{{formatDate createdAt "withT"}}</td>
        <td>
          {{#mapping status}}
          {
            "-1": "审核不通过",
            "0": "待审核",
            "1": "审核通过"
          }
          {{/mapping}}
        </td>
        <td>{{#equals status '-1'}}审核不通过原因：<br/>{{remark}}{{else}}-{{/equals}}</td>
        <td class="td-operation">
          {{#if extra.new}}
            {{#equals status '-1'}}
              <a href="/register-company?applyId={{id}}">重新申请</a>
            {{/equals}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="9">
        {{inject "common/pagination" total=_DATA_.total}}
      </td>
    </tr>
  </tfoot>
</table>