<legend class="form-title"><strong>服务信息</strong></legend>
<div class="each-box-table">
  <input type="hidden" name="id" value="{{data.id}}">
  {{#equals subType '4'}}
    <fieldset class="each-table-content">
      <div class="table-title">
        <span>品牌</span>
        <button class="btn btn-small btn-info pull-right js-add-edit-item" data-type="brand" type="button">添加新的品牌</button>
      </div>
      <table class="table brand-table">
        <thead>
          <tr>
            <th width="40%">品牌名</th>
            <th width="30%">logo</th>
            <th width="30%" class="right-text">操作</th>
          </tr>
        </thead>
        <tbody>
          {{> component:supplier/company/company_info_tax/all_templates/_option_tr type='brand' brand=data.brands}}
        </tbody>
      </table>
    </fieldset>
    <fieldset class="each-not-table-content">
      <div class="control-group {{#compare data.oems before.oems}}different-group{{/compare}}">
        <label style="width: auto">OEM授权图片:</label>
        {{#each data.oems}}
          <div class="btn btn-upload main-image js-upload-img">
            <input class="hide" type="file" name="file">
            <img src="{{this}}" class="js-img-show" style="{{#if this}}width: 70px; height: 70px{{/if}}">
            <span>+</span>
            <input type="hidden" name="oems" value="{{this}}">
          </div>
        {{/each}}
      </div>
      <div class="control-group inline-group {{#compare data.plantAddress before.plantAddress}}different-group{{/compare}}">
        <label style="width: {{#if upright}}8em{{else}}auto{{/if}}"><span class="required">*</span>厂房地址:</label>
        <input type="text" class="input-medium" name="plantAddress" placeholder="请输入厂房地址" value="{{data.plantAddress}}" required disabled>
      </div>
      <div class="control-group inline-group {{#compare data.workerNum before.workerNum}}different-group{{/compare}}">
        <label style="width: {{#if upright}}8em{{else}}19.7em{{/if}}"><span class="required">*</span>工厂人员数量:</label>
        <input type="number" class="input-medium" name="workerNum" placeholder="请输入工厂人员数量" value="{{data.workerNum}}" pattern="(^[1-9]([0-9]){0,9}$|^[0-9]$)" required disabled>
        {{!--<span>单位：人 </span><span class="note">请输入10位以内的正整数和0</span>--}}
      </div>
      <div class="control-group inline-group {{#compare data.plantArea before.plantArea}}different-group{{/compare}}">
        <label style="width: {{#if upright}}8em{{else}}auto{{/if}}"><span class="required">*</span>厂区面积:</label>
        <input type="number" class="input-medium" name="plantArea" placeholder="请输入厂区面积" value="{{data.plantArea}}" pattern="^[1-9]*[1-9][0-9]*$" required disabled>
        <span>单位：㎡，格式：正整数</span>
      </div>
      <div class="control-group inline-group {{#compare data.designCapacity before.designCapacity}}different-group{{/compare}}">
        <label style="width: {{#if upright}}8em{{else}}8.3em{{/if}}">设计产能:</label>
        <input type="text" class="input-medium" name="designCapacity" placeholder="请输入设计产能" value="{{data.designCapacity}}" disabled>
      </div>
    </fieldset>
  {{else}}
    <fieldset class="each-not-table-content">
      <div class="control-group inline-group {{#compare data.labourer before.labourer}}different-group{{/compare}}">
        <label><span class="required">*</span>劳动力合作模式:</label>
        <select class="select {{#compare data.labourer before.labourer}}different-select{{/compare}}" name="labourer" required data-parent=".control-group" disabled>
          <option value="">请选择</option>
          <option value="1" {{#equals data.labourer '1'}}selected{{/equals}}>自有劳务公司</option>
          <option value="2" {{#equals data.labourer '2'}}selected{{/equals}}>班组合作</option>
          <option value="3" {{#equals data.labourer '3'}}selected{{/equals}}>劳务市场</option>
        </select>
      </div>
      <div class="control-group inline-group {{#compare data.groupNum before.groupNum}}different-group{{/compare}}">
        <label><span class="required">*</span>劳动班组数量:</label>
        <input type="number" class="groupNum" name="groupNum" placeholder="请输入劳动班组数量" value="{{data.groupNum}}" pattern="^[1-9]*[1-9][0-9]*$" required disabled>
        <span class="note-error"><i>&times;</i> 请输入正整数的格式</span>
      </div>
    </fieldset>
    <fieldset class="each-table-content">
      <div class="table-title">
        <span>合作材料单位</span>
        <button class="btn btn-small btn-info pull-right js-add-edit-item" data-type="cooperate" type="button">添加新的合作材料单位</button>
      </div>
      <table class="table cooperate-table">
        <thead>
          <tr>
            <th width="40%">名称</th>
            <th width="30%">品牌</th>
            <th width="30%" class="right-text">操作</th>
          </tr>
        </thead>
        <tbody>
          {{> component:supplier/company/company_info_tax/all_templates/_option_tr type='cooperate' cooperate=data.cooperates}}
        </tbody>
      </table>
    </fieldset>
    <fieldset class="each-table-content">
      <div class="table-title">
        <span>机械设备情况</span>
        <button class="btn btn-small btn-info pull-right js-add-edit-item" data-type="machines" type="button">添加新的机械设备</button>
      </div>
      <table class="table machines-table">
        <thead>
          <tr>
            <th>设备名称</th>
            <th>设备用途</th>
            <th>设备数量</th>
            <th class="right-text">操作</th>
          </tr>
        </thead>
        <tbody>
          {{> component:supplier/company/company_info_tax/all_templates/_option_tr type='machines' machines=data.machines}}
        </tbody>
      </table>
    </fieldset>
    <fieldset>
      <div class="table-title">
        <span>项目经理名单</span>
        <button class="btn btn-small btn-info pull-right js-add-edit-item" data-type="manager" type="button">添加新的项目经理</button>
      </div>
      <table class="table manager-table">
        <thead>
          <tr>
            <th>经理名称</th>
            <th>工作年限</th>
            <th>项目经验</th>
            <th class="right-text">操作</th>
          </tr>
        </thead>
        <tbody>
          {{> component:supplier/company/company_info_tax/all_templates/_option_tr type='manager' manager=data.projectManagers}}
        </tbody>
      </table>
    </fieldset>
  {{/equals}}
</div>