{{#component "heading accordion js-comp"}}
  <div class="panel">{{i18n "Product category" bundle="design"}}</div>
  <div class="accordion-inner clearfix" data-seller="{{sellerId}}" data-shop="{{shopId}}">
    <div class="accordion-head">
      <div class="accordion-heading">
        <span class="accordion-control"><i class="icon-minus"></i></span><a href="{{_HREF_.main}}/shops/{{shopId}}/list" class="category-tag parent-category-tag" target="_blank">{{i18n "Show all items" bundle="design"}}</a>

      </div>
      {{#each _DATA_}}
        <div class="accordion-heading" {{#if children.[0]}}data-has-children="1"{{/if}} data-id="{{parent.id}}">
          <span class="accordion-control">
            <i class="{{#equals parent.isExpand "-1"}}{{#equals parent.hasChild "0"}}icon-minus{{else}}icon-minus{{/equals}}{{else}}icon-minus{{/equals}}"></i>
          </span>
          <a href="{{#if children.[0]}}javascript:void(0);{{else}}{{_HREF_.main}}/shops/{{../shopId}}/list?tag={{parent.name}}" target="_blank{{/if}}" class="category-tag parent-category-tag">{{parent.name}}</a>
        </div>
        {{#if children.[0]}}
        <div class="accordion-content" data-parent-id="{{parent.id}}">
          {{#each children}}
            <div class="accordion-heading" >
              <a href="{{_HREF_.main}}/shops/{{../../shopId}}/list?tag={{parentName}}/{{name}}" class="category-tag child-category-tag" data-parent="{{parentName}}" data-tag="{{parentName}}/{{name}}" target="_blank">{{name}}</a>
            </div>
          {{/each}}
        </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
{{/component}}
