{{#component "header-sidebar js-comp"}}
  <div class="header-content">
    <div class="header-logo">
      <a href="/">
        <div class="logo-wraper">
          <div class="logo">
            <img src="/assets/images/other-images/white-logo.png" width="150" alt="">
          </div>
        </div>
      </a>
    </div>
    <div class="top-right-wrap">
      <ul class="navs-ul">
        <li class="js-exchange-company" data-company="{{json _COMPANY_}}" data-data="{{json _DATA_}}">
          <span class="company-name" data-company-id="{{_USER_.companyId}}">{{_USER_.companyName}}</span>
          <i class="icon-feebas icon-feebas-caret js-select-company-icon {{#equals _COMPANY_.length '1'}}hide{{/equals}}"></i>
          <div class="select-company-box hide">
            {{#each _COMPANY_}}
              <div class="{{#equals companyId ../_USER_.companyId}}selected-each{{else}}each-company{{/equals}}" data-id="{{companyId}}">
                {{companyName}}{{#equals companyId ../_USER_.companyId}}(当前选项){{/equals}}
              </div>
            {{/each}}
          </div>
        </li>
        <li>
          <a href="/dashboard/todo">
            <i class="icon-hsh icon-hsh-daibanshixiang"></i>
            {{!--待办事项
            {{#if _TODO_CNT_}}
            {{#ifCond _TODO_CNT_ "!=" 0}}
              <label class="label label-danger pull-right">{{_TODO_CNT_}}</label>
            {{/ifCond}}
            {{/if}}--}}
          </a>
        </li>
        <li>
          <a href="/dashboard/message">
            <i class="icon-hsh icon-hsh-xiaoxi3"></i>
            {{#if _TOTAL_}}
              {{#ifCond _TOTAL_ "==" 0}}
                <div class="label-danger">
                  <span>{{_TOTAL_}}</span>
                </div>
              {{/ifCond}}
            {{/if}}
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <i class="icon-hsh icon-hsh-question"></i>
          </a>
        </li>
        <li class="user-info-nav-item">
          <div class="info-left">
            <div class="person-img">
              <img src="{{#if _USER_.avatar}}{{_USER_.avatar}}{{else}}/assets/images/other-images/avatar.png{{/if}}">
            </div>
            <i class="icon-hsh icon-hsh-youxiasanjiao-copy"></i>
            <div class="dropdown-menu">
              <a href="javascript:;" id="js-user-logout">退出</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="top-navs">
      <ul class="navs-ul">
        {{#each _DATA_.navs}}
          {{#withPerm auth}}
            <li class="nav-li {{#if children}}js-nav-btn{{/if}} {{#each children}}{{#indexOf href ../../_PATH_}}nav-open{{/indexOf}}{{/each}}" data-auth="{{auth}}">
              <a href="{{#if children}}javascript:;{{else}}{{href}}{{/if}}">{{name}}</a>
              {{#if children}}
                <div class="navs-content  {{#each children}}{{#indexOf href ../../_PATH_}}active{{/indexOf}}{{/each}}">
                  <div class="menu-content">
                    <ul class="navs-menu">
                      {{#each children}}
                        {{#withPerm auth}}
                          <li class="subnav-li {{#indexOf href ../../_PATH_}}active{{/indexOf}}" data-auth="{{auth}}" data-a="{{../../_PATH_}}" data-b="{{href}}">
                            <span class="subnav-span"><a href="{{href}}" {{#if blank}} target="_blank"{{/if}}>{{name}}</a></span>
                          </li>
                        {{/withPerm}}
                      {{/each}}
                    </ul>
                  </div>
                </div>
              {{/if}}
            </li>
          {{/withPerm}}
        {{/each}}
      </ul>
    </div>
    
  </div>
{{/component}}
