{{#equals type 1}}
<li data-tag-id="{{id}}" data-major="{{leafMajorId}}" data-type="{{type}}" data-product="{{product}}">
  <a href="/list/edit/division?bidId={{bidId}}&billId={{billId}}&tag={{id}}" data-id="{{id}}">{{name}}</a>
  <span class="list-control">
    <a href="javascript:;" class="icon-hsh icon-bianji"></a>
    <a href="javascript:;" class="icon-hsh icon-trash"></a>
  </span>
  <div class="input-group input-group-append edit-item-name">
    <input type="text" value="{{name}}">
    <span class="input-group-btn">
      <button class="btn edit-item-btn" type="button">确定</button>
    </span>
  </div>
</li>
{{/equals}}
{{#equals type 2}}
<li data-tag-id="{{id}}" data-type="{{type}}" data-major="{{leafMajorId}}">
  <a href="/list/edit/measurement/safe?bidId={{bidId}}&billId={{billId}}&tag={{id}}" data-id="{{id}}">{{name}}</a>
  <span class="list-control">
    <a href="javascript:;" class="icon-hsh icon-bianji"></a>
    <a href="javascript:;" class="icon-hsh icon-trash"></a>
  </span>
  <div class="input-group input-group-append edit-item-name">
    <input type="text" value="{{name}}">
    <span class="input-group-btn">
      <button class="btn edit-item-btn" type="button">确定</button>
    </span>
  </div>
</li>
{{/equals}}
