<div class="modal">
  <div class="modal-header">
    <h2>{{i18n "Payment channel configuration" bundle="system"}}</h2>
  </div>
  <form class="form form-aligned paytype-form" data-id="{{data.id}}" data-site="{{json site}}">
    <div class="modal-dialog">
      <div class="control-group">
        <label for="sites-name" style="float: left;"><span class="required">*</span>{{i18n "Payment channels" bundle="system"}}:</label>
        <div class="cons">
          {{#each data.payChannels}}
            <label><input name="{{name}}" type="checkbox" value="{{name}}" class="input-checkbox" title="{{description}}" {{#if isChecked}}checked="true"{{/if}}> {{description}}</label><br>
          {{/each}}
          <span class="note">{{i18n "Select at least one" bundle="system"}}</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-medium btn-success" type="submit">{{i18n "Confirm" bundle="system"}}</button>
      <button class="btn btn-medium close" type="button">{{i18n "Cancel" bundle="system"}}</button>
    </div>
  </form>
</div>
