<div class="modal">
  <div class="modal-header">
    <h2>{{i18n "Site Configuration" bundle="system"}}</h2>
  </div>
  <form class="form form-aligned sites-form" sites-id="{{site.id}}">
    <div class="modal-dialog">
      <div class="sites-new">
        <div class="control-group">
          <label for="name"><span class="required">*</span>{{i18n "Template" bundle="system"}}:</label>
          <select name="layout" required>
            {{#each layouts}}
            <option value="{{key}}@{{app}}" {{#equals ../site.layout key}}{{#equals ../site.app app}}selected{{/equals}}{{/equals}}>{{name}}</option>
            {{/each}}
          </select>
          <span class="note"><i>&times;</i> {{i18n "Required, cannot be empty" bundle="system"}}</span>
          <span class="note-error-empty"><i>&times;</i> {{i18n "Required, cannot be empty" bundle="system"}}</span>
        </div>
        <div class="control-group">
          <label for="sites-name"><span class="required">*</span>{{i18n "Site Name" bundle="system"}}:</label>
          {{#if site}}<input type="hidden" name="id" value="{{site.id}}">{{/if}}
          <input id="sites-id" name="name" type="text" placeholder="{{i18n "Please enter a site name" bundle="system"}}" value="{{site.name}}" required>
          <span class="note"><i>&times;</i> {{i18n "Required, cannot be empty" bundle="system"}}</span>
          <span class="note-error-empty"><i>&times;</i> {{i18n "Required, cannot be empty" bundle="system"}}</span>
        </div>
        <div class="control-group">
          <label for="name"><span class="required">*</span>{{i18n "Domain name" bundle="system"}}:</label>
          <input id="site-domain" name="domain" type="text" placeholder="{{i18n "Please enter a domain name" bundle="system"}}" value="{{site.domain}}" required>
          <span class="note"><i>&times;</i> {{i18n "Required, cannot be empty" bundle="system"}}</span>
          <span class="note-error-empty"><i>&times;</i> {{i18n "Required, cannot be empty" bundle="system"}}</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-medium btn-success" type="submit">{{i18n "Confirm" bundle="system"}}</button>
      <button class="btn btn-medium close" type="button">{{i18n "Cancel" bundle="system"}}</button>
    </div>
  </form>
</div>
