<div class="modal modal-bids-manage">
  <div class="modal-header">
    <h2>变更经办人</h2>
    <i class="icon-feebas icon-feebas-cha right-close close"></i>
  </div>
  {{#with data}}
    <form class="form-aligned form form-common js-form-operator">
      <div class="modal-body manager-body">
        <input type="hidden" name="bidId" value="{{bidId}}">
        <div><h4>采购</h4></div>
        {{#if bidOperatorId}}
          <div class="control-group">
            <label class="group-title">招标立项经办人：</label>
            <div class="group-content">
              <select class="select" name="bidOperatorId">
                {{#each users}}
                  <option value="{{userId}}" {{#equals ../bidOperatorId userId}}selected{{/equals}}>{{realName}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        {{/if}}
        {{#if supplierSelectOperatorId}}
          <div class="control-group">
            <label class="group-title">入围经办人：</label>
            <div class="group-content">
              <select class="select" name="supplierSelectOperatorId">
                {{#each users}}
                  <option value="{{userId}}" {{#equals ../supplierSelectOperatorId userId}}selected{{/equals}}>{{realName}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        {{/if}}
        {{#if bidFileOperatorId}}
          <div class="control-group">
            <label class="group-title">招标文件经办人：</label>
            <div class="group-content">
              <select class="select" name="bidFileOperatorId">
                {{#each users}}
                  <option value="{{userId}}" {{#equals ../bidFileOperatorId userId}}selected{{/equals}}>{{realName}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        {{/if}}
        {{#if qaOperatorId}}
          <div class="control-group">
            <label class="group-title">答疑经办人：</label>
            <div class="group-content">
              <select class="select" name="qaOperatorId">
                {{#each users}}
                  <option value="{{userId}}" {{#equals ../qaOperatorId userId}}selected{{/equals}}>{{realName}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        {{/if}}
        {{#if purchasingAgentId}}
          <div class="control-group">
            <label class="group-title">采购经办人：</label>
            <div class="group-content">
              <select class="select" name="purchasingAgentId">
                {{#each users}}
                  <option value="{{userId}}" {{#equals ../purchasingAgentId userId}}selected{{/equals}}>{{realName}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        {{/if}}
        {{#if costOperators}}
          <div><h4>成本</h4></div>
          <div class="control-group">
            <label class="group-title">成本经办人：</label>
            <div class="group-content select-more js-select-container">
              <input type="text" name="costOperators" class="js-select-id" placeholder="请选择经办人" value="{{costOperators}}" required>
              <span class="note-error-empty">不能为空</span>
            </div>
          </div>
        {{/if}}
        {{#if approveList}}
          <div><h4>审批</h4></div>
          {{#each approveList}}
            <div>{{approveType}}</div>
            {{#each taskSnapshots}}
              <div class="control-group">
                <label class="group-title">{{name}}：</label>
                <input type="hidden" name="approveList[][id]" value="{{id}}">
                <div class="group-content">
                  <select class="select" name="approveList[][approveId]">
                    {{#each ../../users}}
                      <option value="{{userId}}" {{#equals ../approveId userId}}selected{{/equals}}>{{realName}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            {{/each}}
          {{/each}}
        {{/if}}
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-primary btn-medium">确认</button>
        <button class="btn btn-info btn-medium close">取消</button>
      </div>
    </form>
  {{/with}}
</div>
