{{#component "articles-list-common js-comp"}}
  <div class="category-box">
    {{inject "design/articles_categories"}}
  </div>
  <div class="articles-list-common-list">
    {{#if _DATA_.data}}
    <ul>
      {{#each _DATA_.data}}
        <li>
          <a href="/pub/articles/detail?id={{id}}&categoryId={{../categoryId}}" title="{{title}}">
            <span class="articles-name">·  {{title}}</span>
          </a>
          <span class="articles-date">{{formatDate createdAt "withT"}}</span>
        </li>
      {{/each}}
    </ul>
    <div class="users-pagination" data-total="{{_DATA_.total}}"></div>
    {{else}}
      {{!-- todo: 无数据时的代码 --}}
    {{/if}}
  </div>
{{/component}}
