<div class="control-group {{#compare data.idCard before.idCard}}different-group{{/compare}}">
  <label><span class="required">*</span>法人身份证或证件:</label>
  <div class="btn btn-upload main-image js-upload-img">
    <input class="hide" type="file" name="file">
    <img src="{{data.idCard}}" class="js-img-show" style="{{#if data.idCard}}width: 70px; height: 70px{{/if}}">
    <span>+</span>
    <input type="hidden" name="idCard" value="{{data.idCard}}">
  </div>
  <span class="pictrue-remark">支持*.jpg、*.png、*.gif、*.jpeg格式</span>
</div>
{{#equals data.subType '2'}}
{{else}}
<div class="control-group {{#compare data.proxy before.proxy}}different-group{{/compare}}">
  <label><span class="required">*</span>授权委托书:</label>
  <div class="btn btn-upload main-image js-upload-img">
    <input class="hide" type="file" name="file">
    <img src="{{data.proxy}}" class="js-img-show" style="{{#if data.proxy}}width: 70px; height: 70px{{/if}}">
    <span>+</span>
    <input type="hidden" name="proxy" value="{{data.proxy}}">
  </div>
  <span class="pictrue-remark">支持*.jpg、*.png、*.gif、*.jpeg格式</span>
</div>
<div class="control-group {{#compare data.authorizee before.authorizee}}different-group{{/compare}}">
  <label><span class="required">*</span>被授权人委托书:</label>
  <div class="btn btn-upload main-image js-upload-img">
    <input class="hide" type="file" name="file">
    <img src="{{data.authorizee}}" class="js-img-show" style="{{#if data.authorizee}}width: 70px; height: 70px{{/if}}">
    <span>+</span>
    <input type="hidden" name="authorizee" value="{{data.authorizee}}">
  </div>
  <span class="pictrue-remark">支持*.jpg、*.png、*.gif、*.jpeg格式</span>
</div>
{{/equals}}
</fieldset>
<fieldset>
<div class="control-group select-group {{#compare before.credit data.credit}}different-group{{/compare}}">
  <label>银行信用等级:</label>
  <select class="select {{#compare data.credit before.credit}}different-select{{/compare}}" name="credit" disabled>
    <option value="">请选择</option>
    <option value='1' {{#equals data.credit '1'}}selected{{/equals}}>A++</option>
    <option value='2' {{#equals data.credit '2'}}selected{{/equals}}>A+</option>
    <option value='3' {{#equals data.credit '3'}}selected{{/equals}}>B+</option>
  </select>
</div>
<div class="control-group speciality-group {{#compare data.serviceCitys before.serviceCitys}}different-group{{/compare}}">
  <label><span class="required">*</span>服务区域城市:</label>
  <input type="hidden" class="js-city-id" value="{{#each data.serviceCitys}}{{#equals @index 0}}{{id}}{{else}},{{id}}{{/equals}}{{/each}}">
  <div class="selected-special-group js-selector-group" data-type="city" data-api="/api/address/0/children">
    <span class="js-empty-placeholder no-data-placeholder hide">请点击选择服务城市</span>
    {{#each data.serviceCitys}}
      <span class='each-city' data-id='{{id}}' data-name="{{name}}" data-parent-id="{{parentId}}" data-parent-name="{{parentName}}">
        {{name}}<i class='icon-hsh icon-hsh-cha js-delete-selected'></i>
      </span>
    {{/each}}
    <i class="icon-hsh icon-hsh-caret pull-right"></i>
  </div>
  <div class="js-selector-container hide"><label></label></div>
</div>
<div class="control-group speciality-group {{#compare data.special before.special}}different-group{{/compare}}">
  <label><span class="required">*</span>专业类型:</label>
  <input type="hidden" class="js-speciality-id" value="{{#each data.special}}{{#equals @index 0}}{{id}}{{else}},{{id}}{{/equals}}{{/each}}">
  <div class="selected-special-group js-selector-group" data-type="speciality" data-api="/api/base-major/register-tree">
    <span class="js-empty-placeholder no-data-placeholder hide">请点击选择专业类型</span>
    {{#each data.special}}
      <span class='each-speciality' data-id='{{id}}' data-name="{{name}}">
        {{name}}<i class='icon-hsh icon-hsh-cha js-delete-selected'></i>
      </span>
    {{/each}}
    <i class="icon-hsh icon-hsh-caret pull-right"></i>
  </div>
  <div class="js-selector-container hide"><label></label></div>
</div>
{{#equals data.subType '2'}}
<div class="control-group {{#compare data.controlName before.controlName}}different-group{{/compare}}">
  <label><span class="required">*</span>实际控制人:</label>
  <input type="text" name="controlName" class="input-medium" placeholder="请输入实际控制人姓名" maxlength="64" value="{{data.controlName}}" required disabled>
</div>
<div class="control-group {{#compare data.controlMobile before.controlMobile}}different-group{{/compare}}">
  <label><span class="required">*</span>控制人联系方式:</label>
  <input type="number" name="controlMobile" class="input-medium" placeholder="请输入实际控制人手机号" maxlength="64" value="{{data.controlMobile}}" required disabled>
</div>
{{/equals}}