<div class="current-location-dark clearfix" data-data="{{json _DATA_}}">
  <span class="items-total" data-total="{{_DATA_.entities.total}}"></span>
  <span class="current-location-span">
    {{#each _DATA_.breadCrumbs}}
      {{#if ../fcid}}
        {{#equals id 0}}
          <a class="js-bread-category-selector" data-id="{{id}}">{{name}}</a>&nbsp;&nbsp;<i class="icon-feebas icon-feebas-next"></i>&nbsp;
        {{/equals}}
      {{else}}
        <a class="js-bread-category-selector" data-id="{{id}}">{{name}}</a>&nbsp;&nbsp;<i class="icon-feebas icon-feebas-next"></i>&nbsp;
      {{/if}}
    {{/each}}
    {{#each _DATA_.chosen}}
      {{#equals type 0}}
      {{else}}
        <a data-key="{{key}}" data-name="{{name}}" class="bread-selector js-bread-selector font-12
          {{#equals type 1}}
            js-bread-brand-selector
          {{else}}
            js-bread-property-selector
          {{/equals}}">
          {{#equals type 2}}业务领域:{{name}}{{/equals}}
          {{#equals type 3}}注册资本:{{name}}{{/equals}}
          <i class="font-12 icon-feebas icon-feebas-close"></i>
        </a>
      {{/equals}}
    {{/each}}
  </span>
</div>
