{{#partial "title"}}{{{block "realTitle"}}}{{/partial}}
{{#partial "bodyClass"}}body{{/partial}}
{{#partial "body"}}
  {{#if todo}}
    <div class="main-right" style="margin:0; padding:0;">
  {{else}}
    <div class="main-top">
      {{inject "user/header"}}
    </div>
    <div class="main-left">
      {{inject "shop/sidebar"}}
    </div>
    <div class="main-right">
  {{/if}}
  {{{block "realBody"}}}
  </div>
  <div class="notify-container"></div>
{{/partial}}
{{> layout}}
