{{#component "bids-confirm-info"}}
 {{> component:developer/bids/bids_confirm/confirm_info/backend_templates/list}}
 <div class="bids-group">
   <form class="form form-aligned form-common js-form-bids-confirm">
    <fieldset>
      <div class="control-group">
        <label class="group-title" style="width:4em;">定标附件</label>
        <div class="group-content" style="vertical-align: top; width: 900px;">
          {{#equals _BIDS_DETAILS_.issueOperatorId _USER_.id}}
            {{#equals _BIDS_DETAILS_.bidStatus 16}}
              <div class="pull-left margin-right-20 margin-bottom-20 upload-content">
                <div class="bids-file btn-upload js-upload-file" data-type="9">
                  <div class="file-img">
                    <i class="icon-hsh icon-hsh-upload"></i>
                  </div>
                  <div class="file-upload">
                    <input type="file" name="file">
                    <span>上传定标附件</span>
                  </div>
                </div>
              </div>
            {{/equals}}
          {{/equals}}
          {{#if _FILES_}}
            {{#each _FILES_}}
              {{> component:developer/bids/bids_confirm/confirm_info/all_templates/_attach_item bidStatus=../_BIDS_DETAILS_.bidStatus issueOperatorId=../_BIDS_DETAILS_.issueOperatorId userId=../_USER_.id}}
            {{/each}}
          {{else}}
            {{#equals _BIDS_DETAILS_.issueOperatorId _USER_.id}}
              {{#equals _BIDS_DETAILS_.bidStatus 16}}
              {{else}}
                <span>暂无定标附件！</span>
              {{/equals}}
            {{else}}
              <span>暂无定标附件！</span>
            {{/equals}}
          {{/if}}
        </div>
      </div>
      <div class="control-group">
        <label class="group-title" style="width:4em;">定标意见</label>
        <div class="group-content">
          <textarea class="min-width-500" name="finalOpinion" pattern="^.{5,100}$" placeholder="请输入5-100字的定标意见" {{#equals _BIDS_DETAILS_.issueOperatorId _USER_.id}}{{#equals _BIDS_DETAILS_.bidStatus 16}}required{{else}}readonly{{/equals}}{{else}}readonly{{/equals}}>{{_BIDS_DETAILS_.finalOpinion}}</textarea>
          <span class="note-error">x 请输入5-100字的定标意见</span>
          <span class="note-error-empty">x 请输入定标意见</span>
        </div>
      </div>
      {{#equals _BIDS_DETAILS_.issueOperatorId _USER_.id}}
        {{#equals _BIDS_DETAILS_.bidStatus 16}}
          <div class="control-group">
            <button class="btn btn-primary" type="submit">提交定标</button>
          </div>
        {{/equals}}
      {{/equals}}
    </fieldset>
   </form>
 </div>
{{/component}}
