{{#component "component-list-header js-comp"}}
<div class="list-header">
  <div class="list-logo">
    <img class="logo" src="/assets/images/other-images/white-logo.png">
  </div>
  <ul class="list-nav js-nav">
    <li>
      <a href="/list/config?bidId={{bidId}}{{#if billId}}&billId={{billId}}{{/if}}" {{#equals type "config"}}class="active"{{/equals}}>清单配置</a>
    </li>
    {{#if billId}}
    <li data-header="edit">
      <a href="/list/edit/division?bidId={{bidId}}&billId={{billId}}&tag={{#each _DATA_}}{{#unless @index}}{{this.id}}{{/unless}}{{/each}}" {{#equals type "edit"}}class="active"{{/equals}}>清单编制</a>
    </li>
    <li data-header="analysis">
      <a href="/list/analysis/project_sum?bidId={{bidId}}&billId={{billId}}" {{#equals type "analysis"}}class="active"{{/equals}}>汇总分析</a>
    </li>
    <li>
      <a href="#">报表导出</a>
    </li>
    <li class="pull-right">
      <a href="javascript:;">发布</a>
    </li>
    {{/if}}
  </ul>
</div>
{{/component}}
