<div class="clearfix">
  <div class="form-left">
    <div class="control-group">
      <label class="group-title"><b class="required">*</b>招标类别</label>
      <div class="group-content">
        <select name="bidType" class="js-select-bid-type" required data-parent=".group-content">
          <option value="">请选择</option>
          <option value="1" {{#equals bidType 1}}selected{{/equals}}>总包</option>
          <option value="2" {{#equals bidType 2}}selected{{/equals}}>专业分包</option>
          <option value="3" {{#equals bidType 3}}selected{{/equals}}>设备</option>
          <option value="4" {{#equals bidType 4}}selected{{/equals}}>专业服务</option>
        </select>
        <span class="note-error-empty">x 请选择招标类别</span>
      </div>
    </div>
  </div>
  <div class="form-right">
    <div class="control-group">
      <label class="group-title"><b class="required">*</b>招标专业</label>
      <div class="group-content js-speciality-container select-more">
        <input type="text" name="speciality" class="js-select-id js-speciality-id" value="{{speciality}}" placeholder="请选择专业" required>
        </div>
        <span class="note-error-empty">x 专业不能为空</span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix">
  <div class="form-left">
    <div class="control-group">
      <label class="group-title"><b class="required">*</b>招标名称</label>
      <div class="group-content">
        <input type="text" name="bidName" class="input-medium" placeholder="请输入招标名称" maxLength="50" pattern="^.{2,50}$" value="{{bidName}}" data-init="{{bidName}}" required>
        <span class="note-error">x 长度必须为2-50位字符</span>
        <span class="note-error-empty">x 不能为空</span>
      </div>
    </div>
  </div>
  <div class="form-right">
    <div class="control-group">
      <label class="group-title"><b class="required">*</b>招标方式</label>
      <div class="group-content">
        <select name="bidWay" class="js-bid-way" required data-parent=".group-content">
          <option value="">请选择</option>
          <option value="1" {{#equals bidWay 1}}selected{{/equals}}>公开招标</option>
          <option value="2" {{#equals bidWay 2}}selected{{/equals}}>邀请招标</option>
        </select>
        <span class="note-error-empty">x 请选择招标方式</span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix">
  <div class="form-left">
    <div class="control-group">
      <label class="group-title">概算金额</label>
      <div class="group-content">
        <input type="text" name="estimatedAmount" class="input-medium js-input-price" placeholder="请输入概算金额" pattern="^\d{1,3}(,\d{3}){0,4}$" value="{{#if estimatedAmount}}{{formatNumber estimatedAmount}}{{/if}}">
        <span class="units-one">元</span>
        <span class="note-error">x 超出限额</span>
      </div>
    </div>
  </div>
  <div class="form-right">
    <div class="control-group">
      <label class="group-title"><b class="required">*</b>招标单位</label>
      <div class="group-content">
        <input type="text" name="bidCompany" class="js-company-name-input" value="{{#if bidCompany}}{{bidCompany}}{{else}}{{_USER_.companyName}}{{/if}}" readonly>
        <input type="hidden" name="bidCompanyId" value="{{#if bidCompanyId}}{{bidCompanyId}}{{else}}{{_USER_.companyId}}{{/if}}">
      </div>
    </div>
  </div>
</div>
<div class="clearfix">
  <div class="form-left">
    <div class="control-group">
      <label class="group-title"><b class="required">*</b>招标文件经办人</label>
      <div class="group-content">
        <select name="bidFileOperatorId" required>
          {{#each companyUsers}}
            {{#if ../bidFileOperatorId}}
              <option value="{{userId}}" {{#equals userId ../bidFileOperatorId}}selected{{/equals}}>{{realName}}</option>
            {{else}}
              <option value="{{userId}}" {{#equals userId ../_USER_.id}}selected{{/equals}}>{{realName}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
    </div>
  </div>
  <div class="form-right">
    <div class="control-group">
      <label class="group-title"><b class="required">*</b>入围经办人</label>
      <div class="group-content">
        <select name="tenderFinalistsOperatorId" required>
          {{#each companyUsers}}
            {{#if ../tenderFinalistsOperatorId}}
              <option value="{{userId}}" {{#equals userId ../tenderFinalistsOperatorId}}selected{{/equals}}>{{realName}}</option>
            {{else}}
              <option value="{{userId}}" {{#equals userId ../_USER_.id}}selected{{/equals}}>{{realName}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
    </div>
  </div>
</div>
<div class="clearfix">
  <div class="form-left">
    <div class="control-group">
      <label class="group-title">计划工期</label>
      <div class="group-content">
        <input type="text" name="timePlan" pattern="^\d{1,6}$" class="input-medium" placeholder="请输入计划工期" value="{{timePlan}}">
        <span class="units-one">天</span>
        <span class="note-error">x 格式不正确</span>
      </div>
    </div>
  </div>
  <div class="form-right">
    <div class="control-group">
      <label class="group-title">评标原则</label>
      <div class="group-content">
        <input type="text" name="judgeRule" class="input-medium" placeholder="请输入评标原则" maxLength="50" pattern="^.{2,50}$" value="{{#if judgeRule}}{{judgeRule}}{{else}}综合评标法，合理低价中标{{/if}}">
        <span class="note-error">x 请输入2-50位字符</span>
        <span class="note-error-empty">x 不能为空</span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix">
  <div class="form-left">
    <div class="control-group">
      <label class="group-title">报名条件</label>
      <div class="group-content">
        <input type="text" name="applicationConditions" class="input-medium" placeholder="请输入报名条件" maxLength="50" pattern="^.{2,50}$" value="{{applicationConditions}}">
        <span class="note-error">x 请输入2-50位字符</span>
        <span class="note-error-empty">x 不能为空</span>
      </div>
    </div>
  </div>
  <div class="form-right">
    <div class="control-group">
      <label class="group-title"><b class="required">*</b>投标保证金</label>
      <div class="group-content">
        <input type="text" name="bidBonds" class="input-medium js-input-price" placeholder="请输入投标保证金" pattern="^\d{1,3}(,\d{3}){0,4}$" value="{{#if bidBonds}}{{formatNumber bidBonds}}{{/if}}" required>
        <span class="units-one">元</span>
        <span class="note-error">x 超出限额</span>
        <span class="note-error-empty">x 不能为空</span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix">
  <div class="form-left">
    <div class="control-group">
      <label class="group-title">计划发标时间</label>
      <div class="group-content">
        <input type="text" name="planBidDate" class="datepicker js-common-start-at" placeholder="请输入计划发标时间" value="{{formatDate planBidDate "day"}}">
        <span class="note-error-empty">x 不能为空</span>
      </div>
    </div>
  </div>
  <div class="form-right">
    <div class="control-group">
      <label class="group-title">计划截标时间</label>
      <div class="group-content">
        <input type="text" name="planDeadlineDate" class="datepicker js-common-end-at" placeholder="请输入计划截标时间" value="{{formatDate planDeadlineDate "day"}}">
        <span class="note-error-empty">x 不能为空</span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix">
  <div class="form-left">
    <div class="control-group">
      <label class="group-title">报名联系方式</label>
      <div class="group-content">
        <input type="text" name="contact" class="input-medium" placeholder="请输入报名联系方式" pattern="^((0\d{2,3}-\d{7,8})|(1[35847]\d{9}))$" value="{{contact}}">
        <span class="note-error">x 格式必须为区号-电话或手机号</span>
        <span class="note-error-empty">x 不能为空</span>
      </div>
    </div>
  </div>
  <div class="form-right">
    <div class="control-group">
      <label class="group-title"><b class="required">*</b>选择公告内容</label>
      <div class="group-content js-notice-container select-more">
        <input type="text" name="notification[]" class="js-select-id" value="{{#if notification}}{{notification}}{{else}}projectName,city,addressDetail,speciality,bidCompany,bidBonds{{/if}}" placeholder="请选择公告内容" required>
        <span class="note-error-empty">x 公告内容不能为空</span>
      </div>
    </div>
  </div>
</div>
<div class="js-register-deadline">
  {{#equals bidWay 1}}
    {{> component:developer/bids/bids_manage/common/all_templates/_register_date}}
  {{/equals}}
</div>
<div class="control-group">
  <label class="group-title">备注</label>
  <div class="group-content">
    <input type="text" name="remark" class="input-large" placeholder="请输入备注" maxLength="100" pattern="^.{2,100}$" value="{{remark}}">
    <span class="note-error">x 请输入2-100位字符</span>
    <span class="note-error-empty">x 不能为空</span>
  </div>
</div>
<div class="control-submit">
  <button type="submit" class="btn btn-primary">提交</button>
</div>
