<div class="current-location-dark clearfix">
  <span class="items-total" data-total="{{_DATA_.entities.total}}">
    共{{#if _DATA_.entities.total}}{{_DATA_.entities.total}}{{else}}0{{/if}}条搜索结果
  </span>
  <span class="current-location-span">
    {{#each _DATA_.breadCrumbs}}
      {{#if ../fcid}}
        {{#equals id 0}}
          <a class="font-14 js-bread-category-selector" data-id="{{id}}">{{name}}</a>&nbsp;&nbsp;<i class="font-14 icon-feebas icon-feebas-next"></i>&nbsp;
        {{/equals}}
      {{else}}
        <a class="font-14 js-bread-category-selector" data-id="{{id}}">{{name}}</a>&nbsp;&nbsp;<i class="font-14 icon-feebas icon-feebas-next"></i>&nbsp;
      {{/if}}
    {{/each}}
    {{#each _DATA_.chosen}}
      <a  data-id="{{key}}" data-selector="{{key}}:{{name}}" class="bread-selector js-bread-selector font-12
        {{#equals type 0}}js-bread-bidName-selector{{/equals}}
        {{#equals type 1}}js-bread-address-selector{{/equals}}
        {{#equals type 2}}js-bread-projectType-selector{{/equals}}
        {{#equals type 3}}js-bread-speciality-selector{{/equals}}">
        {{#equals type 1}}地区:{{name}}{{/equals}}
        {{#equals type 2}}业态:{{name}}{{/equals}}
        {{#equals type 3}}专业:{{name}}{{/equals}}
        {{#equals type 0}}{{name}}{{/equals}}
        <i class="font-12 icon-feebas icon-feebas-close"></i>
      </a>
    {{/each}}
  </span>
</div>
