<table class="table">
  <thead>
    <tr>
      <th width="25%">审批流程类型</th>
      <th width="25%">流程名称</th>
      <th width="25%">状态</th>
      <th width="25%">操作</th>
    </tr>
  </thead>
  <tbody>
    {{#if _DATA_}}
      {{#each _DATA_}}
        <tr>
          <td>
            {{#equals type 0}}招标立项{{/equals}}
            {{#equals type 1}}招标文件编制{{/equals}}
            {{#equals type 2}}供应商入围{{/equals}}
            {{#equals type 3}}补充文件{{/equals}}
            {{#equals type 4}}答疑文件{{/equals}}
            {{#equals type 5}}评标{{/equals}}
            {{#equals type 6}}定标{{/equals}}
          </td>
          <td>{{name}}</td>
          <td>
            {{#equals status 1}}已启用{{/equals}}
            {{#equals status -1}}已禁用{{/equals}}
          </td>
          <td>
            <a href="/developer/approval-edit?id={{id}}">编辑</a>
            {{#equals status 1}}
              <a href="javascript:;" class="js-approval-forbid" data-id="{{id}}">禁用</a>
            {{/equals}}
            {{#equals status -1}}
              <a href="javascript:;" class="js-approval-open" data-id="{{id}}">启用</a>
              <a href="javascript:;" class="js-approval-delete" data-id="{{id}}">删除</a>
            {{/equals}}
          </td>
        </tr>
      {{/each}}
    {{else}}
      <tr>
        <td class="center-text" colspan="4">暂无审批流程！</td>
      </tr>
    {{/if}}
  </tbody>
</table>
