{{#component "component-shop-items-category js-comp"}}
<div class="category-title">{{i18n "The Shop Category" bundle="shop_design"}}</div>
<div class="shop-item-category">
  <div class="category-body">
    <ul class="firstU">
      <li class="firstC noC"><a href="/shops/{{shopId}}" class="firstA cutwords">查看所有商品</a></li>
      {{#each _DATA_}}
      <li class="firstC {{#unless children}}noC{{/unless}}">
        {{#if children}}<i class="firstI icon-feebas icon-feebas-shouqi-copy shouqi"></i>{{/if}}<a href="/shops/{{shopId}}?shopCatId={{id}}" class="firstA cutwords" title="{{name}}">{{name}}</a>
        {{#if children}}
          <ul class="secondU">
            {{#each children}}
              <li class="secondC">
                <a href="/shops/{{shopId}}?shopCatId={{id}}" class="secondA cutwords" title="{{name}}">{{name}}</a>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/component}}
