<div class="list list-squared list-condensed clearfix">
  {{#if _DATA_.total}}
    {{!-- 列表展示 --}}
    <table class="shop-search-items-list-type" width="100%">
      <tbody>
        {{#each _DATA_.data}}
        <tr {{#if @last}}class="last"{{/if}}>
          <td width="640">
            <div class="product-image">
              <a href="/supplier/developer-detail?companyId={{companyId}}" target="_blank">
                <img data-original="{{cdnPath logo "78"}}" alt="{{name}}" style="width:78px; height:78px;">
              </a>
            </div>
            <div class="descAshop">
              <p class="product-desc">
                <a href="/supplier/developer-detail?companyId={{companyId}}" target="_blank">{{{name}}}</a>
              </p>
              <p class="shop-name cutwords">
                <span href="javascript:;">{{capital}}&nbsp;</span>|&nbsp;
                <span href="javascript:;">{{formatDate registerTime 'day'}}</span>
              </p>
              <p class="shop-name cutwords">
                <i class="icon-hsh icon-hsh-dw"></i>
                <span href="javascript:;">{{province}}</span>
                <span href="javascript:;">{{city}}</span>
              </p>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="no-results center-text">
      <span class="img"><i class="icon-feebas icon-feebas-goods good-icon"></i></span>
      <p class="desc">暂无开发商公司</p>
    </div>
  {{/if}}
</div>
