<div class="bids-group">
  <div class="bids-title">
    <label>评标附件及评价</label>
  </div>
  <div class="bids-content content-border">
    <form class="form form-aligned form-common js-form-attachment-evaluate">
      <fieldset>
        <div class="control-group">
          <input type="hidden" name="bidId" value="{{bidId}}">
          <label class="group-title">评标附件：</label>
          <div class="group-content" style="vertical-align: top; width: 900px;">
            {{#equals _BIDS_DETAILS_.issueOperatorId _USER_.id}}
              {{#equals _BIDS_DETAILS_.bidStatus 14}}
                <div class="pull-left margin-right-20 margin-bottom-20 upload-content">
                  <div class="bids-file btn-upload js-upload-file" data-type="8">
                    <div class="file-img">
                      <i class="icon-hsh icon-hsh-upload"></i>
                    </div>
                    <div class="file-upload">
                      <input type="file" name="file">
                      <span>上传评标附件</span>
                    </div>
                  </div>
                </div>
              {{/equals}}
            {{/equals}}
            {{#if _DATA_}}
              {{#each _DATA_}}
                {{> component:developer/bids/bids_evaluate/common/all_templates/_attach_item bidStatus=../_BIDS_DETAILS_.bidStatus issueOperatorId=../_BIDS_DETAILS_.issueOperatorId userId=../_USER_.id}}
              {{/each}}
            {{else}}
              {{#equals _BIDS_DETAILS_.issueOperatorId _USER_.id}}
                {{#equals _BIDS_DETAILS_.bidStatus 14}}
                {{else}}
                  <span>暂无评标附件！</span>
                {{/equals}}
              {{else}}
                <span>暂无评标附件！</span>
              {{/equals}}
            {{/if}}
          </div>
        </div>
        <div class="control-group">
          <label class="group-title">技术标评价：</label>
          <div class="group-content">
            <textarea name="techEvaluation" class="min-width-500" pattern="^.{5,100}$" placeholder="请输入5-100字的技术标评价" {{#of _USER_.id _BIDS_DETAILS_.costOperatorIds}}{{#equals _BIDS_DETAILS_.bidStatus 14}}required{{else}}readonly{{/equals}}{{else}}readonly{{/of}}>{{_BIDS_DETAILS_.techEvaluation}}</textarea>
            <span class="note-error">x 请输入5-100字的技术标评价</span>
            <span class="note-error-empty">x 请输入技术标评价</span>
          </div>
        </div>
        <div class="control-group">
          <label class="group-title">资信标评价：</label>
          <div class="group-content">
            <textarea name="creditEvaluation" class="min-width-500" pattern="^.{5,100}$" placeholder="请输入5-100字的资信标评价" {{#equals _BIDS_DETAILS_.issueOperatorId _USER_.id}}{{#equals _BIDS_DETAILS_.bidStatus 14}}required{{else}}readonly{{/equals}}{{else}}readonly{{/equals}}>{{_BIDS_DETAILS_.creditEvaluation}}</textarea>
            <span class="note-error">x 请输入5-100字的资信标评价</span>
            <span class="note-error-empty">x 请输入资信标评价</span>
          </div>
        </div>
        <div class="control-group">
          <label class="group-title">商务标评价：</label>
          <div class="group-content">
            <textarea name="businessEvaluation" class="min-width-500" pattern="^.{5,100}$" placeholder="请输入5-100字的商务标评价" {{#of _USER_.id _BIDS_DETAILS_.costOperatorIds}}{{#equals _BIDS_DETAILS_.bidStatus 14}}required{{else}}readonly{{/equals}}{{else}}readonly{{/of}}>{{_BIDS_DETAILS_.businessEvaluation}}</textarea>
            <span class="note-error">x 请输入5-100字的商务标评价</span>
            <span class="note-error-empty">x 请输入商务标评价</span>
          </div>
        </div>
        {{#equals _BIDS_DETAILS_.bidStatus 14}}
          {{#of  _USER_.id _BIDS_DETAILS_.costOperatorIds}}
            <div class="control-group">
              <label class="group-title"></label>
              <button type="submit" class="btn btn-primary btn-medium">保存</button>
            </div>
          {{else}}
            {{#equals _BIDS_DETAILS_.issueOperatorId _USER_.id}}
              <div class="control-group">
                <label class="group-title"></label>
                <button type="submit" class="btn btn-primary btn-medium">保存</button>
              </div>
            {{/equals}}
          {{/of}}
        {{/equals}}
      </fieldset>
    </form>
  </div>
</div>
