<div class="modal modal-bids-manage">
  <div class="modal-header">
    <h2>提交答疑文件</h2>
    <i class="icon-feebas icon-feebas-cha right-close close"></i>
  </div>
  <div class="modal-body file-body">
    <div>
      <h4>你将提交的答疑文件如下，请确认</h4>
    </div>
    <div class="clearfix margin-bottom-20">
      <div class="pull-left">
        开发商回复：
      </div>
      <div class="pull-left">
        {{#if answerReplyFiles}}
          {{#each answerReplyFiles}}
            <div>{{filename}}</div>
          {{/each}}
        {{else}}
          <div>暂无开发商回复！</div>
        {{/if}}
      </div>
    </div>
    <div class="clearfix margin-bottom-20">
      <div class="pull-left">
        答疑附件：
      </div>
      <div class="pull-left">
        {{#if answerAccessory}}
          {{#each answerAccessory}}
            <div>{{filename}}</div>
          {{/each}}
        {{else}}
          <div>暂无答疑附件！</div>
        {{/if}}
      </div>
    </div>
    <div class="clearfix margin-bottom-20">
      <div class="pull-left">
        答疑清单列表：
      </div>
      <div class="pull-left">
        {{#if answerInventory}}
          {{#each answerInventory}}
            <div>
              <span>{{filename}}</span>
              {{#if effectiveStatus}}
                <span class="effective-item">已生效</span>
              {{else}}
                <span class="ineffective-item">未生效</span>
              {{/if}}
            </div>
          {{/each}}
        {{else}}
          <div>暂无清单！</div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-primary btn-medium js-answer-file-submit" data-bid-id="{{bidId}}">确认</button>
    <button class="btn btn-info btn-medium close">取消</button>
  </div>
</div>
