<tr class="js-item-info {{#if pid}}table-row-level-1{{/if}} {{#if weightVal}}table-row-level-1{{/if}}" data-id="{{id}}" data-bill-model-id="{{billModelId}}">
  <td>
    {{#if children}}
      <a href="javascript:;" class="js-pack-event pack-status expanded">
        <i class="icon-hsh icon-expand expand"></i><i class="icon-hsh icon-pack pack"></i>
      </a>
    {{/if}}
    <a href="javascript:;" {{#unless pid}}class="js-item-type"{{/unless}} data-item="{{json this}}">{{name}}</a>
  </td>
  <td>
    {{#if skuValue}}
      {{#each (parse skuValue)}}
        <span>{{@key}}: {{this}}</span><br>
      {{/each}}
    {{else}}
      无
    {{/if}}
  </td>
  <td>{{cate}}</td>
  <td>{{unit}}</td>
  <td class="input-td">
    {{#equals netAmountIsWeight 1}}
      综合
    {{else}}
      {{#if weightVal}}
        <input type="text" name="netAmount" class="js-update-item" value="{{netAmount}}" pattern="^(-)?\d*(\.\d{1,6})?$">
      {{else}}
        {{#equals type 1}}
          <input type="text" name="netAmount" class="js-update-item" value="{{netAmount}}" pattern="^(-)?\d*(\.\d{1,6})?$">
        {{/equals}}
      {{/if}}
    {{/equals}}
  </td>
  <td class="input-td">
    {{#equals scrapRateIsWeight 1}}
      综合
    {{else}}
      {{#if weightVal}}
        <input type="text" name="scrapRate" class="js-update-item" value="{{formatCent scrapRate 0.01 2}}" pattern="^(-)?\d{1,2}(\.\d{1,2})?$">
      {{else}}
        {{#equals type 1}}
          <input type="text" name="scrapRate" class="js-update-item" value="{{formatCent scrapRate 0.01 2}}" pattern="^(-)?\d{1,2}(\.\d{1,2})?$">
        {{/equals}}
      {{/if}}
    {{/equals}}
  </td>
  <td class="td-operation">{{#if isCustom}}<a href="javscript:;" class="js-del-item" data-id="{{id}}">删除</a>{{else}}无{{/if}}</td>
</tr>
{{> list/measurement/frontend_templates/_detail_item}}
