{{#if total}}
  {{#each data}}
    <tr class="js-bill-tr" data-bill="{{json this}}">
      <td>{{name}}</td>
      <td>{{projectFeatureShow}}</td>
      <td>{{unit}}</td>
    </tr>
  {{/each}}
{{else}}
  <tr>
    <td colspan="3">此分类下没有关联的清单</td>
  </tr>
{{/if}}
