<div class="modal js-attrs-modal">
  <div class="modal-header">
    <h2>编辑属性</h2>
  </div>
  <form class="form form-aligned standard-template-attr-form" data-standard-bill-id="{{id}}">
    <div class="modal-body clearfix">
      {{#each models}}
        <div class="model-item clearfix" data-bill-model-id="{{id}}">
        {{#each attrs}}
          <div class="control-group pull-left">
            <label>{{#if weight}}<span class="required">加权属性</span>{{/if}}{{name}}:</label>
            {{#equals type 1}}
              <select name="{{name}}:{{billModelId}}" {{#if weight}}multiple{{/if}}>
                {{#if weight}}<option value="">请选择</option>{{/if}}
                {{#each attrVals}}
                  <option value="{{this}}" {{#of this ../defaultVal}}selected{{/of}}>{{this}}</option>
                {{/each}}
              </select>
            {{/equals}}
            {{#equals type 2}}
              <input type="text" name="{{name}}:{{billModelId}}" value="{{defaultVal}}">
            {{/equals}}
            {{#equals type 3}}
              <span class="input-pair">
                <input class="input-small input-first" type="text" name="{{name}}:{{billModelId}}" value="{{#each (parse defaultVal)}}{{#if @first}}{{this}}{{/if}}{{/each}}">
                <span class="spacing">~</span>
                <input class="input-small input-last" type="text" name="{{name}}:{{billModelId}}" value="{{#each (parse defaultVal)}}{{#if @last}}{{this}}{{/if}}{{/each}}">
              </span>
            {{/equals}}
            <span>{{unit}}</span>
          </div>
        {{/each}}
        </div>
      {{/each}}
    </div>
    <div class="modal-footer">
      <button class="btn btn-medium btn-success" type="submit">确定</button>
      <button class="btn btn-medium btn-info close" type="button">取消</button>
    </div>
  </form>
</div>
