<div class="bill-detail-modal">
  <i class="icon-pokeball icon-pokeball-shanchu pull-right close"></i>
  <div class="tab" data-type="switchable">
    <ul class="tab-navs clearfix">
      {{#each models}}
        <li class="{{#equals @index 0}}active{{/equals}} js-bill-item-tab" data-role="nav" data-id="{{id}}" data-model-id="{{modelId}}">
          <a href="javascript:;">{{name}}</a>
        </li>
      {{/each}}
    </ul>
    <div class="tab-contents clearfix">
      {{#each models}}
        <div data-role="content" class="tab-content js-tab-content {{#equals @index 0}}{{else}}hide{{/equals}}" data-id="{{id}}">
          {{> list/measurement/frontend_templates/_detail_table}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
