<div class="modal" data-comp-path="pokeball">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h2>添加按费率计取项目</h2>
  </div>
  <div class="modal-body">
    <form id="add-form" class="form form-aligned">
      <fieldset>
        <div class="control-group">
          <label for="name"><span class="required">*</span>项目名称：</label>
          <input id="name" type="text" name="name" value="{{name}}" placeholder="请输入项目名称" required>
        </div>
        <div class="control-group">
          <label for="projectFeature"><span class="required">*</span>项目特征描述：</label>
          <input id="projectFeature" type="text" name="projectFeature" value="{{projectFeature}}" placeholder="请输入项目特征描述" required>
        </div>
        <div class="control-group">
          <label for="valuation">计价基础：</label>
          <div class="fees-valuation-base" style="display: inline-block; vertical-align: top;">
            {{#each valuationBase}}
            <div>
              <input name="valuation" type="checkbox" class="input-checkbox" value="{{key}}:{{value}}" data-role="{{value}}"/>
              <span>{{value}}</span>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="control-group">
          <label for="feeRate"><span class="required">*</span>费率：</label>
          <input id="feeRate" type="text" name="feeRate" value="{{feeRate}}" placeholder="请输入费率" required>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-medium js-submit">确定</button>
    &nbsp;
    <button class="btn btn-info btn-medium close">取消</button>
  </div>
</div>
