{{#each table}}
<tr data-value="{{json this}}">
  <td class="input-td">
    <!-- <input type="text" value="{{name}}" /> -->
    {{name}}
  </td>
  <td class="textarea-td">
    <!-- <textarea>{{projectFeature}}</textarea> -->
    {{projectFeature}}
  </td>
  <td>
    {{#each valuationBasicMap}}
    {{#if @index}}&nbsp;+&nbsp;{{/if}}
    {{this}}
    {{/each}}
  </td>
  <td>{{valuationBase}}</td>
  <td class="input-td">
    <!-- <input type="number" value="{{feeRate}}" /> -->
    {{feeRate}}
  </td>
  <td>{{fee}}</td>
  <td>
    <a href="javascript:;" class="js-edit-btn">编辑</a>
    <a href="javascript:;" class="js-delete-btn">删除</a>
  </td>
</tr>
{{/each}}
