{{#component "supplier-list"}}
  <div class="bids-group">
    <div class="bids-title">
      <label>入围供应商列表</label>
    </div>
    <div class="bids-content no-border">
      <table class="table js-table-supplier">
        <thead>
          <tr>
            <th width="5%">序号</th>
            <th width="15%">供应商公司名称</th>
            <th width="15%">联系人</th>
            <th width="15%">联系电话</th>
            <th width="15%">回标状态</th>
            <th width="15%">回标时间</th>
            <th width="15%">IP</th>
          </tr>
        </thead>
        <tbody>
          <div>
            {{#if _DATA_}}
              {{#each _DATA_}}
                <tr class="js-item-tr">
                  <td>{{id}}</td>
                  <td><a href="/developer/supplier-detail?companyId={{supplierId}}" target="_blank">{{supplierName}}</a></td>
                  <td>{{contacts}}</td>
                  <td>{{phone}}</td>
                  <td {{#equals status -3}}title="{{giveUpReason}}"{{/equals}}>
                    {{#equals status 6}}未回标{{/equals}}
                    {{#equals status -3}}已弃标{{/equals}}
                    {{#equals status 7}}已回标{{/equals}}
                  </td>
                  <td>{{#if lastBackBidDate}}{{formatDate lastBackBidDate}}{{else}}-{{/if}}</td>
                  <td>
                    {{#if ip}}{{ip}}{{else}}-{{/if}}
                  </td>
                </tr>
              {{/each}}
            {{else}}
              <tr>
                <td class="center-text" colspan="7">暂无入围供应商！</td>
              </tr>
            {{/if}}
          </div>
        </tbody>
      </table>
    </div>
  </div>
{{/component}}
