{{#component "auth-create component-standard-container js-comp"}}
  <div class="component-body">
    <form class="form form-aligned addauth-form" data-auth-role="{{roleType}}" data-company-type="{{companyType}}">
      <div class="control-group">
        <label><span class="required">*</span>角色名称:</label>
        <input type="hidden" name="id" value="{{_DATA_.id}}">
        <input name="name" type="text" value="{{_DATA_.name}}" maxlength="20" required>
        <span class="note">*最多只能输入20个字符</span>
      </div>
      <div class="control-group">
        <label>角色描述:</label>
        <textarea name="desc" maxLength="50">{{_DATA_.desc}}</textarea>
        <span class="note">*最多只能输入50个字符</span>
      </div>
      <hr />
      <div class="auth-list clearfix" data-info="{{json _DATA_.allow}}"></div>
      <div class="control-group">
        <label> </label>
        <button class="btn btn-medium btn-success" type="submit">确定</button>
        <a class="btn btn-medium btn-info" href="/{{companyType}}/company-user-role">取消</a>
      </div>
    </form>
  </div>
{{/component}}
