{{#component "common-query-header search-company-header component-site-header js-comp"}}
  <form class="form form-search" type="get" id="form-search" action="{{_HREF_.main}}{{_PATH_}}{{#if type}}?type={{type}}{{/if}}" data-hrefbase="{{_HREF_.main}}">
    <fieldset>
      <div class="input-group input-group-append input-search">
        <div class="search-type-group">
          <ul class="search-type">
            {{#equals companyType "supplier"}}
              <li class="search-type-li show-lead-type {{#indexOf '/supplier/search-developer' _PATH_}}active{{/indexOf}}" data-type="4">开发商</li>
              <li class="search-type-li show-list-type {{#indexOf '/supplier/search-developer' _PATH_}}hide{{else}}show-type-li{{/indexOf}}" data-type="4">开发商</li>
            {{else}}
              <li class="search-type-li show-lead-type {{#indexOf '/developer/search-supplier' _PATH_}}active{{/indexOf}}" data-type="4">供应商</li>
              <li class="search-type-li show-list-type {{#indexOf '/developer/search-supplier' _PATH_}}hide{{else}}show-type-li{{/indexOf}}" data-type="4">供应商</li>
            {{/equals}}
          </ul>
        </div>
        {{#equals companyType "supplier"}}
          <input type="text" name="q" class="search-input 4-suggest {{#indexOf "/supplier/search-developer" _PATH_}}active{{/indexOf}}" value="{{q}}" data-url="/supplier/search-developer" placeholder="请输入关键词进行开发商名称搜索" autocomplete="off">
        {{else}}
          <input type="text" name="q" class="search-input 4-suggest {{#indexOf "/developer/search-supplier" _PATH_}}active{{/indexOf}}" value="{{q}}" data-url="/developer/search-supplier" placeholder="请输入关键词进行供应商名称搜索" autocomplete="off">          
        {{/equals}}
        <span class="input-group-btn">
          <button class="btn btn-primary" id="search-button" type="submit">
            <i class="icon-hsh icon-hsh-sousuo-sousuo"></i>
          </button>
        </span>
      </div>
    </fieldset>
  </form>
{{/component}}
