{{#partial "title"}}{{{block "realTitle"}}}{{/partial}}
{{#partial "bodyClass"}}body{{/partial}}
{{#partial "body"}}
  <div class="main-top">
    {{inject "developer/sidebar"}}
  </div>
  <div class="main-body" style="margin-top: 80px;">
    <div class="main-search">
      {{inject "search/company_search_header" companyType="developer"}}
    </div>
    {{{block "tabNavs"}}}
    <div class="body-container">
      <div style="padding: 0 20px;">
        {{{block "realBody"}}}
      </div>
    </div>
  </div>
{{/partial}}
{{> layout}}
