<div class="bids-group no-padding">
  <div class="bids-title">
    <label>审批日志</label>
  </div>
  <div class="bids-content">
    <table class="table">
      <thead>
        <tr>
          <th width="20%">审批类型</th>
          <th width="15%">审批结果</th>
          <th width="15%">审批人</th>
          <th width="30%">审批意见</th>
          <th width="20%">审批时间</th>
        </tr>
      </thead>
      <tbody>
        {{#if approveLogList}}
          {{#each approveLogList}}
            <tr>
              <td>
                {{#equals type 0}}招标立项{{/equals}}
                {{#equals type 1}}招标文件编制{{/equals}}
                {{#equals type 2}}供应商入围{{/equals}}
                {{#equals type 3}}补充文件{{/equals}}
                {{#equals type 4}}答疑文件{{/equals}}
                {{#equals type 5}}评标{{/equals}}
                {{#equals type 6}}定标{{/equals}}
              </td>
              <td>
                {{#equals status 1}}同意{{/equals}}
                {{#equals status 0}}不同意{{/equals}}
              </td>
              <td>{{approverName}}</td>
              <td>{{#if opinion}}{{opinion}}{{else}}-{{/if}}</td>
              <td>{{formatDate createdAt}}</td>
            </tr>
          {{/each}}
        {{else}}
          <tr>
            <td class="center-text" colspan="5">暂无审批日志！</td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>
