<fieldset class="each-box-content">
  <div class="control-group {{#compare data.name before.name}}different-group{{/compare}}">
    <label><span class="required">*</span>公司名:</label>
    <input type="text" name="name" class="input-medium" placeholder="请输入公司全称" value="{{data.name}}" required disabled>
  </div>
  <div class="control-group {{#compare data.licenceNo before.licenceNo}}different-group{{/compare}}">
    <label><span class="required">*</span>营业执照号:</label>
    <input type="text" name="licenceNo" class="input-medium" placeholder="请输入营业执照号" value="{{data.licenceNo}}" pattern="^[0-9a-zA-Z]{16}$" required disabled>
    <span>16位的字母与数字的组合</span>
  </div>
  <div class="control-group {{#compare data.capital before.capital}}different-group{{/compare}}">
    <label><span class="required">*</span>注册资本:</label>
    <input type="number" name="capital" class="input-medium" placeholder="请输入注册资本" value="{{data.capital}}" required disabled>
    <span>单位：万元</span>
  </div>
  <div class="control-group {{#compare data.licenceImg before.licenceImg}}different-group{{/compare}}">
    <label><span class="required">*</span>营业执照照片:</label>
    <div class="btn btn-upload main-image js-upload-img">
      <input class="hide" type="file" name="file">
      <img src="{{data.licenceImg}}" class="js-img-show" style="{{#if data.licenceImg}}width: 70px; height: 70px{{/if}}">
      <span>+</span>
      <input type="hidden" name="licenceImg" value="{{data.licenceImg}}">
    </div>
    <span class="pictrue-remark">支持*.jpg、*.png、*.gif、*.jpeg格式</span>
  </div>
</fieldset>
<fieldset class="each-box-content">
  <div class="control-group {{#compare data.registerTime before.registerTime}}different-group{{/compare}}">
    <label><span class="required">*</span>成立日期:</label>
    <input type="text" class="input-medium datepicker estab-datepicker" name="registerTime" placeholder="请输入成立日期" value="{{formatDate data.registerTime 'day'}}" required disabled>
  </div>
  <div class="control-group biz-group {{#compare data.bizStart before.bizStart}}different-group{{else}}{{#compare data.bizEnd before.bizEnd}}different-group{{/compare}}{{/compare}}">
    <label><span class="required">*</span>营业期限:</label>
    <input type="text" class="js-common-start-at datepicker" name="bizStart" placeholder="请输入开始时间" value="{{formatDate data.bizStart 'day'}}" required disabled>
    <input type="text" class="js-common-end-at datepicker" name="bizEnd" placeholder="请输入结束时间" value="{{formatDate data.bizEnd 'day'}}" required disabled>
  </div>
  <div class="control-group {{#compare data.registerAddress before.registerAddress}}different-group{{/compare}}">
    <label><span class="required">*</span>注册地址:</label>
    <input type="text" name="registerAddress" class="input-medium" placeholder="请输入注册地址" value="{{data.registerAddress}}" required disabled>
  </div>
  <div class="control-group {{#compare data.legalName before.legalName}}different-group{{/compare}}">
    <label><span class="required">*</span>法人姓名:</label>
    <input type="text" name="legalName" class="input-medium" placeholder="请输入法人姓名" value="{{data.legalName}}" required disabled>
  </div>
  <div class="control-group {{#compare data.legalPhone before.legalPhone}}different-group{{/compare}}">
    <label><span class="required">*</span>法人联系方式:</label>
    <input type="number" name="legalPhone" class="input-medium" placeholder="请输入法人手机号" value="{{data.legalPhone}}" pattern="^1[34578]\d{9}$" required disabled>
  </div>
  {{#equals companyType 'developer'}}
  </fieldset>
  <fieldset>
  {{/equals}}
  <div class="control-group address-group
    {{#compare data.provinceId before.provinceId}}different-group{{else}}
    {{#compare data.cityId before.cityId}}different-group{{else}}
    {{#compare data.regionId before.regionId}}different-group{{/compare}}{{/compare}}{{/compare}}">
    <label><span class="required">*</span>所在区域:</label>
    <select name="provinceId" class="select address-select {{#compare data.provinceId before.provinceId}}different-select{{/compare}}" data-level="1" type="hide" disabled>
      <option value="{{data.provinceId}}" data-value="0" selected>请选择</option>
    </select>
    <select name="cityId" class="select address-select {{#compare data.cityId before.cityId}}different-select{{/compare}}" data-level="2" type="hide" disabled>
      <option value="{{data.cityId}}">请选择</option>
    </select>
    {{#equals companyType 'developer'}}
      <select name="regionId" class="select address-select {{#compare data.regionId before.regionId}}different-select{{/compare}}" data-level="3" type="hide" disabled>
        <option value="{{data.regionId}}">请选择</option>
      </select>
    {{/equals}}
  </div>
  {{#equals companyType 'developer'}}
  <div class="control-group scope-group {{#compare data.scope before.scope}}different-group{{/compare}}">
    <label><span class="required">*</span>业务领域:</label>
    <input type="checkbox" id="scope1" name="scope" value="住宅" {{#indexOf "住宅" data.scope}}checked{{/indexOf}} required disabled>
      <label for="scope1" class="checkbox-item">住宅</label>
    <input type="checkbox" id="scope2" name="scope" value="商业" {{#indexOf "商业" data.scope}}checked{{/indexOf}} required disabled>
      <label for="scope2" class="checkbox-item">商业</label>
    <input type="checkbox" id="scope3" name="scope" value="旅游" {{#indexOf "旅游" data.scope}}checked{{/indexOf}} required disabled>
      <label for="scope3" class="checkbox-item">旅游</label>
    <input type="checkbox" id="scope4" name="scope" value="综合体" {{#indexOf "综合体" data.scope}}checked{{/indexOf}} required disabled>
      <label for="scope4" class="checkbox-item">综合体</label> 
  </div>
  {{/equals}}
  {{#equals companyType 'supplier'}}
    {{> component:supplier/company/company_info/backend_templates/supplier_extra_info data=data before=before}}
  {{/equals}}
  <div class="control-group {{#compare data.logo before.logo}}different-group{{/compare}}">
    <label>公司logo:</label>
    <div class="btn btn-upload main-image js-upload-img">
      <input class="hide" type="file" name="file">
      <img src="{{data.logo}}" class="js-img-show" style="{{#if data.logo}}width: 70px; height: 70px{{/if}}">
      <span>+</span>
      <input type="hidden" name="logo" value="{{data.logo}}">
    </div>
    <span class="pictrue-remark">支持*.jpg、*.png、*.gif、*.jpeg格式</span>
  </div>
</fieldset>