<tr data-id="{{data.id}}" class="js-tmpl-fee-item-tr" data-fee={{json data}}>
  <td>
    {{data.id}}
  </td>
  <td>
    {{data.name}}
  </td>
  <td>{{data.unit}}</td>
  <td>{{data.number}}</td>
  <td>{{data.fee}}</td>
  <td>{{data.feeTotal}}</td>
  <td>{{data.remark}}</td>
</tr>
