<table class="table table-horizontal common-table" data-data="{{json _DATA_}}">
  <thead>
    <tr>
      <th width="10%">序号</th>
      <th width="10%">用户名</th>
      <th width="10%">真实姓名</th>
      <th width="10%">客户机IP</th>
      <th width="10%">功能</th>
      <th width="10%">操作对象</th>
      <th width="15%">操作</th>
      <th width="10%">执行结果</th>
      <th width="15%">时间</th>
    </tr>
  </thead>
  <tbody>
    {{#each _DATA_.data}}
      <tr>
        <td>{{add @index 1}}</td>
        <td>{{userName}}</td>
        <td>{{realName}}</td>
        <td>{{ip}}</td>
        <td>{{#if functions}}{{functions}}{{else}}-{{/if}}</td>
        <td>{{#if operate}}{{operate}}{{else}}-{{/if}}</td>
        <td>{{action}}</td>
        <td>
        {{#mapping result}}
        {
          "1": "成功",
          "-1": "失败"
        }
        {{/mapping}}
        </td>
        <td>{{formatDate createdAt}}</td>
      </tr>
    {{/each}}
    {{#if _DATA_.empty}}
      <tr>
        <td class="empty-data-title" colspan="9">暂无用户操作日志数据！</td>
      </tr>
    {{/if}}
  </tbody>
  {{#unless _DATA_.empty}}
    <tfoot>
      <tr>
        <td colspan="9">{{inject "common/pagination" total=_DATA_.total}}</td>
      </tr>
    </tfoot>
  {{/unless}}
</table>