{{#component "component-standard-container activities-manage js-comp"}}
  <div class="component-header">
    <a class="btn btn-primary js-create" data-type="{{type}}" href="{{#of type "1,2,3"}}{{#equals type 1}}/seller/marketing/coupon-create?type=1{{/equals}}{{#equals type 2}}/seller/marketing/coupon-create?type=2{{/equals}}{{#equals type 3}}/seller/marketing/discount-create?type=3{{/equals}}{{else}}/coupon-create?type=1{{/of}}&promotionDefId={{promotionDefId}}">
      创建{{#of type "1,2,3"}}{{#equals type 1}}商品优惠券{{/equals}}{{#equals type 2}}店铺优惠券{{/equals}}{{#equals type 3}}商品折扣{{/equals}}{{else}}商品优惠券{{/of}}
    </a>
  </div>
  <div class="component-body">
    <div id="component-filter" class="block">
      <form id="activitySerachForm" class="form">
        <fieldset>
          <span class="span3 left-text">
            <label for="email">{{#of type "1,2,3"}}{{#equals type 1}}优惠券{{/equals}}{{#equals type 2}}优惠券{{/equals}}{{#equals type 3}}活动{{/equals}}{{else}}{{/of}}名称</label>
            <input type="text" name="name" value="{{name}}">
          </span>
          <span class="span3 left-text">
            <label for="email">状态</label>
            <select class="select" name="status">
              <option {{#unless status}}selected{{/unless}}>请选择</option>
              <option value="0" {{#equals status 0}}selected{{/equals}}>未发布</option>
              <option value="1" {{#equals status 1}}selected{{/equals}}>已发布、未生效</option>
              <option value="2" {{#equals status 2}}selected{{/equals}}>已发布、生效</option>
              <option value="-1" {{#equals status -1}}selected{{/equals}}>已发布、过期</option>
              <option value="-2" {{#equals status -2}}selected{{/equals}}>已发布、失效</option>
            </select>
          </span>
          <span class="span pull-right">
            <button type="submit" class="btn btn-secondary">筛选</button>
            <a class="btn btn-info" href="/seller/marketing/activity-management?type={{type}}&promotionDefId={{promotionDefId}}">重置</a>
          </span>
        </fieldset>
      </form>
    </div>
    <table class="table item-manage-table">
      <thead>
        <tr>
          {{#of type "1,2"}}
          <th width="10%">优惠券名称</th>
          <th width="8%">面值(元)</th>
          <th width="6%">每人限领(张)</th>
          <th width="16%">使用有效期</th>
          <th width="14%">使用条件</th>
          <th width="8%">已发放数量</th>
          <th width="8%">已使用数量</th>
          <th width="8%">状态</th>
          <th class="right-text" width="12%">操作</th>
          {{else}}
          <th width="30%">活动名称</th>
          <th width="48%">有效期</th>
          <th width="12%">状态</th>
          <th width="10%" class="right-text">操作</th>
          {{/of}}
        </tr>
      </thead>
      <tbody>
        {{#equals _DATA_.total 0}}
        <tr>
          <td colspan="9" class="center-text">
            {{#equals type 1}}暂无商品优惠券{{/equals}}
            {{#equals type 2}}暂无店铺优惠券{{/equals}}
            {{#equals type 3}}暂无商品折扣{{/equals}}
          </td>
        </tr>
        {{/equals}}
        {{#each _DATA_.data}}
          {{#of promotion.type "1,2"}}
          <tr data-activity="{{json this}}" id="activity-{{id}}">
            <td>
              {{promotion.name}}
              <br>
              编号：{{promotion.id}}
            </td>
            <td>{{formatPriceExt promotion.behaviorParams.reduceFee}}</td>
            <td>{{promotion.extra.receiveLimit}}</td>
            <td>
              {{formatDate promotion.startAt "YYYY-MM-DD HH:mm"}}
              <br>~<br>
              {{formatDate promotion.endAt "YYYY-MM-DD HH:mm"}}
            </td>
            <td>
              订单满{{formatPriceExt promotion.conditionParams.conditionFee}}元可用
              <br>
              每个订单满1件可用
            </td>
            <td>{{promotionTrack.receivedQuantity}}/{{promotion.extra.sendLimit}}</td>
            <td>{{promotionTrack.usedQuantity}}/{{promotion.extra.sendLimit}}</td>
            <td>
              {{#equals promotion.status 0}}未发布{{/equals}}
              {{#equals promotion.status 1}}已发布、未生效{{/equals}}
              {{#equals promotion.status 2}}已发布、生效{{/equals}}
              {{#equals promotion.status -1}}已发布、过期{{/equals}}
              {{#equals promotion.status -2}}已发布、失效{{/equals}}
            </td>
            <td class="right-text">
              {{#of promotion.status "0,1,2"}}
                {{#equals promotion.status 0}}
                  <a href="javascript:;" class="js-edit-coupon" data-id="{{promotion.id}}">编辑</a>
                  <a href="javascript:;" class="js-publish-coupon" data-id="{{promotion.id}}">发布</a>
                {{/equals}}
                {{#of promotion.status "1,2"}}
                  <a href="javascript:;" class="js-detail-coupon" data-id="{{promotion.id}}">查看</a>
                  <a id="{{promotion.id}}" class="" data-toggle="confirm" data-title="是否确认使失效" data-content="失效后无法恢复，请确认" data-event="confirm:stopCoupon">使失效</a>
                {{/of}}
              {{else}}
                -
              {{/of}}
            </td>
          </tr>
          {{else}}
          <tr data-activity="{{json this}}" id="activity-{{id}}">
            <td>
              {{promotion.name}}
              <br>
              编号：{{promotion.id}}
            </td>
            <td>
              {{formatDate promotion.startAt "YYYY-MM-DD HH:mm"}}
              ~
              {{formatDate promotion.endAt "YYYY-MM-DD HH:mm"}}
            </td>
            <td>
              {{#equals promotion.status 0}}未发布{{/equals}}
              {{#equals promotion.status 1}}已发布、未生效{{/equals}}
              {{#equals promotion.status 2}}已发布、生效{{/equals}}
              {{#equals promotion.status -1}}已发布、失效{{/equals}}
              {{#equals promotion.status -2}}已发布、失效{{/equals}}
            </td>
            <td class="right-text">
              {{#of promotion.status "0,1,2"}}
                {{#equals promotion.status 0}}
                  <a href="javascript:;" class="js-edit-coupon" data-id="{{promotion.id}}">编辑</a>
                  <a href="javascript:;" class="js-publish-coupon" data-id="{{promotion.id}}">发布</a>
                {{/equals}}
                {{#of promotion.status "1,2"}}
                  <a href="javascript:;" class="js-detail-coupon" data-id="{{promotion.id}}">查看</a>
                  <a id="{{promotion.id}}" class="" data-toggle="confirm" data-title="是否确认使失效" data-content="失效后无法恢复，请确认" data-event="confirm:stopCoupon">使失效</a>
                {{/of}}
              {{else}}
                -
              {{/of}}
            </td>
          </tr>
          {{/of}}
        {{/each}}
      </tbody>
    </table>
    <div class="coupon-pagination clearfix" data-total="{{_DATA_.total}}"></div>
  </div>
{{/component}}
