{{#component "component-standard-container js-comp"}}
  <div class="component-body">
    <table class="table">
      <thead>
        <tr>
          <th width="20%">优惠券名称</th>
          <th width="14%">面值(元)</th>
          <th width="36%">有效期</th>
          <th width="20%">适用范围</th>
          <th width="10%">状态</th>
        </tr>
      </thead>
      <tbody>
        {{#each _DATA_.data}}
        <tr>
          <td>{{promotion.name}}</td>
          <td>￥{{formatPrice promotion.behaviorParams.reduceFee}}</td>
          <td>
            {{formatDate promotion.startAt}}
            ~
            {{formatDate promotion.endAt}}
          </td>
          <td>
            可用于购买{{#equals promotion.type 0}}平台{{else}}<a href="/shops/{{promotion.shopId}}" target="_blank">此店铺</a>{{/equals}}的{{#of promotion.type "0,2"}}全部{{else}}部分{{/of}}商品
          </td>
          <td>
            {{#of userPromotion.status "1,2"}}
              {{#if userPromotion.availableQuantity}}
                可用
              {{else}}
                已使用
              {{/if}}
            {{else}}
              {{#equals userPromotion.status -1}}
                已过期
              {{/equals}}
              {{#equals userPromotion.status -2}}
                已失效
              {{/equals}}
            {{/of}}
          </td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <div class="coupon-pagination pull-right" data-total="{{_DATA_.total}}"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
{{/component}}
