<div class="clearfix">
  <div class="group-left">
    <div class="control-group">
      <label class="group-title"><b class="required">*</b>答疑截止时间</label>
      <input type="hidden" name="id" value="{{id}}">
      <div class="group-content">
        <input type="text" name="qaDeadline" class="datepicker-hour" placeholder="答疑截止时间" value="{{qaDeadline}}" data-val="{{qaDeadline}}" required>
        <span class="note-error-empty">x 请输入答疑截止时间</span>
      </div>
    </div>
  </div>
  <div class="group-right">
    <div class="control-group">
      <label class="group-title"><b class="required">*</b>回标截止时间</label>
      <div class="group-content">
        <input type="text" name="backBidDeadline" class="datepicker-hour" placeholder="回标截止时间" value="{{backBidDeadline}}" data-val="{{backBidDeadline}}" required>
        <span class="note-error-empty">x 请输入回标截止时间</span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix">
  <div class="group-left">
    <div class="control-group">
      <label class="group-title"><b class="required">*</b>开标方式</label>
      <div class="group-content">
        <select name="openType" class="js-open-type-select">
          <option value="0" {{#equals openType 0}}selected{{/equals}}>手动开标</option>
          <option value="1" {{#equals openType 1}}selected{{/equals}}>自动开标</option>
        </select>
      </div>
    </div>
  </div>
  <div class="group-right js-switch-group">
    {{#equals openType 1}}
      {{> component:developer/bids/publish_answer/common/all_templates/_open_date}}
    {{else}}
      {{> component:developer/bids/publish_answer/common/all_templates/_open_person}}
    {{/equals}}
  </div>
</div>
