{{#component "address-manage component-standard-container js-comp"}}
  <div class="component-header">
    <button class="btn btn-primary js-add-address">{{i18n "Add an Address" bundle="user"}}</button>
  </div>
  <div class="component-body">
    <table class="table item-manage-table address-table">
      <thead>
        <tr>
          <th width="13%">{{i18n "Recipient" bundle="user"}}</th>
          <th width="20%">{{i18n "Regional" bundle="user"}}</th>
          <th width="32%">{{i18n "Street address" bundle="user"}}</th>
          <th width="10%">{{i18n "Zip Code" bundle="user"}}</th>
          <th width="10%">{{i18n "Phone No" bundle="user"}}</th>
          <th width="15%" class="td-operation">{{i18n "Action" bundle="user"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each _DATA_}}
        <tr data-address="{{json this}}" id="address-{{id}}">
          <td class="name">{{receiveUserName}}</td>
          <td class="region">{{province}} {{city}} {{region}}</td>
          <td class="street">{{street}}{{detail}}</td>
          <td class="zip">{{postcode}}</td>
          <td class="mobile">{{mobile}}</td>
          <td class="td-operation">
            <a class="js-edit-address-label" data-user="{{_USER_.id}}">{{i18n "Edit" bundle="user"}}</a>
            &nbsp;
            <a id="{{id}}" class="" data-toggle="confirm" data-title="{{i18n "Are you sure to delete it?" bundle="user"}}" data-content="{{i18n "After you delete it cannot be restored, please be careful" bundle="user"}}" data-event="confirm:delete">{{i18n "Delete" bundle="user"}}</a>
            &nbsp;
            {{#if isDefault}}
              <span>{{i18n "Default address" bundle="user"}}</span>
            {{else}}
              <a class="js-set-default" data-user="{{_USER_.id}}">{{i18n "Set as Default" bundle="user"}}</a>
            {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/component}}
