<div class="modal modal-template-fee-manage" data-item="{{json data}}">
  <div class="modal-header">
    <h2>条目配置</h2>
  </div>
  <div class="tmpl-item">
    <div class="modal-body">
      <form id="tmpl-item-form" class="form form-aligned">
        <input type="hidden" name ="id" value="{{data.id}}">
        <input type="hidden" name="sheetCateId" value="{{data.sheetCateId}}">
        <input type="hidden" name="billSheetId" value="{{data.billSheetId}}">
        <input type="hidden" name="billId" value="{{data.billId}}">
        <input type="hidden" name="unitId" value="{{data.unitId}}">
        <input type="hidden" name="sort" value="{{data.sort}}">
        <input type="hidden" name="status" value="{{data.status}}">

        <fieldset>
          <span class="span4">
            <label for="number">项目编号:</label>
            <input id="number" type="text" name="number" value="{{data.number}}" required>
          </span>

          <span class="span4">
            <label for="name">项目名称:</label>
            <input id="name" type="text" name="name" value="{{data.name}}" required>
          </span>
          <span class="span4">
            <label for="attrs">属性:</label>
            <input id="attrs" name="attrs" type="text" value="{{data.attrs}}" required>
          </span>
        </fieldset>
        <fieldset>
          <span class="span4">
            <label for="projectFeature">项目特征描述:</label>
            <input id="projectFeature" name="projectFeature" type="text" value="{{data.projectFeature}}" required>
          </span>
          <span class="span4">
            <label for="workDesc">工作内容:</label>
            <input id="workDesc" name="workDesc" type="text" value="{{data.workDesc}}" required>
          </span>
          <span class="span4">
            <label for="unit">单位:</label>
            <input id="unit" name="unit" type="text" value="{{data.unit}}" required>
          </span>
        </fieldset>
        <fieldset>
          <span class="span4">
            <label for="quantities">工程量:</label>
            <input id="quantities" name="quantities" type="text" value="{{data.quantities}}" required>
          </span>
          <span class="span4">
            <label for="itemPriceJson">人工:</label>
            <input name="itemPriceJson[人工]" type="text" value="{{data.itemPriceMap.人工}}" required>
          </span>
          <span class="span4">
            <label for="itemPriceJson">主材:</label>
            <input name="itemPriceJson[主材]" type="text" value="{{data.itemPriceMap.主材}}" required>
          </span>
        </fieldset>
        <fieldset>
          <span class="span4">
            <label for="itemPriceJson">辅材:</label>
            <input name="itemPriceJson[辅材]" type="text" value="{{data.itemPriceMap.辅材}}" required>
          </span>
          <span class="span4">
            <label for="itemPriceJson">机械费:</label>
            <input name="itemPriceJson[机械费]" type="text" value="{{data.itemPriceMap.机械费}}" required>
          </span>

          <span class="span4">
            <label for="manageFee">管理费:</label>
            <input id="manageFee" name="manageFee" type="text" value="{{data.manageFee}}" required>
          </span>
        </fieldset>
        <fieldset>
          <span class="span4">
            <label for="profit">利润:</label>
            <input id="profit" name="profit" type="text" value="{{data.profit}}" required>
          </span>

          <span class="span4">
            <label for="unitPrice">综合单价:</label>
            <input id="unitPrice" name="unitPrice" type="text" value="{{data.unitPrice}}" required>
          </span>
          <span class="span4">
            <label for="total">总价:</label>
            <input id="total" name="total" type="text" value="{{data.total}}" required>
          </span>
        </fieldset>
        <fieldset>
          <span class="span4">
            <label for="isSupply">主材供应方式:</label>
            <select name="isSupply" class="select">
              <option value="0" {{#equals data.isSupply 0}}selected{{/equals}}>非甲供</option>
              <option value="1" {{#equals data.isSupply 1}}selected{{/equals}}> 甲供</option>
            </select>
          </span>
          <span class="span4">
            <label for="supplyList">甲供材料:</label>
            <input id="supplyList" name="supplyList" type="text" value="{{data.supplyList}}">
          </span>
        </fieldset>

      </form>

    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-medium js-submit-tmpl-item-button" type="button" data-least-id="{{leastId}}">提交</button>
      <button class="btn btn-medium btn-info close js-close-modal-div" type="button">关闭</button>
    </div>
  </div>
</div>
