{{#if hotwords}}
  <div class="search-hot">
    <ul class="search-hot-ul">
      <li class="hotword-item"><span class="title">{{i18n "Popular searches" bundle="common"}}:</span></li>
      {{#each hotwords}}
        <li class="hotword-item"><a href="{{_HREF_.main}}/search?q={{urlEncode this "utf-8"}}" target="_blank">{{this}}</a></li>
      {{/each}}
    </ul>
  </div>
{{else}}
  <div class="search-hot">
    <ul class="search-hot-ul js-hotword"></ul>
  </div>
{{/if}}
