{{#each data.data}}
  <tr class="file-tr" data-id="{{#if userFolder}}{{userFolder.id}}{{else}}{{userFile.id}}{{/if}}">
    <td>
      {{#if userFolder}}
      {{else}}
        <input type="checkbox" class="file-select" data-file-id="{{userFile.id}}">
      {{/if}}
    </td>
    <td>
      {{#if userFolder}}
        <a href="javascript: void(0)" class="change-folder" data-folder-id="{{userFolder.id}}">
          <i class="icon-pokeball icon-pokeball-folder"></i>
          {{userFolder.folder}}
        </a>
      {{else}}
        <img src="{{userFile.path}}" width="40px" alt=""> <span>{{userFile.name}}</span>
      {{/if}}
    </td>
    <td>
      {{#if userFolder}}
      {{else}}
        <button class="btn js-copy-file" data-url="{{userFile.path}}">复制链接</button>
        {{!-- <button class="btn js-move-files">移动</button> --}}
      {{/if}}
      <button class="btn" data-toggle="confirm" data-title="您确定删除吗?" data-content="删除之后若要恢复请重新添加" data-event="confirm:deleteFile" data-id="{{#if userFolder}}1:{{userFolder.id}}{{else}}2:{{userFile.id}}{{/if}}">删除</button>
    </td>
  </tr>
{{/each}}
