{{#component "nav-header navbar navbar-condensed js-comp"}}
  <div class="navbar-collapse {{#equals size "small"}}small-size{{else}}big-size{{/equals}}" data-href="{{_HREF_.main}}">
    <ul>
      <li class="home-channel-container {{#if _IS_FIRST_SCREEN_}}home-catgeory-show{{/if}}">
        <div class="navbar-desc">
          <a class="all-category-show" href="javascript:void(0);"><strong>{{i18n "All items category" bundle="design"}}</strong>{{#unless _IS_FIRST_SCREEN_}}<i class="icon-whitearrow-bottom"></i>{{/unless}}</a>
        </div>
        <div class="home-channel {{#unless _IS_FIRST_SCREEN_}}disappear{{/unless}}">
          <div class="categorys">
          {{#cross _DATA_ data "firstId" "id"}}
            <div class="category-li {{#mod @index 2}}twice-category{{/mod}}" data-id="{{@key}}">
              <div class="parent-category">
                <i class="icon-littlearrow"></i>
                  <img src="{{#if left.firstFrontCategory.logo}}{{left.firstFrontCategory.logo}}{{else}}http://showcase.b0.upaiyun.com/2015/6/29/7f67297258d4ff2d6bf2db074738bf64.png{{/if}}" alt="{{left.firstFrontCategory.name}}" class="category-icon" />&nbsp;
                <a href="{{right.link}}" target="_blank" class="parent-name"><strong>{{left.firstFrontCategory.name}}</strong></a>
              </div>
              <div class="children-category">
                {{#each left.childFrontCategory}}
                <div class="child-category"><a href="{{_HREF_.main}}/search?fcid={{secondLevel.id}}" target="_blank">{{secondLevel.name}}</a></div>
                {{/each}}
              </div>
              <div class="expand-panel disappear">
                <div class="attach"></div>
                <div class="expand-category">
                  <div class="category-info">
                    {{#each left.childFrontCategory}}
                    <div class="second-category">
                      <div class="parent-name"><strong><a href="{{_HREF_.main}}/search?fcid={{secondLevel.id}}" target="_blank">{{secondLevel.name}}</a></strong></div>
                      <div class="children-name">
                        {{#each thirdLevel}}
                        <div class="child-name"><a href="{{_HREF_.main}}/search?fcid={{id}}" target="_blank">{{name}}</a></div>
                        {{/each}}
                      </div>
                    </div>
                    {{/each}}
                  </div>
                  <div class="image-recommend">
                    <h4 class="brand-recommend">{{i18n "Brand recommendation" bundle="design"}}</h4>
                    <div class="images">
                      {{#if _DESIGN_MODE_}}
                        <a href="{{right.href1}}" target="_blank" class="href1 left-image"><img class="image1 lazy" data-original="{{right.image1}}" alt="{{right.image1}}"></a>
                        <a href="{{right.href2}}" target="_blank" class="href2 right-image"><img class="image2 lazy" data-original="{{right.image2}}" alt="{{right.image2}}"></a>
                        <a href="{{right.href3}}" target="_blank" class="href3 left-image"><img class="image3 lazy" data-original="{{right.image3}}" alt="{{right.image3}}"></a>
                        <a href="{{right.href4}}" target="_blank" class="href4 right-image"><img class="image4 lazy" data-original="{{right.image4}}" alt="{{right.image4}}"></a>
                        <a href="{{right.href5}}" target="_blank" class="href5 left-image last-image"><img class="image5 lazy" data-original="{{right.image5}}" alt="{{right.image5}}"></a>
                        <a href="{{right.href6}}" target="_blank" class="href6 right-image last-image"><img class="image6 lazy" data-original="{{right.image6}}" alt="{{right.image6}}"></a>
                      {{else}}
                        {{#if right.image1}}<a href="{{right.href1}}" target="_blank" class="href1 left-image"><img class="image1 lazy" data-original="{{right.image1}}" alt="{{right.image1}}"></a>{{/if}}
                        {{#if right.image2}}<a href="{{right.href2}}" target="_blank" class="href2 right-image"><img class="image2 lazy" data-original="{{right.image2}}" alt="{{right.image2}}"></a>{{/if}}
                        {{#if right.image3}}<a href="{{right.href3}}" target="_blank" class="href3 left-image"><img class="image3 lazy" data-original="{{right.image3}}" alt="{{right.image3}}"></a>{{/if}}
                        {{#if right.image4}}<a href="{{right.href4}}" target="_blank" class="href4 right-image"><img class="image4 lazy" data-original="{{right.image4}}" alt="{{right.image4}}"></a>{{/if}}
                        {{#if right.image5}}<a href="{{right.href5}}" target="_blank" class="href5 left-image last-image"><img class="image5 lazy" data-original="{{right.image5}}" alt="{{right.image5}}"></a>{{/if}}
                        {{#if right.image6}}<a href="{{right.href6}}" target="_blank" class="href6 right-image last-image"><img class="image6 lazy" data-original="{{right.image6}}" alt="{{right.image6}}"></a>{{/if}}
                      {{/if}}
                    </div>
                    <div class="main-image">
                      {{#if _DESIGN_MODE_}}
                        <a href="{{right.href7}}" target="_blank" class="href7"><img class="image7 lazy" data-original="{{right.image7}}" alt="{{right.image7}}"></a>
                      {{else}}
                        {{#if right.image7}}<a href="{{right.href7}}" target="_blank" class="href7"><img class="image7 lazy" data-original="{{right.image7}}" alt="{{right.image7}}"></a>{{/if}}
                      {{/if}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{/cross}}
          </div>
        </div>
      </li>
      {{#each navTitles}}
        <li class="navbar-item-li"><div class="navbar-item"><a href="{{href}}" target="_blank"><span><strong>{{name}}</strong></span></a></div></li>
      {{/each}}
    </ul>
    <div class="navbar-icon">
      <div class="icon-400-tel"></div>
    </div>
  </div>
{{/component}}
