{{#each data}}
  <div class="item">
    <div class="pic">
      <a href="/items/{{id}}" target="_blank">
        <img src="{{cdnPath mainImage "185"}}" width="185" height="185">
      </a>
    </div>
    <div class="name"><a class="item-name" target="_blank" href="/items/{{id}}">{{name}}</a></div>
    <div class="price">
      <span class="font-16">&yen; {{formatPrice lowPrice}}</span>
  {{!--                   {{#if originPrice}}<del>&yen;{{formatPrice originPrice}}</del>{{/if}} --}}
    </div>
  </div>
  {{#equals @index 3}} <br>{{/equals}}
{{/each}}
