<div class="bids-group js-bids-attachment" data-attachment="{{json _DATA_}}">
  <div class="bids-title">
    <label>回标附件</label>
  </div>
  <div class="bids-content content-border clearfix">
    {{#equals status 6}}
      <div class="pull-left margin-right-20 margin-bottom-20">
        <div class="bids-file btn-upload js-upload-file" data-type="10">
          <div class="file-img">
            <i class="icon-hsh icon-hsh-upload"></i>
          </div>
          <div class="file-upload">
            <input type="file" name="file">
            <span>上传回标附件</span>
          </div>
        </div>
      </div>
    {{/equals}}
    {{#if _DATA_}}
      {{#each _DATA_}}
        <div class="pull-left margin-right-20 margin-bottom-20 bids-file-content">
          <div class="bids-file">
            <div class="file-img">
              <i class="icon-hsh icon-hsh-file"></i>
            </div>
            <div class="file-info">
              <div class="title">{{filename}}</div>
              <div class="date">
               <span>{{formatDate createdAt}}</span>
               <a href="http:{{fileUrl}}" class="pull-right">
                <i class="icon-hsh icon-hsh-xiazai"></i>
               </a>
              {{#equals ../status 6}}
                <a href="javascript:;" class="js-file-delete margin-right-10 pull-right" data-id="{{id}}">
                  <i class="icon-hsh icon-hsh-delete"></i>
                </a>
              {{/equals}}
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      {{#equals status 6}}
      {{else}}
        <div class="center-text margin-bottom-10">暂无回标附件！</div>
      {{/equals}}
    {{/if}}
  </div>
</div>
