{{#component "articles-index js-comp"}}
  <div class="articles-header clearfix">
    <span class="color-gray">
      {{_CATEGORY_.name}}
    </span>
    <a href="/pub/articles/list?categoryId={{categoryId}}" class="color-arrow pull-right" target="_blank"><i class="icon-feebas icon-feebas-next"></i></a>
  </div>
  <div class="articles-content">
    {{#each _DATA_.data}}
      <div class="item">
        <a class="cutwords" href="/pub/articles/detail?category={{categoryId}}&id={{id}}" target="_blank" title="{{title}}">
        [{{@root._CATEGORY_.name}}]{{title}}
        </a>
      </div>
    {{/each}}
  </div>
{{/component}}
