{{#component "templates js-comp operation-platform"}}
<div class="component-header">
  <span class="component-title">{{i18n "Template management" bundle="system"}}</span>
  <button class="btn btn-primary btn-medium pull-right js-templates-new">{{i18n "Create Template" bundle="system"}}</button>
  &nbsp;
  <button class="btn btn-primary btn-medium pull-right js-templates-copy">{{i18n "Copy Template" bundle="system"}}</button>
  &nbsp;
  <div class="btn btn-primary btn-medium pull-right btn-upload">
    {{i18n "Import" bundle="system"}}
    <input type="file" name="file" class="js-import">
  </div>
</div>
<div class="component-body">
  {{#each _DATA_}}
    <h3>{{#equals @key "PC"}}{{i18n "PC Store" bundle="system"}}{{else}}{{i18n "Mobile Store" bundle="system"}}{{/equals}}</h3>
    <table class="table center-text" type="{{@key}}">
      <thead>
        <tr>
          <th width="35%">{{i18n "Template" bundle="system"}}</th>
          <th width="15%">{{i18n "is Default" bundle="system"}}</th>
          <th width="15%">{{i18n "Status" bundle="system"}}</th>
          <th width="35%" class="td-operation">{{i18n "Operation" bundle="system"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
          <tr id="template-{{@key}}-{{@index}}" data-template="{{json this}}">
            <td>
              {{name}}
            </td>
            <td>{{#if default}}{{i18n "Default" bundle="system"}}{{/if}}</td>
            <td>
              {{#equals status 0}}{{i18n "Unpublished" bundle="system"}}{{/equals}}
              {{#equals status 1}}{{i18n "Published" bundle="system"}}{{/equals}}
            </td>
            <td class="td-operation">
              <a href="javascript:;" class="js-release-template" data-id="{{app}}@{{key}}@{{@index}}" data-toggle="confirm" data-title="{{i18n "Are you sure to publish it" bundle="system"}}?" data-content="{{i18n "After published,business will operate with this template" bundle="system"}}" data-event="confirm:release">{{i18n "Publish" bundle="system"}}</a>&nbsp;
              <a href="javascript:;" class="js-edit-template">{{i18n "Edit" bundle="system"}}</a>&nbsp;
              {{#equals status 0}}
                <a href="javascript:;" data-id="{{app}}@{{key}}@{{@index}}" data-toggle="confirm" data-title="{{i18n "Are you sure to delete it?" bundle="system"}}" data-content="{{i18n "This template will not exist after deleting" bundle="system"}}" data-event="confirm:delete">{{i18n "Delete" bundle="system"}}</a>&nbsp;
              {{/equals}}
              <a href="{{_MAIN_.href}}/design/shop-templates/{{key}}/design?app={{app}}" target="_blank">{{i18n "Decoration" bundle="system"}}</a>&nbsp;
              {{#unless default}}<a href="javascript:;" data-id="{{app}}@{{key}}" data-toggle="confirm" data-title="{{i18n "Are you sure?" bundle="system"}}" data-content="{{i18n "Are you sure you want to set as default?" bundle="system"}}" data-event="confirm:set-default">{{i18n "Set Default" bundle="system"}}</a>&nbsp;{{/unless}}
              <a href="/api/design-content/export-shop-template/{{app}}/{{key}}">{{i18n "Export" bundle="system"}}</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/each}}
</div>
{{/component}}
