{{#component "common-query-header component-site-header js-comp"}}
  <form class="form form-search" type="get" id="form-search" action="{{_HREF_.main}}{{_PATH_}}{{#if type}}?type={{type}}{{/if}}" data-hrefbase="{{_HREF_.main}}">
    <fieldset>
      <div class="input-group input-group-append input-search">
        <div class="search-type-group">
          <ul class="search-type">
            <li class="search-type-li show-lead-type {{#unless type}}{{#indexOf '/search-material' _PATH_}}active{{/indexOf}}{{/unless}}" data-type="1">人工费</li>
            <li class="search-type-li show-lead-type {{#equals type '2'}}active{{/equals}}" data-type="2">材料费</li>
            <li class="search-type-li show-lead-type {{#equals type '3'}}active{{/equals}}" data-type="3">机械费</li>
            {{#equals companyType "supplier"}}
              <li class="search-type-li show-lead-type {{#indexOf '/supplier/search-developer' _PATH_}}active{{/indexOf}}" data-type="4">开发商</li>
              <li class="search-type-li show-lead-type {{#equals _PATH_ '/supplier/search-bids'}}active{{/equals}}" data-type="5">招标项目</li>
            {{else}}
              <li class="search-type-li show-lead-type {{#indexOf '/developer/search-supplier' _PATH_}}active{{/indexOf}}" data-type="4">供应商</li>
            {{/equals}}
            <li class="search-type-li show-list-type {{#unless type}}{{#indexOf "/search-material" _PATH_}}hide{{else}}show-type-li{{/indexOf}}{{else}}show-type-li{{/unless}}" data-type="1">人工费</li>
            <li class="search-type-li show-list-type {{#equals type '2'}}hide{{else}}show-type-li{{/equals}}" data-type="2">材料费</li>
            <li class="search-type-li show-list-type {{#equals type '3'}}hide{{else}}show-type-li{{/equals}}" data-type="3">机械费</li>
            {{#equals companyType "supplier"}}
              <li class="search-type-li show-list-type {{#equals _PATH_ '/supplier/search-bids'}}hide{{else}}show-type-li{{/equals}}" data-type="5">招标项目</li>
            {{/equals}}
          </ul>
          <i class="icon-feebas icon-feebas-xiangxiazhedie search-tab-icon"></i>
        </div>
        <input type="text" name="q" class="search-input 1-suggest {{#unless type}}{{#indexOf "/search-material" _PATH_}}active{{/indexOf}}{{/unless}}" value="{{q}}" data-url="/{{companyType}}/search-material" placeholder="请输入关键词进行人工费搜索" autocomplete="off">
        <input type="text" name="q" class="search-input 2-suggest {{#equals type '2'}}active{{/equals}}" value="{{q}}" data-url="/{{companyType}}/search-material?type=2" placeholder="请输入关键词进行材料费搜索" autocomplete="off">
        <input type="text" name="q" class="search-input 3-suggest {{#equals type '3'}}active{{/equals}}" value="{{q}}" data-url="/{{companyType}}/search-material?type=3" placeholder="请输入关键词进行机械费搜索" autocomplete="off">
        {{#equals companyType "supplier"}}
          <input type="text" name="q" class="search-input 5-suggest {{#equals _PATH_ '/supplier/search-bids'}}active{{/equals}}" value="{{q}}" data-url="/supplier/search-bids" placeholder="请输入关键词进行搜索" autocomplete="off">        
        {{/equals}}
        <span class="input-group-btn">
          <button class="btn btn-primary" id="search-button" type="submit">
            <i class="icon-hsh icon-hsh-sousuo-sousuo"></i>
          </button>
        </span>
      </div>
    </fieldset>
    <div class="select-city pull-right">
      <i class="icon-hsh icon-hsh-dw"></i>
      <span class="current-selected-city">{{#if cityName}}{{cityName}}{{else}}上海市{{/if}}</span>
      <input type="hidden" class="js-city-id" value="{{#if cityId}}{{cityId}}{{else}}31000{{/if}}">
      <a href="javascript:;" class="js-exchange-city">切换城市</a>
    </div>
    <div class="control-group city-list js-city-list hide">
      <select class="js-province-select"></select>
      <select class="js-city-select hide"></select>
    </div>
  </form>
{{/component}}
