<div id="js-select-sku-info">
  <p>sku 属性列表：</p>
  {{#if attr}}
    <form class="weight-attr-form js-weight-attr-form form-aligned form" >
      {{#each attr}}
        {{#equals @key @root.key}}
        {{else}}
          <div class="control-group">
            <label class="input-label">{{@key}}</label>
            <select name="defaultAttrs[{{@key}}]" class="js-sku-attr-val-select {{#if this.[0].isModelAttr}}readonly{{/if}}">
              {{#each this}}
                <option value="{{value}}" {{#if isSelect}}selected{{/if}}>{{value}}</option>
              {{/each}}
            </select>
          </div>
        {{/equals}}
      {{/each}}
      <p><label for="">{{key}}:</label></p>
      <ul class="clearfix">
        {{#each attr}}
          {{#equals @key @root.key}}
            {{#each this}}
              <li class="pull-left">
                <label class="input-label">
                  <input type="checkbox" name="attrs[]" class="input-checkbox" value="{{value}}"
                    {{#if isSelect}}checked{{/if}} {{#if isModelAttr}}readonly{{/if}}>
                  <span class="attr-value">{{value}}</span>
                </label>
              </li>
            {{/each}}
          {{/equals}}
        {{/each}}
      </ul>
      <p><button class="btn btn-primary" type="submit">确定</button></p>
    </form>
  {{else}}
    无可加权属性值
  {{/if}}
</div>
