{{#each data}}
  <tr class="js-sku-tr" data-sku="{{json this}}">
    <td>{{name}}</td>
    <td>
      {{#if attrs}}
        {{#each attrs}}
          <div>{{attrKey}}:{{attrVal}}</div>
        {{/each}}
      {{else}}
        无
      {{/if}}
    </td>
  </tr>
{{/each}}
