{{#component "component-articles-categories js-comp"}}
<div class="category-title">资讯分类</div>
<div class="shop-item-category">
  <div class="category-body">
    <ul class="firstU">
      {{#each _DATA_}}
      <li class="firstC {{#unless children}}noC{{/unless}}">
        {{#if children}}<i class="firstI icon-feebas icon-feebas-shouqi-copy shouqi"></i>{{/if}}<a href="/pub/articles/list?categoryId={{id}}" class="firstA cutwords" title="{{name}}">{{name}}</a>
        {{#if children}}
          <ul class="secondU">
            {{#each children}}
              <li class="secondC">
                <a href="/pub/articles/list?categoryId={{id}}" class="secondA cutwords" title="{{name}}">{{name}}</a>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/component}}
