<div class="promotionBox">
  <div class="ptitle">
    {{#equals promotionType "discount"}}
      降价促销
    {{else}}
      商品优惠券列表
    {{/equals}}
    <a class="close pull-right" href="javascript:;">x</a>
  </div>
  <div class="pcontainer">

    <table class="table">
      {{#equals promotionType "discount"}}
      <thead>
        <th>商品规格</th>
        <th>活动时间</th>
        <th>原价</th>
        <th>降价/折扣</th>
        <th>现价</th>
      </thead>
      {{/equals}}
      <tbody>
        {{#equals promotionType "discount"}}
          {{#each data}}
            {{#each skuWithPromotions}}
              <tr>
                <td>
                  {{#each sku.attrs}}
                    {{#equals @index 0}}{{else}}<br>{{/equals}}
                    {{attrVal}}
                  {{/each}}
                </td>
                <td class="pdate">
                  {{formatDate ../promotion.startAt}}
                  <br>~<br>
                  {{formatDate ../promotion.endAt}}
                </td>
                <td>{{formatPrice sku.price}}</td>
                <td class="price">
                  {{#if promotionInfo.discount}}
                    {{divide promotionInfo.discount 10}}折
                  {{else}}
                    -{{formatPrice promotionInfo.reduceFee}}
                  {{/if}}
                </td>
                <td class="price">{{formatPrice promotionPrice}}</td>
              </tr>
            {{/each}}
          {{/each}}
        {{else}}
          {{#each data}}
          <tr>
            <td>
              <p class="couponFee">
                <img src="/assets/images/other-images/per-coupon-bg.png" class="bg-image">
                <span class="text">￥{{promotion.behaviorParams.reduceFee}}</span>
              </p>
            </td>
            <td>
              <span class="condition">{{promotion.name}}</span>
              <br>
              <span class="date">
                {{formatDate promotion.startAt "YYYY-MM-DD"}}
                ~
                {{formatDate promotion.endAt "YYYY-MM-DD"}}
              </span>
            </td>
            <td class="coupon-status">
              {{#if hasReceived}}
                已领取
              {{else}}
                <a href="javascript:;" class="btn btn-info btn-small get-coupon" data-id="{{promotion.id}}">领取</a>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        {{/equals}}
      </tbody>
    </table>
  </div>
</div>
