<div class="modal">
  <div class="modal-header">
    <h2>{{i18n "User agreement" bundle="user"}}</h2>
  </div>
  <div class="modal-body">
  <pre style="height:400px;overflow-y:auto;width:700px;">
    一、重要声明
    1、本协议{{i18n "Yes" bundle="user"}}{{i18n "Confirm" bundle="user"}}本站与您之间权利义务关系的重要法律文{{i18n "item" bundle="user"}}。一旦您完成本站的{{i18n "Register" bundle="user"}}程序，将视为您已经全面阅读、完全理解、{{i18n "All" bundle="user"}}接受并完全{{i18n "Agree" bundle="user"}}遵守本协议的所有内容。
    2、本站将不定期地{{i18n "Edit" bundle="user"}}本协议，并在重要{{i18n "Page" bundle="user"}}上公告{{i18n "Edit" bundle="user"}}内容。如果不{{i18n "Agree" bundle="user"}}本站对协议的{{i18n "Edit" bundle="user"}}，您可以停止使用本站的服务。如果继续使用本站的服务，则视为您接受本站对协议的{{i18n "Edit" bundle="user"}}。
    二、{{i18n "User" bundle="user"}}信息
    1、基于本站所提供服务的重要性，请您按本站的要求提供真实、详尽、准确的{{i18n "My Profile" bundle="user"}}；当{{i18n "My Profile" bundle="user"}}发生变化时，请您及时在本站进行更新。如果您提供了错误的{{i18n "My Profile" bundle="user"}}或者未能对{{i18n "My Profile" bundle="user"}}进行及时更新，由此导致的一切后果本站将不承担任何责任。
    2、对于您提供的{{i18n "My Profile" bundle="user"}}，本站将严格保密，不接受任何{{i18n "Personal" bundle="user"}}和单位的查询请求，除非您本人授权本站披露，或者公安机关和司法部门{{i18n "According to" bundle="user"}}国家相关法律法规的规定要求提供。
    三、{{i18n "User" bundle="user"}}账号
    1、{{i18n "Registration success" bundle="user"}}之后，您将获得本站提供的{{i18n "Landed" bundle="user"}}账号（含{{i18n "Username" bundle="user"}}、{{i18n "Password" bundle="user"}}各一个）。请您注意维护该账号的安全，对于以该账号所进行的所有{{i18n "Activities" bundle="user"}}，本站将不承担任何责任。
    2、若账号有任何非法使用或存在安全漏洞的情况，请您在发现之后立即通知本站。
    四、{{i18n "User" bundle="user"}}行为规范
    1、您在本站所进行的所有{{i18n "Activities" bundle="user"}}，请严格遵守我国法律法规及本站的相关规定。
    2、您可以在本站发表{{i18n "Personal" bundle="user"}}言论，但请勿发表包括但不限于以下内容的任何言论：
    （1）煽动抗拒、破坏宪法和法律、行政法规实施的；
    （2）煽动颠覆国家政权，推翻社会主义制度的；
    （3）煽动分裂国家、破坏国家统一的；
    （4）煽动民族仇恨、民族歧视，破坏民族团结的；
    （5）任何包含对种族、{{i18n "Sex" bundle="user"}}、宗教、地域内容等歧视的；
    （6）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；
    （7）宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；
    （8）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；
    （9）损害国家机关信誉的；
    （10）其他违反宪法和法律行政法规的。
    3、请您不要在本站{{i18n "Publish" bundle="user"}}任何形式的广告。
    4、违反上述条款所导致的一切后果（包括但不限于本站遭受的任何损失）需由您承担。
    五、{{i18n "Product" bundle="user"}}信息
    1、本站将努力保障您所购{{i18n "Product" bundle="user"}}的信息与本站所公布的内容一致，但本站所{{i18n "Publish" bundle="user"}}的内容并不构成要约。一旦发现本站所显示的{{i18n "Product" bundle="user"}}信息存在明显错误，本站有权单方撤回任何承诺。
    2、{{i18n "According to" bundle="user"}}自身的经营需求，本站可能对您购买{{i18n "Product" bundle="user"}}的{{i18n "Quantity" bundle="user"}}进行限制。
    3、{{i18n "Submit order" bundle="user"}}之后，如果由于各种{{i18n "Reason" bundle="user"}}（包括但不限于供应商提价、税额上调、网站错误等）造成您所购{{i18n "Product" bundle="user"}}的{{i18n "Price" bundle="user"}}出现变动，您可以在本站规定的期限内{{i18n "Cancel" bundle="user"}}{{i18n "Order form" bundle="user"}}。
    六、货物配送
    1、请您在{{i18n "Order form" bundle="user"}}{{i18n "Medium" bundle="user"}}填写{{i18n "Real name" bundle="user"}}、详细{{i18n "Address" bundle="user"}}及联系方式等本站要求填写的内容。如因不可抗力或者您填写信息错误导致{{i18n "Order form" bundle="user"}}{{i18n "Product" bundle="user"}}延迟送达或{{i18n "Non" bundle="user"}}法送达，本站不承担任何责任。
    2、本站将货物送达时，如{{i18n "Non" bundle="user"}}人签{{i18n "Receive" bundle="user"}}，由此导致重复配送所产生的费用及后果需由您承担。
    3、本站列出的送货{{i18n "Time" bundle="user"}}为参考{{i18n "Time" bundle="user"}}，该{{i18n "Time" bundle="user"}}{{i18n "Yes" bundle="user"}}在{{i18n "Inventory" bundle="user"}}状况、处理过程、送货地点等信息的基础上估算得出，实际送达{{i18n "Time" bundle="user"}}可能会有出入。
    4、您选择的配送方式不同，送货费用也会有所差异。
    5、本站所售{{i18n "Product" bundle="user"}}的{{i18n "RMA" bundle="user"}}维保事宜，由该{{i18n "Product" bundle="user"}}的生产厂家负责，但本站有其他明示的除外。
    七、版权声明
    1、您在本站发表的观点、文章等作品需文责自负，与本站{{i18n "Non" bundle="user"}}关。因此，请您不要在本站发表侵犯他人合法权益（包括但不限于知识产权）的内容。
    2、本站的服务内容（包括但不限于{{i18n "Writing" bundle="user"}}、软{{i18n "item" bundle="user"}}、声音、{{i18n "Video" bundle="user"}}、{{i18n "Picture" bundle="user"}}、图表、广告等其它信息）受我国法律的保护。请您不要擅自以复制、转载、出版等任何形式使用这些内容，也不要创造与这些内容有关的派生产品，除非获得本站书面授权。
    3、获得本站书面授权后，您在转载、引用发表于本站的作品时请遵守以下规范：
    （1）用于非商业、非盈利、非广告性目的时，需注明作者及作品的出处为本站；
    （2）用于商业、盈利、广告性目的时，需征得作者的{{i18n "Agree" bundle="user"}}，并注明作者{{i18n "Full name" bundle="user"}}、授权范围及作品出处为本站；
    （3）任何作品的{{i18n "Edit" bundle="user"}}或{{i18n "Delete" bundle="user"}}均应征求作者{{i18n "Agree" bundle="user"}}并保持作者原意，并注明授权范围。
    4、对于您在本站发表的文章或{{i18n "Picture" bundle="user"}}等作品，本站有权自行使用或者与其他人合作使用于其他用途，包括但不限于网站、电子杂志、杂志、刊物等，使用时本站将为作者署名，以作品在本站发表时注明的署名为准，作品有附带版权声明的除外。
    八、责任限制
    如因不可抗力或其它本站{{i18n "Non" bundle="user"}}法控制的{{i18n "Reason" bundle="user"}}，导致网上{{i18n "Transaction" bundle="user"}}{{i18n "Non" bundle="user"}}法完成、丢失有关信息、{{i18n "Order form" bundle="user"}}{{i18n "Product" bundle="user"}}{{i18n "Non" bundle="user"}}法及时送达等后果，本站不承担任何责任。但{{i18n "Yes" bundle="user"}}本站会尽可能合理地协助处理善后事宜，并努力使您免受经济损失。
    对于因在本站进行{{i18n "Transaction" bundle="user"}}而引起的或与之有关的任何损害，本站的{{i18n "All" bundle="user"}}责任，不论{{i18n "Yes" bundle="user"}}合同、保证、侵权（包括过失）项下的还{{i18n "Yes" bundle="user"}}其它的责任，均{{i18n "No more than" bundle="user"}}您所购买的与该索赔有关的{{i18n "Product" bundle="user"}}价值额。 九、争议解决
    如因本站与您之间签订的合同、协议，或履行签订的合同、协议，或发生的其他业务出现的争议，或发生的其他财产权益纠纷，双方应协商解决；协商不成时，双方{{i18n "Agree" bundle="user"}}使用{{i18n "Medium" bundle="user"}}国大陆{{i18n "Area" bundle="user"}}法律并{{i18n "Submit" bundle="user"}}杭州市人民法院诉讼解决。
    最终解释权归大企汇所有
  </pre>

  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-medium close">{{i18n "Close" bundle="user"}}并继续</button>
  </div>
</div>
