{{#component "system-site-manage js-comp"}}
<div class="component-header">
  <span class="component-title">{{i18n "Site Management" bundle="system"}}</span>
  <button class="btn btn-primary btn-medium js-sites-new pull-right" data-href="{{json _HREF_}}">{{i18n "Create a site" bundle="system"}}</button>
  &nbsp;
  <div class="btn btn-primary btn-medium btn-upload pull-right">
    {{i18n "Import" bundle="system"}}
    <input type="file" name="file" class="js-import">
  </div>
</div>
<div class="component-body">
  <table class="site-template-table table center-text" data-layouts="{{json _DATA_.layouts}}">
    <thead>
      <tr>
        <th width="20%">{{i18n "Site Name" bundle="system"}}</th>
        <th width="25%">{{i18n "Domain name" bundle="system"}}</th>
        <th width="20%">{{i18n "Template" bundle="system"}}</th>
        <th>{{i18n "Configure payment channels" bundle="system"}}</th>
        <th width="20%" class="td-operation">{{i18n "Operation" bundle="system"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each _DATA_.sites}}
        <tr class="site" data-site="{{json this}}" data-id="{{id}}">
          <td>{{name}}</td>
          <td><a href="http://{{domain}}" target="_blank">{{domain}}</a></td>
          <td>
            {{layout}} ({{app}})
            <br>
            {{layoutName}}
          </td>
          <td><a class="js-pay-setting" data-id="{{id}}" data-user-name="{{domain}}" href="javascript:;">{{i18n "Configure payment channels" bundle="system"}}</a></td>
          <td class="td-operation">
            <a href="javascript:;" class="js-release-site" id="{{id}}" data-toggle="confirm" data-title="{{i18n "Are you sure to publish it" bundle="system"}}?" data-content="{{i18n "Publish? All site changes will take effect after it is published. You can also choose to use the renoGSTed interface to publish a single page rather than the entire site." bundle="system"}}" data-event="confirm:release-site">{{i18n "Publish Site" bundle="system"}}</a>&nbsp;
            <a href="/design/sites/{{id}}" target="_blank">{{i18n "Decoration" bundle="system"}}</a>&nbsp;
            {{#equals _USER_.type "6"}}
            {{else}}
            <a href="javascript:;" class="js-sites-config-edit">{{i18n "Edit" bundle="system"}}</a>&nbsp;
            <a href="javascript:;" id="{{id}}" data-toggle="confirm" data-title="{{i18n "Are you sure to delete it?" bundle="system"}}" data-content="{{i18n "Are you sure to delete it, cannot be recovered after deleting" bundle="system"}}" data-event="confirm:delete-site">{{i18n "Delete" bundle="system"}}</a>&nbsp;
            <a href="/api/design-content/export-site/{{id}}">{{i18n "Export" bundle="system"}}</a>
            {{/equals}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/component}}
