<div class="build-link-top">
  <span>户型</span>
  <a href="javascript:;" class="pull-right icon-hsh icon-jiahao1 js-add-link"></a>
</div>
<div class="build-link-body">
  {{#each houseList}}
  <div class="build-link-item">
    <span>{{houseName}}</span>
    <span>{{count}}&nbsp;套</span>
    <a href="javascript:;" class="pull-right" data-delete="link" data-link="{{../name}}" data-key="{{houseName}}">删除</a>
  </div>
  {{/each}}
  <div class="build-new-link-item hide">
    <select class="select">
      {{#each houseSelect}}
      <option>{{name}}</option>
      {{/each}}
    </select>
    <input type="text" placeholder="户型数量(套)">
    <a class="pull-right js-submit-link">确定</a>
  </div>
</div>
