{{#each linkInfo}}
{{#if renderStatus}}
<div class="build-item">
  <div class="build-item-header">
    <div class="build-text">
      <span>{{name}}</span>
      <span>{{area}}&nbsp;㎡</span>
      <span>{{product}}</span>
      <a class="pull-right" data-delete="build" href="javascript:;" data-key="{{name}}" >删除</a>
      <a class="pull-right" data-edit="true" href="javascript:;" data-key="{{name}}" >编辑</a>
    </div>
    <div class="build-edit">
      <input type="text" value="{{name}}" data-building="name" />
      <input type="text" value="{{area}}" data-building="area" />
      {{#unless hasHouse}}
      <select class="select" >
        {{#each ../products}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
      {{/unless}}
      <a class="pull-right" data-submit="edit" href="javascript:;" data-key="{{name}}">确定</a>
    </div>
  </div>
  {{#if hasHouse}}
  <div class="build-item-link" data-key="{{name}}">
    {{> list/config/frontend_templates/_building_link_item}}
  </div>
  {{/if}}
</div>
{{/if}}
{{/each}}
