{{#component "component-list-siderbar js-comp"}}
<div class="list-sidebar">
  <div class="list-item js-list-item">
    <p>
      <span>分部分项</span>
      <span class="list-control">
        <a href="javascript:;" class="icon-hsh icon-jiahao1" data-type="1"></a>
      </span>
    </p>
    <ul>
      {{#each _DATA_}}
      {{#equals type 1}}
      {{> component:list/sidebar/all_templates/_sidebar_item bidId=../bidId billId=../billId}}
      {{/equals}}
      {{/each}}
      <li class="sidebar-add-item js-sidebar-add">
        <button class="btn" style="margin-left: -4px; vertical-align: middle;">确定</button>
      </li>
    </ul>
  </div>
  <div class="list-item js-list-item">
    <p>
      <span>措施费</span>
      <span class="list-control">
        <a href="javascript:;" class="icon-hsh icon-jiahao1" data-type="2"></a>
      </span>
    </p>
    <ul>
      {{#each _DATA_}}
      {{#equals type 2}}
      {{> component:list/sidebar/all_templates/_sidebar_item bidId=../bidId billId=../billId}}
      {{/equals}}
      {{/each}}
      <li class="sidebar-add-item js-sidebar-add">
        <button class="btn" style="margin-left: -4px; vertical-align: middle;">确定</button>
      </li>
    </ul>
  </div>
  <div class="list-item js-list-item">
    <p>
      <span>其他</span>
    </p>
    <ul>
      {{#each _DATA_}}
      {{#gt type 2}}
        <li data-tag-id="{{id}}"><a href="/list/edit/other/fees?billId={{../billId}}&bidId={{../bidId}}&billSheetId={{id}}&type={{type}}">{{name}}</a></li>
      {{/gt}}

      {{/each}}
    </ul>
  </div>
</div>
<div class="list-pull-control"></div>
{{/component}}
