{{#component "component-popup-image js-comp"}}
  <div class="component-container" {{#if backgroundColor}}style="background-color: #{{backgroundColor}}"{{/if}}>
    <div class="image-container" style="{{#if width}}width: {{width}}px;{{/if}}{{#if height}}height: {{height}}px;{{/if}}">
      <a href="javascript:;" class="icon-feebas icon-feebas-cha close-icon" id="js-close-popup"></a>
      <a href="{{href}}" target="_blank">
        <img src="{{src}}" alt="">
      </a>
    </div>
  </div>
{{/component}}
