<div class="update-mobile">
  <form class="form form-aligned update-mobile-form">
    <fieldset>
      <div class="control-group">
        <label for="mobile"><span class="required">*</span>{{i18n "New phone number" bundle="user"}}:</label>
        <input id="mobile-phone" type="mobile" class="control" placeholder="{{i18n "Enter phone number" bundle="user"}}" name="mobile" required autocomplete="off">
        <span class="note">{{i18n "Mobile number" bundle="user"}}</span>
        <span class="note-error">{{i18n "Please enter the correct phone number" bundle="user"}}</span>
        <span class="note-error-empty">{{i18n "Please enter a new phone number" bundle="user"}}</span>
      </div>
      <div class="control-group">
        <label for="verify-code"><span class="required">*</span>图片验证码:</label>
        <input id="verify-code" type="text" placeholder="请输入图片验证码" maxlength="4" required>
        <img src="/api/user/captcha" class="verify-code js-verify-code" alt="看不清楚？点击重新获取验证码" title="看不清楚？点击重新获取验证码">
      </div>
      <div class="control-group">
        <label>&nbsp;</label>
        <button type="button" class="btn get-code" data-delay="60" disabled="disabled">{{i18n "Get phone verification code" bundle="user"}}</button>
      </div>
      <div class="control-group">
        <label for="verification-code"><span class="required">*</span>{{i18n "Verification Code" bundle="user"}}:</label>
        <input id="verification-code" type="text" placeholder="{{i18n "Enter the verification code" bundle="user"}}" name="code" required>
      </div>
      <div class="controls">
        <input type="submit" class="btn btn-primary btn-medium" value="{{i18n "Confirm" bundle="user"}}">
        <button class="btn btn-info btn-medium close" type="button">{{i18n "Cancel" bundle="user"}}</button>
      </div>
    </fieldset>
  </form>
</div>
