{{#component "seller-shop-design js-comp"}}
<div class="component-header">
  <span class="component-title">{{i18n "Edit Store" bundle="shop"}}</span>
</div>
<div class="component-body">
  {{#each _DATA_}}
    <h3>{{#equals @key "PC"}}{{i18n "PC-side Store" bundle="shop"}}{{else}}{{i18n "Mobile site Store" bundle="shop"}}{{/equals}}</h3>
    <table class="table" type="{{@key}}">
      <thead>
        <tr>
          <th width="35%">{{i18n "Template" bundle="shop"}}</th>
          <th width="35%">{{i18n "Status" bundle="shop"}}</th>
          <th width="30%">{{i18n "Operation" bundle="shop"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
          <tr data-id="{{siteId}}">
            <td>
              {{layout.name}}
            </td>
            <td>
              {{#if siteId}}
                {{#if active}}
                <span class="currency">{{i18n "Enabling" bundle="shop"}}</span>
                {{else}}
                {{i18n "Not Enabled" bundle="shop"}}
                {{/if}}
              {{else}}
                {{i18n "Inactive" bundle="shop"}}
              {{/if}}
            </td>
            <td>
              {{#if siteId}}
                {{#unless active}}
                <button class="btn btn-success js-shop-site-active" data-id="{{siteId}}" data-toggle="confirm" data-title="{{i18n "Are you sure to enable it" bundle="shop"}}?" data-content="{{i18n "Enable? Once enabled, shop will begin to use this display template, make sure you have complete the editing and publishing." bundle="shop"}}" data-event="shop-site:active">{{i18n "Enable" bundle="shop"}}</button>
                {{/unless}}
                <button class="btn js-shop-site-release" data-id="{{siteId}}" data-toggle="confirm" data-title="{{i18n "Are you sure to publish it" bundle="shop"}}?" data-content="{{i18n "Publish? All site changes will take effect after it is published. You can also choose to use the renoGSTed interface to publish a single page rather than the entire site." bundle="shop"}}" data-event="shop-site:release">{{i18n "Publish" bundle="shop"}}</button>
                <a href="/design/sites/{{siteId}}" target="_blank">{{i18n "RenoGSTion" bundle="shop"}}</a>
              {{else}}
                <a href="javascript:;" class="js-shop-site-create" data-layout="{{layoutKey}}" data-app="{{layout.app}}">{{i18n "ActiGSTe" bundle="shop"}}</a>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/each}}
</div>
{{/component}}
