<table class="table table-task">
  <thead>
    <tr>
      <th width="10%">审批顺序</th>
      <th width="20%">节点名称</th>
      <th width="15%">默认审批人</th>
      <th width="35%">条件审批人及负责项目</th>
      <th width="20%">操作</th>
    </tr>
  </thead>
  <tbody class="js-table-body">
    {{#if taskList}}
      {{#each taskList}}
        <tr class="js-flow-item-tr" index="{{#if index}}{{index}}{{else}}{{add @index 1}}{{/if}}">
          <td class="index-td">{{#if index}}{{index}}{{else}}{{add @index 1}}{{/if}}</td>
          <td>{{name}}</td>
          <td>{{defaultApproverName}}</td>
          <td>
            {{#if conditionApproverList}}
              {{#each conditionApproverList}}
                <div>
                  <span>{{userName}}：</span>
                  {{#each taskApproverList}}
                    <span>{{projectName}}{{#unless @last}},{{/unless}}</span>
                  {{/each}}
                </div>
              {{/each}}
            {{else}}
              无
            {{/if}}
          </td>
          <td>
            <a href="javascript:;" class="js-flow-delete" data-flow-id="{{flowId}}">删除</a>
            <a href="javascript:;" class="js-flow-edit" data-flows="{{json this}}" index="{{#if index}}{{index}}{{else}}{{add @index 1}}{{/if}}">编辑</a>
          </td>
        </tr>
      {{/each}}
    {{else}}
      <tr>
        <td class="center-text" colspan="5">暂无审批配置！</td>
      </tr>
    {{/if}}
  </tbody>
</table>
