{{#component "component-shop-list js-comp"}}
<table id="table" class="table {{#unless _DATA_.entities.total}}table-no-results{{/unless}}">
  <thead>
    <tr>
      <th width="500">{{i18n "Store name" bundle="design"}}</th>
      <th width="300">{{i18n "Store Address" bundle="design"}}</th>
      <th width="200" class="td-operation">{{i18n "Number of Products" bundle="design"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#if _DATA_.entities.data}}
      {{#each _DATA_.entities.data}}
      <tr>
        <td>
          <div class="shop-logo">
            <a href="/shops/{{id}}"><img data-original="{{cdnPath imageUrl "100"}}" width="80" height="80"></img></a>
          </div>
          <div class="shop-description">
            <span class="shop-name"><a href="/shops/{{id}}">{{{name}}}</a></span><br>
          </div>
        </td>
        <td>
          <div class="shop-info">
            <div class="shop-address">
              {{province}}{{city}}{{region}}{{street}}
            </div>
          </div>
        </td>
        <td class="td-operation">
          {{i18n "Total" bundle="design"}}有<span class="shop-sold">{{itemCount}}</span>{{i18n "x item(s)" bundle="design"}}
        </td>
      </tr>
      {{/each}}
    {{else}}
      <tr>
        <td colspan="4">{{i18n "Store not found" bundle="design"}}</td>
      </tr>
    {{/if}}
  </tbody>
</table>
<div class="shop-pagination">
  <div class="pagination" data-count="{{_DATA_.total}}"></div>
</div>
{{/component}}
