<fieldset>
  <legend class="form-title"><strong>服务信息</strong></legend>
  <div class="table-title">品牌</div>
  <table class="table brand-table">
    <thead>
      <tr>
        <th width="40%">品牌名</th>
        <th width="30%">logo</th>
        <th width="30%" class="right-text">操作</th>
      </tr>
    </thead>
    <tbody>
      {{> user/register_company/all_templates/_option_tr type='brand' brand=data.brands}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">
          <i></i><a class="js-add-edit-item" data-type="brand">添加新的品牌</a>            
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="control-group" style="display: block">
    <label style="width: 9.3em;">OEM授权图片:</label>
    {{#if data}}
      {{#each data.oems}}
        <div class="btn btn-upload main-image js-upload-img">
          <input type="file" name="file">
          <img src="{{this}}" style="{{#if this}}width: 70px; height: 70px{{/if}}">
          <span>+</span>
          <input type="hidden" name="oems" value="{{this}}">
        </div>
      {{/each}}
    {{else}}
      <div class="btn btn-upload main-image js-upload-img">
        <input type="file" name="file">
        <img src="{{data.oems}}" style="{{#if data.oems}}width: 70px; height: 70px{{/if}}">
        <span>+</span>
        <input type="hidden" name="oems" value="{{data.oems}}">
      </div>
      <div class="btn btn-upload main-image js-upload-img">
        <input type="file" name="file">
        <img src="{{data.oems}}" style="{{#if data.oems}}width: 70px; height: 70px{{/if}}">
        <span>+</span>
        <input type="hidden" name="oems" value="{{data.oems}}">
      </div>
      <div class="btn btn-upload main-image js-upload-img">
        <input type="file" name="file">
        <img src="{{data.oems}}" style="{{#if data.oems}}width: 70px; height: 70px{{/if}}">
        <span>+</span>
        <input type="hidden" name="oems" value="{{data.oems}}">
      </div>
    {{/if}}
  </div>
  <div class="control-group">
    <label class="single-label"><span class="required">*</span>厂房地址:</label>
    <input type="text" class="input-medium" name="plantAddress" placeholder="请输入厂房地址" value="{{data.plantAddress}}" required>
  </div>
  <div class="control-group">
    <label><span class="required">*</span>厂区面积:</label>
    <input type="number" class="input-medium" name="plantArea" placeholder="请输入厂区面积" value="{{data.plantArea}}" pattern="^[1-9]*[1-9][0-9]*$" required>
    <span>单位：㎡</span>
  </div>
  <div class="control-group">
    <label class="single-label">设计产能:</label>
    <input type="text" class="input-medium" name="designCapacity" placeholder="请输入设计产能" value="{{data.designCapacity}}">
  </div>
  <div class="control-group">
    <label><span class="required">*</span>工厂人员数量:</label>
    <input type="number" class="input-medium" name="workerNum" placeholder="请输入工厂人员数量,10位以内的正整数" value="{{data.workerNum}}" pattern="(^[1-9]([0-9]){0,9}$|^[0-9]$)" required>
    <span>单位：人</span>
  </div>
  <div class="table-title control-group">
    <button class="btn btn-primary js-go-prev" type="button">上一步</button>
    <button class="btn btn-primary js-supplier-btn" type="submit">注册公司</button>
  </div>
</fieldset>