{{#partial "title"}}{{{block "realTitle"}}}{{/partial}}
{{#partial "bodyClass"}}body{{/partial}}
{{#partial "body"}}
  <div class="main-top">
    {{inject "supplier/sidebar"}}
  </div>
  <div class="main-body" style="margin-top: 80px;">
    <div class="main-search">
      {{inject "search/search_header" companyType="supplier"}}
    </div>
    {{{block "tabNavs"}}}
    <div class="body-container">
      <div style="padding: 0 20px;">
        {{{block "realBody"}}}
      </div>
    </div>
  </div>
{{/partial}}
{{> layout}}
