{{#partial "realTitle"}}材料查询{{/partial}}
{{#partial "tabNavs"}}
  <div class="tab" data-type="switchable">
    <ul class="tab-navs clearfix">
      <li class="{{#if type}}{{#equals type 1}}active{{/equals}}{{else}}active{{/if}}">
        <a href="{{#if type}}{{#equals type 1}}javascript:;{{else}}/supplier/search-material{{/equals}}{{else}}javascript:;{{/if}}">人工费</a>
      </li>
      <li class="{{#equals type 2}}active{{/equals}}">
        <a href="{{#equals type 2}}javascript:;{{else}}/supplier/search-material?type=2{{/equals}}">材料费</a>
      </li>
      <li class="{{#equals type 3}}active{{/equals}}">
        <a href="{{#equals type 3}}javascript:;{{else}}/supplier/search-material?type=3{{/equals}}">机械费</a>
      </li>
    </ul>
  </div>
{{/partial}}
{{#partial "realBody"}}
  {{#if type}}
    {{inject "search/material_search"}}
  {{else}}
    {{inject "search/material_search" type=1}}
  {{/if}}
{{/partial}}
{{> supplier/layout_search}}
