{{#component "channel-items-list clearfix js-comp"}}
  <div class="popularize {{#equals order "5"}}wider-module{{/equals}}{{#equals order "4"}}wider-module{{/equals}} clearfix">
    <div class="one-item">
      <a href="{{item1}}" target="_blank"><img class="img1" src="{{cdnPath img1 "360"}}" alt=""></a>
    </div>
    {{#equals order "3"}}
    <div class="one-to-two">
      <a href="{{item2}}" target="_blank"><img class="img2" src="{{cdnPath img2 "360"}}" alt=""></a>
      <br>
      <a href="{{item3}}" class="two-row-bottom" target="_blank"><img class="img3" src="{{cdnPath img3 "360"}}" alt=""></a>
    </div>
    {{else}}
      {{#equals order "5"}}
      <div class="one-to-two">
        <a href="{{item2}}" target="_blank"><img class="img2" src="{{cdnPath img2 "360"}}" alt=""></a>
        <br>
        <a href="{{item3}}" class="two-row-bottom" target="_blank"><img class="img3" src="{{cdnPath img3 "360"}}" alt=""></a>
      </div>
      {{else}}
      <div class="one-to-one">
        <a href="{{item2}}" target="_blank"><img class="img2" src="{{cdnPath img2 "360"}}" alt=""></a>
      </div>
      {{/equals}}
    {{/equals}}
  </div>
  <div class="items {{#equals order "5"}}wider-items{{/equals}}{{#equals order "4"}}wider-items{{/equals}}" data-ids="{{ids}}" data-spus="{{spuIds}}" data-href="{{_HREF_.main}}">
  </div>
{{/component}}
