<div class="component-filter">
  <form id="form4" class="form js-standard-filter-form">
    <fieldset>
      <span class="span3 left-text">
        <label for="name">招标名称</label>
        <input type="hidden" name="projectId" class="js-project-id" value="{{projectId}}">
        <input type="text" name="bidName" placeholder="招标名称" value="{{bidName}}">
      </span>
      <span class="span3 select-small left-text control-group">
        <label for="">专业</label>
        <select class="major-select" name="speciality1" data-level="1">
          <option value="{{speciality1}}">请选择</option>
        </select>
        <select class="major-select" name="speciality2" data-level="2">
          <option value="{{speciality2}}">请选择</option>
        </select>
      </span>
      <span class="span3 left-text select-medium">
        <label for="status">招标状态</label>
        <select class="select" name="bidStatus">
          <option value="">请选择</option>
          <option value="-2" {{#equals bidStatus -2}}selected{{/equals}}>废标</option>
          <option value="0" {{#equals bidStatus 0}}selected{{/equals}}>等待提交立项</option>
          <option value="1" {{#equals bidStatus 1}}selected{{/equals}}>提交立项审批</option>
          <option value="3,9" {{#equals bidStatus "3,9"}}selected{{/equals}}>入围审批</option>
          <option value="6,7" {{#equals bidStatus "6,7"}}selected{{/equals}}>入围完成</option>
          <option value="8,9" {{#equals bidStatus "8,9"}}selected{{/equals}}>提交招标文件完成</option>
          <option value="4,7" {{#equals bidStatus "4,7"}}selected{{/equals}}>招标文件审批</option>
          <option value="10" {{#equals bidStatus 10}}selected{{/equals}}>招标准备完成</option>
          <option value="11" {{#equals bidStatus 11}}selected{{/equals}}>发标完成</option>
          <option value="12" {{#equals bidStatus 12}}selected{{/equals}}>技术标开标完成</option>
          <option value="13" {{#equals bidStatus 13}}selected{{/equals}}>商务标开标完成</option>
          <option value="14" {{#equals bidStatus 14}}selected{{/equals}}>开标完成</option>
          <option value="15" {{#equals bidStatus 15}}selected{{/equals}}>评标审批</option>
          <option value="16" {{#equals bidStatus 16}}selected{{/equals}}>评标完成</option>
          <option value="17" {{#equals bidStatus 18}}selected{{/equals}}>定标审批</option>
          <option value="18" {{#equals bidStatus 18}}selected{{/equals}}>定标完成</option>
        </select>
      </span>
      <span class="span2 left-text select-small">
        <label for="type">招标类型</label>
        <select class="select" name="bidType">
          <option value="">请选择</option>
          <option value="1" {{#equals bidType 1}}selected{{/equals}}>总包</option>
          <option value="2" {{#equals bidType 2}}selected{{/equals}}>专业分包</option>
          <option value="3" {{#equals bidType 3}}selected{{/equals}}>设备</option>
          <option value="4" {{#equals bidType 4}}selected{{/equals}}>专业服务</option>
        </select>
      </span>
      <span class="span pull-right">
        <button type="submit" class="btn btn-primary js-bids-submit">筛选</button>
        <a class="btn btn-info" href="/developer/bids{{#if projectId}}?projectId={{projectId}}{{/if}}">重置</a>
      </span>
    </fieldset>
  </form>
</div>
