<div class="freight-select-province">
  <p><label><input type="checkbox" class="js-check-all"> 全选</label></p>
  <ul class="freight-province-ul clearfix">
    {{#each data.province}}
    <li class="freight-province-li" data-id="{{id}}" {{#if check}}data-address="{{address}}"{{/if}} {{#equals check "indeterminate"}}data-show="{{children}}"{{/equals}}>
      <label for="province-{{id}}" class="province-label">
        <input type="checkbox" value="{{id}}" data-name="{{name}}" class="js-select-province-item" id="province-{{id}}"
        {{#equals check "indeterminate"}}indeterminate="true"{{/equals}}
        {{#equals check "checked"}}checked{{/equals}}
        > {{name}}
      </label>
      <span class="drop-entrance js-city-list">
        <span class="city-count js-city-count">{{#equals check "indeterminate"}}({{count}}){{/equals}}</span>
        <span class="caret"></span>
      </span>
    </li>
    {{/each}}
  </ul>
</div>
