<div class="bids-group form-aligned">
  <div class="bids-title">
    <label>招标立项信息</label>
    {{#equals bidStatus 0}}
      {{#equals bidOperatorId userId}}
        <div class="pull-right group-btn">
          <a href="/developer/bids-edit?bidId={{id}}" target="_blank">编辑</a>
          <a href="javascript:;" data-toggle="confirm" data-event="confirm:deleteBid" data-title="删除招标立项确认" data-content="该招标立项删除之后无法恢复，是否删除？" data-id="{{id}}">删除</a>
        </div>
      {{/equals}}
    {{/equals}}
  </div>
  <div class="clearfix bids-content content-label-large content-border">
    <div class="group-left">
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>项目名称：</label>
        <span>{{projectName}}</span>
      </div>
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>所在城市：</label>
        <span>{{city}}</span>
      </div>
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>业态类型：</label>
        <span>
          {{#equals projectType 1}}住宅{{/equals}}
          {{#equals projectType 2}}商业{{/equals}}
          {{#equals projectType 3}}旅游{{/equals}}
          {{#equals projectType 4}}综合体{{/equals}}
        </span>
      </div>
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>招标类型：</label>
        <span>
          {{#equals bidType 1}}总包{{/equals}}
          {{#equals bidType 2}}专业分包{{/equals}}
          {{#equals bidType 3}}设备{{/equals}}
          {{#equals bidType 4}}专业服务{{/equals}}
        </span>
      </div>
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>招标名称：</label>
        <span>{{bidName}}</span>
      </div>
      <div class="control-group">
        <label class="group-title">概算金额：</label>
        <span>{{#if estimatedAmount}}{{formatNumber estimatedAmount}}元{{else}}-{{/if}}</span>
      </div>
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>招标文件经办人：</label>
        <span>{{bidFileOperatorName}}</span>
      </div>
      <div class="control-group">
        <label class="group-title">计划工期：</label>
        <span>{{#if timePlan}}{{timePlan}}天{{else}}-{{/if}}</span>
      </div>
      <div class="control-group">
        <label class="group-title">报名条件：</label>
        <span>{{#if applicationConditions}}{{applicationConditions}}{{else}}-{{/if}}</span>
      </div>
      <div class="control-group">
        <label class="group-title">计划发标时间：</label>
        <span>{{#if planBidDate}}{{formatDate planBidDate "day"}}{{else}}-{{/if}}</span>
      </div>
      <div class="control-group">
        <label class="group-title">备注：</label>
        <span>{{#if remark}}{{remark}}{{else}}-{{/if}}</span>
      </div>
    </div>
    <div class="group-right">
      <div class="control-group"></div>
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>详细地址：</label>
        <span>{{addressDetail}}</span>
      </div>
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>建筑面积：</label>
        <span>{{formatNumber buildingArea}} 平方米</span>
      </div>
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>招标专业：</label>
        <span>{{specialityNames}}</span>
      </div>
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>招标方式：</label>
        <span>
          {{#equals bidWay 1}}公开招标{{/equals}}
          {{#equals bidWay 2}}邀请招标{{/equals}}
        </span>
      </div>
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>招标单位：</label>
        <span>{{bidCompany}}</span>
      </div>
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>入围经办人：</label>
        <span>{{tenderFinalistsOperatorName}}</span>
      </div>
      <div class="control-group">
        <label class="group-title">评标原则：</label>
        <span>{{#if judgeRule}}{{judgeRule}}{{else}}-{{/if}}</span>
      </div>
      <div class="control-group">
        <label class="group-title">报名联系方式：</label>
        <span>{{#if contact}}{{contact}}{{else}}-{{/if}}</span>
      </div>
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>投标保证金：</label>
        <span>{{formatNumber bidBonds}} 元</span>
      </div>
      <div class="control-group">
        <label class="group-title">计划截标时间：</label>
        <span>{{#if planDeadlineDate}}{{formatDate planDeadlineDate "day"}}{{else}}-{{/if}}</span>
      </div>
      {{#equals bidWay 1}}
        <div class="control-group">
          <label class="group-title"><b class="required">*</b>报名截止时间：</label>
          <span>{{#if registrationDeadline}}{{registrationDeadline}}{{else}}-{{/if}}</span>
        </div>
      {{/equals}}
    </div>
  </div>
</div>
