<div class="bids-notice">
  <div class="bids-group">
    <div class="bids-title">
      <label>招标公告</label>
    </div>
    <div class="bids-content content-border clearfix">
      {{#withList notification}}
        {{#if projectName}}
          <div class="pull-left notice-item">
            <span class="title">项目名称：</span>
            <span class="name">{{../projectName}}</span>
          </div>
        {{/if}}
        {{#if city}}
          <div class="pull-left notice-item">
            <span class="title">所在城市：</span>
            <span class="name">{{../city}}</span>
          </div>
        {{/if}}
        {{#if addressDetail}}
          <div class="pull-left notice-item">
            <span class="title">详细地址：</span>
            <span class="name">{{../addressDetail}}</span>
          </div>
        {{/if}}
        {{#if projectType}}
          <div class="pull-left notice-item">
            <span class="title">业态类型：</span>
            <span class="name">
              {{#equals ../projectType 1}}住宅{{/equals}}
              {{#equals ../projectType 2}}商业{{/equals}}
              {{#equals ../projectType 3}}旅游{{/equals}}
              {{#equals ../projectType 4}}综合体{{/equals}}
            </span>
          </div>
        {{/if}}
        {{#if buildingArea}}
          <div class="pull-left notice-item">
            <span class="title">建筑面积：</span>
            <span class="name">{{formatNumber ../buildingArea}}平方米</span>
          </div>
        {{/if}}
        {{#if bidType}}
          <div class="pull-left notice-item">
            <span class="title">招标类别：</span>
            <span class="name">
              {{#equals ../bidType 1}}总包{{/equals}}
              {{#equals ../bidType 2}}专业分包{{/equals}}
              {{#equals ../bidType 3}}设备{{/equals}}
              {{#equals ../bidType 4}}专业服务{{/equals}}
            </span>
          </div>
        {{/if}}
        {{#if speciality}}
          <div class="pull-left notice-item">
            <span class="title">招标专业：</span>
            <span class="name">{{../specialityNames}}</span>
          </div>
        {{/if}}
        {{#if bidName}}
          <div class="pull-left notice-item">
            <span class="title">招标名称：</span>
            <span class="name">{{../bidName}}</span>
          </div>
        {{/if}}
        {{#if bidWay}}
          <div class="pull-left notice-item">
            <span class="title">招标方式：</span>
            <span class="name">
              {{#equals ../bidWay 1}}公开招标{{/equals}}
              {{#equals ../bidWay 2}}邀请招标{{/equals}}
            </span>
          </div>
        {{/if}}
        {{#if estimatedAmount}}
          <div class="pull-left notice-item">
            <span class="title">概算金额：</span>
            <span class="name">{{#if ../estimatedAmount}}{{formatNumber ../estimatedAmount}}元{{else}}-{{/if}}</span>
          </div>
        {{/if}}
        {{#if bidCompany}}
          <div class="pull-left notice-item">
            <span class="title">招标单位：</span>
            <span class="name">{{#if ../bidCompany}}{{../bidCompany}}{{else}}-{{/if}}</span>
          </div>
        {{/if}}
        {{#if bidFileOperatorName}}
          <div class="pull-left notice-item">
            <span class="title">招标文件经办人：</span>
            <span class="name">{{#if ../bidFileOperatorName}}{{../bidFileOperatorName}}{{else}}-{{/if}}</span>
          </div>
        {{/if}}
        {{#if tenderFinalistsOperatorName}}
          <div class="pull-left notice-item">
            <span class="title">联系人：</span>
            <span class="name">{{#if ../tenderFinalistsOperatorName}}{{../tenderFinalistsOperatorName}}{{else}}-{{/if}}</span>
          </div>
        {{/if}}
        {{#if timePlan}}
          <div class="pull-left notice-item">
            <span class="title">计划工期：</span>
            <span class="name">{{#if ../timePlan}}{{../timePlan}}天{{else}}-{{/if}}</span>
          </div>
        {{/if}}
        {{#if judgeRule}}
          <div class="pull-left notice-item">
            <span class="title">评标原则：</span>
            <span class="name">{{#if ../judgeRule}}{{../judgeRule}}{{else}}-{{/if}}</span>
          </div>
        {{/if}}
        {{#if applicationConditions}}
          <div class="pull-left notice-item">
            <span class="title">报名条件：</span>
            <span class="name">{{#if ../applicationConditions}}{{../applicationConditions}}{{else}}-{{/if}}</span>
          </div>
        {{/if}}
        {{#if bidBonds}}
          <div class="pull-left notice-item">
            <span class="title">投标保证金：</span>
            <span class="name">{{#if ../bidBonds}}{{formatNumber ../bidBonds}}元{{else}}-{{/if}}</span>
          </div>
        {{/if}}
        {{#if planBidDate}}
          <div class="pull-left notice-item">
            <span class="title">计划发标时间：</span>
            <span class="name">{{#if ../planBidDate}}{{formatDate ../planBidDate "day"}}{{else}}-{{/if}}</span>
          </div>
        {{/if}}
        {{#if planDeadlineDate}}
          <div class="pull-left notice-item">
            <span class="title">计划截标时间：</span>
            <span class="name">{{#if ../planDeadlineDate}}{{formatDate ../planDeadlineDate "day"}}{{else}}-{{/if}}</span>
          </div>
        {{/if}}
        {{#if registrationDeadline}}
          <div class="pull-left notice-item">
            <span class="title">报名截止时间：</span>
            <span class="name">{{#if ../registrationDeadline}}{{../registrationDeadline}}{{else}}-{{/if}}</span>
          </div>
        {{/if}}
        {{#if contact}}
          <div class="pull-left notice-item">
            <span class="title">报名联系方式：</span>
            <span class="name">{{#if ../contact}}{{../contact}}{{else}}-{{/if}}</span>
          </div>
        {{/if}}
        {{#if remark}}
          <div class="pull-left notice-item">
            <span class="title">备注：</span>
            <span class="name">{{#if ../remark}}{{../remark}}{{else}}-{{/if}}</span>
          </div>
        {{/if}}
      {{/withList}}
    </div>
  </div>
</div>
