{{#component "js-comp supplier-bids-clarify"}}
  {{#with _DATA_}}
    {{#if total}}
      {{#each clarifyDetails}}
        <form class="form form-aligned js-form-clarify">
          <div class="bids-group">
            <div class="bids-content-bg left-text">第{{subtract ../total @index}}次</div>
          </div>
          {{> component:supplier/bids/bids_clarify/common/backend_templates/theme}}
          {{> component:supplier/bids/bids_clarify/common/backend_templates/clarify_attachment}}
          {{> component:supplier/bids/bids_clarify/common/backend_templates/clarify_inventory}}
          <div class="bids-group">
            <div class="bids-title">
              <label>澄清回复</label>
            </div>
            <div class="bids-content">
              <input type="hidden" name="id" value="{{id}}">
              <input type="hidden" name="bidId" value="{{bidId}}">
              <input type="hidden" name="clarifyLogId" value="{{clarifyLogId}}">
              <input type="hidden" name="companyId" value="{{companyId}}">
              <div class="control-group">
                <input type="text" class="input-large" name="reply" placeholder="请输入澄清回复" value="{{reply}}" required {{#if reply}}readonly{{else}}{{#of ../bidSupplierStatus "8,9,10,11"}}{{else}}readonly{{/of}}{{/if}}>
                <span class="note-error-empty">请输入澄清回复</span>
              </div>
            </div>
          </div>
          {{> component:supplier/bids/bids_clarify/common/backend_templates/reponse_attachment bidSupplierStatus=../bidSupplierStatus}}
          {{> component:supplier/bids/bids_clarify/common/backend_templates/reponse_inventory}}
          <div class="bids-group no-padding">
            <div class="bids-content">
              {{#unless replyStatus}}
                {{#of ../bidSupplierStatus "8,9,10,11"}}
                  <a href="javascript:;" class="btn btn-primary" data-id="{{id}}" data-toggle="confirm" data-event="confirm:clarify" data-title="提交澄清确认" data-content="澄清提交后不可撤回，是否确认提交？">提交澄清</a>
                  <button type="submit" class="js-clarify-submit-{{id}} hide"></button>
                {{/of}}
              {{/unless}}
            </div>
          </div>
        </form>
      {{/each}}
    {{else}}
      <div class="center-text font-16" style="padding-top: 50px;">暂无澄清回复！</div>
    {{/if}}
  {{/with}}
{{/component}}
