{{#component "item-detail js-comp clearfix"}}
  <input type="hidden" id="YZHD_ITEMID" value="{{itemId}}" data-info="">
  <form id="js-item-form" action="/buyer/pre-order" class="hide" method="POST">
    <input type="hidden" name="data">
    <input type="hidden" name="channel" value="1">
  </form>
  <div class="item-detail-left" id="js-item-detail-left">
    <div class="image-manage" data-item-detail="{{_DATA_.itemDetail.id}}"
                              data-user="{{json _USER_}}">
      <a class="main-image js-main-image-container zoom" href="{{_DATA_.item.mainImage}}">
        <img alt="{{_DATA_.item.name}}" src="{{cdnPath _DATA_.item.mainImage '428'}}" class="js-main-image" width="428" height="428" />
        <i class="icon-zcy icon-search image-enlarge"></i>
      </a>

      <div class="carousel-wrap item-carousel-wrap js-comp" data-comp-path="common/more_carousel">
        <div class="carousel show">
          <ul class="images carousel-container clearfix" data-time="" data-auto="false" data-length="5" data-type="0"  data-size="{{add (size _DATA_.imageInfos) 1}}">
            <li class="selected" style="width:20%">
              <img id="itemMainImage" class="thumbnail" src="{{cdnPath _DATA_.item.mainImage "360"}}" alt="{{_DATA_.item.name}}" data-src="{{_DATA_.item.mainImage}}"/>
            </li>
            {{#each _DATA_.imageInfos}}
              <li style="width:20%">
                <img class="thumbnail" src="{{cdnPath url "100"}}" alt="{{#if name}}{{name}}{{else}}{{_DATA_.item.name}}{{/if}}" data-src="{{url}}"/>
              </li>
            {{/each}}
          </ul>
        </div>
        <a class="prev outside" href="javascript:void(0);"></a>
        <a class="next outside" href="javascript:void(0);"></a>
      </div>
    </div>
  </div>
  <div class="item-detail-right" id="js-item-detail-right">
    <div class="item-title" data-id="{{itemId}}" data-status="{{_DATA_.item.status}}">
      <h1 title="{{_DATA_.item.name}}" id="js-item-name">{{_DATA_.item.name}}</h1>
    </div>
    {{#if _DATA_.item.extra.selfPlatformLink}}
      <p><a href="{{_DATA_.item.extra.selfPlatformLink}}" class="item-platform-link" target="_blank">点击进入供应商自营平台商品页面</a></p>
    {{/if}}
    <div class="item-info">
      <ul class="item-info-list">
        {{!-- <li class="outer-li">
          <label class="first-line">原价</label>
          <span class="outer-price"><del id="js-item-origin-price" data-range="{{_CURRENCY_}}{{formatPrice _DATA_.item.lowOriginPrice}}-{{_CURRENCY_}}{{formatPrice _DATA_.item.highOriginPrice}}" data-currency="{{_CURRENCY_}}">{{_CURRENCY_}}{{formatPrice _DATA_.item.lowOriginPrice}}-{{formatPrice _DATA_.item.highOriginPrice}}</del></span>
        </li> --}}
        <li class="outer-li hide">
          <label class="first-line">价格</label>
          <span class="outer-price"></span>
        </li>
        <li class="price-li">
          <label class="first-line">价格</label>
          <span class="item-price"><span id="js-item-price" class="price" {{#equals _DATA_.item.lowPrice _DATA_.item.highPrice}}
                      data-range="{{formatPrice _DATA_.item.lowPrice}}"
                    {{else}}
                      data-range="{{formatPrice _DATA_.item.lowPrice}}-{{formatPrice _DATA_.item.highPrice}}"
                    {{/equals}}>{{#equals _DATA_.item.lowPrice _DATA_.item.highPrice}}{{formatPrice _DATA_.item.lowPrice}}{{else}}{{formatPrice _DATA_.item.lowPrice}}-{{formatPrice _DATA_.item.highPrice}}{{/equals}}</span></span>
        </li>
        <li class="promotion-li hide">
          <label class="first-line">促销活动</label>
          <span class="show-discount hide" data-info="">
            <img class="icon" src="/assets/images/other-images/discount-bg.png">
            <span class="text">降价促销</span>
          </span>
          <p class="show-coupon hide" data-info="">
            <img src="/assets/images/other-images/coupon-bg.png" class="bg-image">
            <span>领取优惠券</span>
          </p>
        </li>
      </ul>
    </div>

    <div class="sencond-info">
      <ul>
        <li class="ship-fee address-group" data-item="{{itemId}}" data-levels="3">
          <label class="first-line">运费</label>
          <div class="address-select-label">
            <div class="address-select-wrap">
              <label>送货至</label>
              <div class="address-select">
                <div class="address-text" data-address-id="0">北京 北京市 东城区</div>
                <div class="address-area">
                  <a class="address-close" href="javascript:;"><i class="icon-feebas icon-feebas-guanbi"></i></a>
                  <ul class="address-tab clearfix">
                    <li data-level="1" class="active" data-default="{{provinceId}}"><a href="javascript:;">省/直辖市</a></li>
                    <li data-level="2" data-default="{{cityId}}"><a href="javascript:;">城市</a></li>
                    <li data-level="3" data-default="{{regionId}}"><a href="javascript:;">地区</a></li>
                  </ul>
                  <ul class="address-content clearfix" data-level="1"></ul>
                  <ul class="address-content clearfix" data-level="2"></ul>
                  <ul class="address-content clearfix" data-level="3"></ul>
                </div>
                <span class="caret"></span>
              </div>
              &nbsp;&nbsp;
              <label for="">运费：<span class="base-freight">请先选择规格</span></label>
            </div>
          </div>
        </li>
      </ul>
    </div>

    {{#equals _DATA_.item.status "1"}}
    <div class="item-skus">
      <a href="javascript:void(0);" class="close-warning" style="display:none;">×</a>
      <ul id="choose" data-skus="{{json _DATA_.skus}}"
                      data-attrs="{{json _DATA_.groupedSkuAttrs}}">
        {{#each _DATA_.groupedSkuAttrs}}
          <li class="sku-choose js-attr-sort" data-index="{{@index}}">
            <div class="control-group">
              <label class="dt sku-items-label" for="input-name">{{attrKey}}</label>
              <div class="smdd sku-items">
                <div class="wrap-input">
                  {{#each skuAttributes}}
                    <a class="{{#if image}}hasImage{{/if}} js-sku-attr sku-attr" data-show="{{showImage}}" {{#if image}}data-src="{{image}}"{{/if}} data-id="{{id}}" href="javascript:;" title="{{attrVal}}" data-attr="{{attrKey}}:{{attrVal}}" data-key="{{attrKey}}">
                      {{#if image}}<img src="{{cdnPath image "60"}}" alt="{{attrVal}}" data-src="{{image}}">{{else}}{{attrVal}}{{/if}}
                      <span class="attr-checked">
                        <img src="/assets/images/other-images/sku-c-a.png" class="bg-image">
                      </span>
                    </a>
                  {{/each}}
                </div>
              </div>
            </div>
          </li>
        {{/each}}
        <li id="choose-amount">
          <div class="control-group">
            <label class="dt sku-items-label" for="input-name">{{i18n "Purchase quantity" bundle="shop_design"}}</label>
            <div class="controls">
              <div class="input-amount js-item-stock-quantity group-small" data-max="{{_DATA_.item.stockQuantity}}">
                <a href="javascript:void(0);" class="disabled minus">-</a>
                <input type="number" value="1" class="count-number" id="item-quantity" data-old="1" data-max-stock="">
                <a href="javascript:void(0);" class="plus">+</a>
              </div>&nbsp;&nbsp;&nbsp;
              <span class="total-stock">
                库存<span class="item-quantity" id="js-item-stock" data-stock="{{_DATA_.item.stockQuantity}}">{{_DATA_.item.stockQuantity}}</span>{{_DATA_.item.extra.unit}}</span>
            </div>
          </div>
        </li>
        <li id="sale-count">
          <div class="control-group">
            <label class="dt sku-items-label" for="input-name">累积销量</label>
            <div class="controls">
              {{#if _DATA_.item.saleQuantity}}{{_DATA_.item.saleQuantity}}{{else}}0{{/if}}
            </div>
          </div>
        </li>
        <li id="choose-btns">
          <button class="btn btn-secondary js-buy-now" type="button">{{i18n "Buy now" bundle="shop_design"}}</button>&nbsp;&nbsp;
          <button class="btn btn-primary js-add-cart" type="button">{{i18n "Add to cart" bundle="shop_design"}}</button>
          <span class="warning-words required" style="display:none;">{{i18n "Please tick the product info you want" bundle="shop_design"}}</span>
          <span class="stock-empty hide required">{{i18n "Insufficient product in inventory" bundle="shop_design"}}，{{i18n "Please choose other item" bundle="shop_design"}}</span>
        </li>
      </ul>
    </div>
    {{else}}
    <div class="item-not-on">
      <div class="status-desc">
        <p>
          {{#equals _DATA_.item.status "0"}}亲，你来早了，{{i18n "This item has not been listed" bundle="shop_design"}}{{/equals}}
          {{#equals _DATA_.item.status "-1"}}亲，你来晚了，{{i18n "This item has been removed from list" bundle="shop_design"}}{{/equals}}
          {{#equals _DATA_.item.status "-2"}}亲，你来晚了，{{i18n "This item is suspend" bundle="shop_design"}}{{/equals}}
          {{#equals _DATA_.item.status "-3"}}亲，你来晚了，{{i18n "This item has been deleted" bundle="shop_design"}}{{/equals}}
        </p>
      </div>
    </div>
    {{/equals}}
  </div>
{{/component}}
