<table class="table">
  <thead>
    <tr>
      <th width="4%">招标ID</th>
      <th width="10%">招标名称</th>
      <th width="8%">项目名称</th>
      <th width="8%">开发商名称</th>
      <th width="15%">专业</th>
      <th width="6%">投标保证金（元）</th>
      <th width="4%">计划工期（天）</th>
      <th width="10%">答疑截止时间</th>
      <th width="10%">回标截止时间</th>
      <th width="10%">投标状态</th>
      <th width="10%">操作</th>
    </tr>
  </thead>
  <tbody>
    {{#if data}}
      {{#each data}}
        <tr>
          <td>{{bidId}}</td>
          <td>{{bidName}}</td>
          <td>{{projectName}}</td>
          <td>{{bidCompany}}</td>
          <td>{{specialityNames}}</td>
          <td>{{bidBonds}}</td>
          <td>{{#if timePlan}}{{timePlan}}{{else}}-{{/if}}</td>
          <td>{{#if qa_deadline}}{{formatDate qa_deadline}}{{else}}-{{/if}}</td>
          <td>{{#if replyDeadline}}{{formatDate replyDeadline}}{{else}}-{{/if}}</td>
          <td>
            {{#equals status -3}}已弃标{{/equals}}
            {{#equals status -1}}入围前弃标{{/equals}}
            {{#equals status 0}}已报名{{/equals}}
            {{#equals status 1}}报名入围{{/equals}}
            {{#equals status 2}}邀请待确认{{/equals}}
            {{#equals status 3}}拒绝邀请{{/equals}}
            {{#equals status 4}}已接受邀请{{/equals}}
            {{#equals status 5}}已入围{{/equals}}
            {{#equals status 6}}待回标{{/equals}}
            {{#equals status 7}}已回标{{/equals}}
            {{#equals status 8}}待澄清{{/equals}}
            {{#equals status 9}}澄清完成{{/equals}}
            {{#equals status 10}}已回标，中标待确认{{/equals}}
            {{#equals status 11}}澄清完成，中标待确认{{/equals}}
            {{#equals status 12}}已回标，中标{{/equals}}
            {{#equals status 13}}澄清完成，中标{{/equals}}
            {{#equals status 14}}已回标，未中标{{/equals}}
            {{#equals status 15}}澄清完成，未中标{{/equals}}
          </td>
          <td>
            {{#of status "-1, -3"}}
            {{else}}
              <a href="/supplier/bids-details/notice?bidId={{bidId}}&id={{id}}">查看详情</a><br>
            {{/of}}
            {{#equals status 2}}
              <a href="javascript:;" class="js-bids-invite" data-id="{{id}}">接受邀请</a><br>
              <a href="javascript:;" class="js-bids-reject" data-id="{{id}}">拒绝邀请</a><br>
            {{/equals}}
            {{#equals status 6}}
              <a href="/supplier/bids-details/reply-file?bidId={{bidId}}&id={{id}}">发起回标</a><br>
              <a href="javascript:;" class="js-bids-abandon" data-id="{{id}}">弃标</a><br>
            {{/equals}}
            {{#equals status 7}}
              <a href="javascript:;" class="js-bids-undo" data-id="{{id}}">撤回投标</a><br>
            {{/equals}}
            {{#equals status 8}}
              <a href="/supplier/bids-details/clarify-file?bidId={{bidId}}&id={{id}}">回复澄清</a><br>
            {{/equals}}
          </td>
        </tr>
      {{/each}}
    {{else}}
      <tr>
        <td class="center-text" colspan="11">暂无招标！</td>
      </tr>
    {{/if}}
  </tbody>
</table>
