<div class="modal">
  <div class="modal-header">
    <h2>{{i18n "Return Address" bundle="shop"}}</h2>
  </div>
  <form class="form form-aligned address-form" id="address-form" data-id="{{data.id}}">
    <fieldset>
      <div class="address-edit-form modal-dialog" data-address="{{json this}}">
        <div class="control-group">
          <label for="name"><span class="required">*</span>{{i18n "Recipient" bundle="shop"}}:</label>
          {{#if data.id}}
          <input name="id" type="text" style="display:none;" id="addressId" value="{{data.id}}">
          {{/if}}
          {{#if userId}}
          <input name="userId" type="text" style="display:none;" id="userId" value="{{userId}}">
          {{/if}}
          <input id="sites-id" name="name" type="text" placeholder="{{i18n "Please enter recipient name" bundle="shop"}}" value="{{data.name}}" maxLength="25" pattern="^.{2,25}$" required>
          <span class="note"><i>&times;</i> {{i18n "Name must be in between 2-25 characters" bundle="shop"}}</span>
          <span class="note-error"><i>&times;</i> {{i18n "Name must be in between 2-25 characters" bundle="shop"}}</span>
          <span class="note-error-empty"><i>&times;</i> {{i18n "Name must be in between 2-25 characters" bundle="shop"}}</span>
        </div>
        <div class="control-group">
          <label for="mobile-phone"><span class="required">*</span>{{i18n "Phone no" bundle="shop"}}:</label>
          <input id="mobile-phone" name="mobile" type="{{#if properties.symbol.validator.mobile}}text{{else}}mobile{{/if}}" {{#if properties.symbol.validator}}pattern="{{properties.symbol.validator.mobile}}"{{/if}}  class="control" placeholder="{{i18n "Please enter phone number" bundle="shop"}}" value="{{data.mobile}}" required>
          <span class="note"><i>&times;</i> {{i18n "Required, cannot be empty" bundle="shop"}}</span>
          <span class="note-error"><i>&times;</i> {{i18n "Please enter a correct mobile number" bundle="shop"}}</span>
          <span class="note-error-empty"><i>&times;</i> {{i18n "Mobile number cannot be empty" bundle="shop"}}</span>
        </div>
        <div class="control-group">
          <label for="province"><span class="required">*</span>{{i18n "Return Address" bundle="shop"}}:</label>
          <div class="address-select-group">
            <select name="provinceId" class="address-select" data-level="1">
              {{#if data.provinceId}}
              <option value="{{data.provinceId}}" selected></option>
              {{/if}}
            </select>
            &nbsp;
            <select name="cityId" class="address-select" data-level="2">
              {{#if data.cityId}}
              <option value="{{data.cityId}}" selected></option>
              {{/if}}
            </select>
            &nbsp;
            <select name="regionId" class="address-select" data-level="3">
              {{#if data.regionId}}
              <option value="{{data.regionId}}" selected></option>
              {{/if}}
            </select>
            &nbsp;
            <select name="streetId" class="address-select" data-level="4">
              {{#if data.streetId}}
              <option value="{{data.streetId}}" selected></option>
              {{/if}}
            </select>
          </div>
          {{#if data.isCookie}}
            <input type="hidden" name="provinceCode" value="{{data.provinceCode}}">
            <input type="hidden" name="cityCode" value="{{data.cityCode}}">
            <input type="hidden" name="districtCode" value="{{data.districtCode}}">
            <input type="hidden" name="streetCode" value="{{data.streetCode}}">
          {{/if}}
        </div>
        <div class="control-group">
          <label for="street"><span class="required">*</span>{{i18n "Street Address" bundle="shop"}}:</label>
          <textarea id="street-address" name="street" type="text" placeholder="{{i18n "Please enter street address" bundle="shop"}}" pattern="^.{5,120}$" maxLength="120" required>{{data.street}}</textarea>
          <span class="note-error"><i>&times;</i> {{i18n "Address must be in 5-120 characters" bundle="shop"}}</span>
          <span class="note-error-empty"><i>&times;</i> {{i18n "Required, cannot be empty" bundle="shop"}}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-medium" type="submit">{{i18n "Confirm" bundle="shop"}}</button>
        <button class="btn btn-info btn-medium close">{{i18n "Cancel" bundle="shop"}}</button>
      </div>
    </fieldset>
  </form>

</div>
