<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/styles/vendor.css">
    <link rel="stylesheet" href="/assets/styles/eevee-layout.css">
    {{#if _DESIGN_MODE_}}
      <link rel="stylesheet" href="/assets/fonts/iconfont.css" />
      <link rel="stylesheet" href="/assets/styles/eevee-editing.css">
      <link rel="stylesheet" href="/assets/styles/eevee-components-vendor.css">
    {{/if}}
    <!-- pokeball iconfont ,修改请找端点王凯凯 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1466485617_047616.css" />
    <!-- feebas 前台的iconfont，请修改这个链接 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1472796601_898042.css" />
    <link rel="stylesheet" href="/assets/styles/app-front.css" />
    <script>
      !function(e,t,n,s,a,c,i){e[a]=e[a]||function(){(e[a].q=e[a].q||[]).push(arguments)},c=t.createElement(n),i=t.getElementsByTagName(n)[0],c.async=1,c.src=s,i.parentNode.insertBefore(c,i)}(window,document,"script","//static.terminus.io/ta.js","$ta");
      $ta('start',{ udata: { uid: {{#if _USER_}}{{_USER_.id}}{{else}}0{{/if}} }{{#if _TERMINUS_KEY_}}, ak: '{{_TERMINUS_KEY_}}'{{/if}} })
    </script>
  </head>
  <body data-design="{{_DESIGN_MODE_}}" style="background-color: #ffffff;">
    {{> tool}}
    {{{block "body"}}}
    <script src="/assets/scripts/vendor.js"></script>
    <script src="/assets/scripts/templates-front.js"></script>
    <script src="/assets/scripts/app-front.js"></script>
    {{!--<script src="https://qiyukf.com/script/6ca792e0c81e77d5c65db9893f288e3c.js" defer async></script>--}}
    <script>
      {{i18nEnv}}
      i18nIniter({
        cache: { enable: false },
        resourceFormat: 'json',
        callback: function() {
          require("app")()
        }
      });
    </script>
  </body>
</html>
