<div class="bids-group">
  <div class="bids-title">
    <label>答疑记录</label>
  </div>
  <div class="bids-content">
    <table class="table">
      <thead>
        <tr>
          <th width="10%">答疑次数</th>
          <th width="25%">答疑截止时间</th>
          <th width="20%">问题总数</th>
          <th width="20%">提问供应商数</th>
          <th width="25%">操作</th>
        </tr>
      </thead>
      <tbody>
        {{#if _ANSWERS_}}
          {{#each _ANSWERS_}}
            <tr>
              <td>{{add @index 1}}</td>
              <td>{{#if answerDeadline}}{{formatDate answerDeadline 'day'}}{{else}}-{{/if}}</td>
              <td>{{#if totalQuestions}}{{totalQuestions}}{{else}}0{{/if}}</td>
              <td>{{#if totalSuppliers}}{{totalSuppliers}}{{else}}0{{/if}}</td>
              <td>
                {{#equals ../bidStatus 18}}
                  <a href="javascript:;" data-toggle="confirm" data-event="confirm:answerLink"  data-title="是否确认跳转？" data-content="已定标，不能提交答疑，是否确认跳转?" data-id="{{answerId}}">查看详情</a>
                {{else}}
                  <a href="/developer/bids-details/answer-details?answerId={{answerId}}&bidId={{../bidId}}" target="_blank">查看详情</a>
                {{/equals}}
              </td>
            </tr>
          {{/each}}
        {{else}}
          <tr>
            <td class="center-text" colspan="8">暂无发标记录！</td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>
