<div class="bids-group">
  <div class="bids-title">
    <label>澄清清单</label>
  </div>
  <div class="bids-content">
    <table class="table">
      <thead>
        <tr>
          <th width="20%">清单名称</th>
          <th width="20%">创建时间</th>
          <th width="20%">生效时间</th>
          <th width="">回复状态</th>
          <th width="">备注</th>
          <th width="20%">操作</th>
        </tr>
      </thead>
      <tbody>
        <div>
          {{#if clarifyInventory}}
            {{#each clarifyInventory}}
              <tr class="js-tr-item">
                <td class="td-active">{{filename}}</td>
                <td>{{formatDate createdAt}}</td>
                <td>{{formatDate effectiveDate}}</td>
                <td>
                  {{#equals replyStatus 0}}<span class="status-invalid">未回复</span>{{/equals}}
                  {{#equals replyStatus 1}}<span class="status-success">已回复</span>{{/equals}}
                </td>
                <td>{{#if remark}}{{remark}}{{else}}-{{/if}}</td>
                <td>
                  {{#equals replyStatus 0}}
                    <a href="javascript:;" data-bill-id="{{fileUrl}}" data-bid-id="{{bidId}}" data-connect-id="{{../id}}" class="js-list-edit">回复清单</a>
                  {{else}}
                    -
                  {{/equals}}
                </td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
              <td class="center-text" colspan="6">暂无澄清清单！</td>
            </tr>
          {{/if}}
        </div>
      </tbody>
    </table>
  </div>
</div>
