<table class="table center-text" data-data="{{json _DATA_}}">
  <thead>
    <tr>
      <th width="15%">用户信息</th>
      <th width="20%">公司</th>
      <th width="15%">手机</th>
      <th width="20">注册时间</th>
      <th width="10%">角色</th>
      <th width="10%">状态</th>
      <th class="td-operation" width="10%">操作</th>
    </tr>
  </thead>
  <tbody>
    {{#each _DATA_.data}}
      <tr>
        <td>{{realName}}<br/>ID:{{userId}}</td>
        <td>{{#if companyName}}{{companyName}}{{else}}-{{/if}}</td>
        <td>{{#if mobile}}{{mobile}}{{else}}-{{/if}}</td>
        <td>{{formatDate createdAt "withT"}}</td>
        <td>{{#if roleName}}{{roleName}}{{else}}-{{/if}}</td>
        <td>
          {{#mapping status}}
          {
            "0": "未激活",
            "1": "正常",
            "2": "邀请中",
            "-1": "锁定",
            "-2": "冻结",
            "-3": "解绑",
            "-4": "拒绝"
          }
          {{/mapping}}
        </td>
        <td class="td-operation">
          <a href="javascript:;" class="js-edit-account" data-info="{{json this}}">编辑</a><br/>
          {{#equals userId ../_USER_.id}}
          {{else}}
            {{#equals status 1}}
              <a href="javascript:;" data-id="{{userId}}" data-toggle="confirm" data-title="解除操作？" data-content="解除公司关联？" data-event="confirm:change-unbind">解绑</a>
            {{/equals}}
            {{#equals status -3}}
              <a href="javascript:;" data-id="{{userId}}" data-toggle="confirm" data-title="关联操作？" data-content="该用户重新关联本公司？" data-event="confirm:change-bind">重新绑定</a>
            {{/equals}}
            {{#equals status -4}}
              <a href="javascript:;" data-id="{{userId}}" data-toggle="confirm" data-title="重新邀请？" data-content="确定要重新邀请该用户吗？" data-event="confirm:rejoin">重新邀请</a>
            {{/equals}}
          {{/equals}}
        </td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="9">{{inject "common/pagination" total=_DATA_.total}}</td>
    </tr>
  </tfoot>
</table>