<table class="table table-horizontal center-text" data-data="{{json _DATA_}}">
  <thead>
    <tr>
      <th>公司</th>
      <th>角色</th>
      <th>加入时间</th>
      <th>状态</th>
      <th class="td-operation">操作</th>
    </tr>
  </thead>
  <tbody>
    {{#each _DATA_}}
      <tr>
        <td>{{companyName}}</td>
        <td>{{#if roleName}}{{roleName}}{{else}}-{{/if}}</td>
        <td>{{formatDate createdAt "withT"}}</td>
        <td>
          {{#mapping status}}
          {
            "1": "已加入",
            "2": "邀请中"
          }
          {{/mapping}}
        </td>
        <td class="td-operation">
          {{#equals status '1'}}
            <a href="javascript:;" data-id="{{companyId}}" data-toggle="confirm" data-title="退出？" data-content="您确定退出该公司吗？" data-event="confirm:quit">退出</a>
          {{else}}
            <a href="javascript:;" data-id="{{id}}" data-toggle="confirm" data-title="接受邀请？" data-content="您确定要接受这家公司的邀请吗？" data-event="confirm:accept">接受</a>
            <a href="javascript:;" data-id="{{id}}" data-toggle="confirm" data-title="拒绝邀请？" data-content="您确定要拒绝这家公司的邀请吗？" data-event="confirm:refuse">拒绝</a>
          {{/equals}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>