{{#component "bids-approval js-comp"}}
  {{#with _DATA_}}
    <span class="js-approval-status" data-need-approve="{{needApprove}}"></span>
    {{#gt status -3}}
      {{> component:developer/bids/bids_approval/log/backend_templates/progress step=status}}
      {{> component:developer/bids/bids_approval/log/backend_templates/table}}
    {{/gt}}
    {{#gt status -1}}
      {{#equals ../_USER_.id approverId}}
        <div class="bids-group no-padding">
          <div class="bids-content">
            <div class="control-group">
              <input type="text" name="opinion" class="input-large" placeholder="输入审批意见">
            </div>
            <div class="control-group">
              <a href="javascript:;" class="btn btn-primary js-bids-approval-submit" data-status="1" data-type="{{../type}}" data-id="{{../connectId}}">审批通过</a>
              <a href="javascript:;" class="btn btn-info js-bids-approval-submit" data-status="0" data-type="{{../type}}" data-id="{{../connectId}}">审批不通过</a>
            </div>
          </div>
        </div>
      {{/equals}}
    {{/gt}}
  {{/with}}
{{/component}}
