<div class="modal" data-id="{{json this}}">
  <div class="modal-header">
    <h2>运费模板配置</h2>
  </div>
  <form class="form form-aligned freight-form" data-id="{{data.id}}" data-area="{{areas}}">
    <div class="modal-body">
      {{#if data.deliveryFeeTemplateId}}
        <input type="hidden" name="deliveryFeeTemplateId" value="{{data.deliverFeeTemplateId}}">
        <div class="form-left">
          {{> "shop/freight/all_templates/_province_list"}}
        </div>
        <div class="form-right">
      {{/if}}
      <input type="hidden" name="id" value="{{data.id}}">
      <div class="control-group">
        <label for="freight-name"><span class="required">*</span>运费模板名称：</label>
        {{#if data.deliveryFeeTemplateId}}
          <span>{{data.name}}</span>
        {{else}}
          <input name="name" type="text" placeholder="请输入运费模板名称" pattern="^[\d_a-zA-Z\u4E00-\u9FA5]{1,45}$" maxLength="45" value="{{data.name}}" required>
          <span class="note"> 运费模板不超过45个字符</span>
          <span class="note-error"> 运费模板由中英文数字组成，最多45个字符</span>
        {{/if}}
      </div>
      <div class="control-group">
        <label><span class="required">*</span>是否包邮：</label>
        <label class="label-list"><input name="isFree" type="radio" value="false" {{#equals data.isFree true}}checked{{else}}{{#unless data.isFree}}checked{{/unless}}{{/equals}}> 自定义运费</label>
        <label class="label-list"><input name="isFree" type="radio" value="true" {{#equals data.isFree true}}checked{{/equals}}> 商家承担运费</label>
      </div>
      <div class="control-group">
        <label><span class="required">*</span>运送方式：</label>
        <label class="label-list"><input name="deliverMethod" type="radio" value="1" {{#equals data.deliverMethod 1}}checked{{else}}{{#unless data.deliverMethod}}checked{{/unless}}{{/equals}}> 快递</label>
        <label class="label-list"><input name="deliverMethod" type="radio" value="2" {{#equals data.deliverMethod 2}}checked{{/equals}}> EMS</label>
        <label class="label-list"><input name="deliverMethod" type="radio" value="3" {{#equals data.deliverMethod 3}}checked{{/equals}}> 平邮</label>
      </div>
      <div class="control-group toggleFree {{#if data.isFree}}hide{{/if}}">
        <label><span class="required">*</span>计价方式：</label>
        <label class="label-list"><input name="chargeMethod" type="radio" value="2" {{#equals data.chargeMethod 2}}checked{{else}}{{#unless data.chargeMethod}}checked{{/unless}}{{/equals}}> 固定运费</label>
        <label class="label-list"><input name="chargeMethod" type="radio" value="1" {{#equals data.chargeMethod 1}}checked{{/equals}}> 按计量单位计算</label>
      </div>
      <div class="controls freight-rules toggleFree {{#if data.isFree}}hide{{/if}} {{#if data.chargeMethod}}{{#equals data.chargeMethod 1}}hide1{{/equals}}{{/if}}" data-chargemethod="2">
        <p class="rule-item">所有商品 <input type="text" class="input-small" name="fee" pattern="^\d{1,4}(\.\d{1,2})?$" value="{{#if data.fee}}{{formatPrice data.fee}}{{else}}0{{/if}}"> 元</p>
      </div>
      <div class="controls freight-rules toggleFree {{#if data.isFree}}hide{{/if}} {{#if data.chargeMethod}}{{#equals data.chargeMethod 2}}hide1{{/equals}}{{else}}hide1{{/if}}" data-chargemethod="1">
        <p class="rule-item sp">
          <input type="text" class="input-small sp" name="initAmount" pattern="^\d{1,4}(\.\d{1})?$" value="{{#if data.initAmount}}{{divide data.initAmount 10}}{{else}}0{{/if}}"> 个计量单位内，运费 <input type="text" class="input-small sp" name="initFee" pattern="^\d{1,4}(\.\d{1,2})?$" value="{{#if data.initFee}}{{formatPrice data.initFee}}{{else}}0{{/if}}"> 元
          <br>
          每增加 <input type="text" class="input-small sp" name="incrAmount" pattern="^\d{1,4}(\.\d{1})?$" value="{{#if data.incrAmount}}{{divide data.incrAmount 10}}{{else}}0{{/if}}"> 个计量单位，运费增加 <input type="text" class="input-small sp" name="incrFee" pattern="^\d{1,4}(\.\d{1,2})?$" value="{{#if data.incrFee}}{{formatPrice data.incrFee}}{{else}}0{{/if}}"> 元</p>
      </div>
      {{#if data.deliverFeeTemplateId}}
        </div>
      {{/if}}
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-success btn-medium" value="确定">
      <button class="btn btn-info btn-medium close">关闭</button>
    </div>
  </form>
</div>
