{{#component "component-analysis-type js-comp"}}
<div class="menu analysis-left">
  <ul>
    <li id="project_sum">
      <a href="/list/analysis/project_sum?bidId={{bidId}}&billId={{billId}}">工程项目投标价汇总表</a>
    </li>
    <li id="project_single">
      <a href="/list/analysis/project_single?bidId={{bidId}}&billId={{billId}}">单项工程投标价汇总表</a>
    </li>
    <li id="unit_project">
      <a href="/list/analysis/unit_project?bidId={{bidId}}&billId={{billId}}">单位工程投标价汇总表</a>
    </li>
    <li class="branch_project">
      <a href="/list/analysis/branch_project?bidId={{bidId}}&billId={{billId}}">分部分项工程费汇总表</a>
    </li>
    <li class="">
      <a href="/list/analysis/project_single?bidId={{bidId}}&billId={{billId}}">其他项目清单与计价汇总表</a>
    </li>
    <li class="">
      <a href="/list/analysis/project_single?bidId={{bidId}}&billId={{billId}}">单位工程人工费汇总表</a>
    </li>
    <li class="">
      <a href="/list/analysis/project_single?bidId={{bidId}}&billId={{billId}}">单位工程材料费汇总表</a>
    </li>
    <li class="">
      <a href="/list/analysis/project_single?bidId={{bidId}}&billId={{billId}}">单位工程机械费汇总表</a>
    </li>
    <li class="">
      <a href="/list/analysis/project_single?bidId={{bidId}}&billId={{billId}}">甲供材汇总表</a>
    </li>
    <li class="">
      <a href="/list/analysis/project_single?bidId={{bidId}}&billId={{billId}}">人材机进项税汇总</a>
    </li>
    <li class="">
      <a href="/list/analysis/project_single?bidId={{bidId}}&billId={{billId}}">单位工程经济指标报表</a>
    </li>
    <li class="">
      <a href="/list/analysis/project_single?bidId={{bidId}}&billId={{billId}}">分部分项工程经济指标报表</a>
    </li>
  </ul>
</div>
{{/component}}
