<div class="details-header">
  <div class="clearfix">
    <a href="/developer/project-edit?id={{id}}" class="pull-right">编辑</a>
  </div>
  <div class="title">{{name}}</div>
  <div class="project-type">
    {{#equals type 1}}住宅{{/equals}}
    {{#equals type 2}}商业{{/equals}}
    {{#equals type 3}}旅游{{/equals}}
    {{#equals type 4}}综合体{{/equals}}
  </div>
  <div class="project-address">
    <span>{{province}}&nbsp;&nbsp;</span>
    <span>{{city}}&nbsp;&nbsp;</span>
    <span>{{addressDetail}}&nbsp;&nbsp;</span>
  </div>
</div>
